$rounded_size: 4px,
6px,
8px;
@each $size in $rounded_size {
    .rounded-#{$size} {
        border-radius: #{$size} !important;
    }
    .rounded-top-#{$size} {
        border-top-left-radius: #{$size} !important;
        border-top-right-radius: #{$size} !important;
    }
    .rounded-right-#{$size} {
        border-top-right-radius: #{$size} !important;
        border-bottom-right-radius: #{$size} !important;
    }
    .rounded-bottom-#{$size} {
        border-bottom-right-radius: #{$size} !important;
        border-bottom-left-radius: #{$size} !important;
    }
    .rounded-left-#{$size} {
        border-bottom-left-radius: #{$size} !important;
        border-top-left-radius: #{$size} !important;
    }
}