$colors: ( 
    "orange": #FC713F, 
    "000": #000, 
    "ffffff": #ffffff, 
    "333333": #333333, 
    "0080DD": #0080DD, 
    "001339": #001339, 
    "F7F7F7": #F7F7F7, 
    "181818": #181818, 
    "585858": #585858, 
    "00419F": #00419F,
    "F2F2F2": #F2F2F2,
    "012355": #012355,
    "F3F3F3": #F3F3F3,
    "8D8D8D": #8D8D8D,
    "5E5E5E": #5E5E5E
);
@each $name,
$code in $colors {
    .color-#{$name} {
        color: $code !important;
    }
    .color-h-#{$name}:hover {
        color: $code !important;
    }
    .border-color-#{$name} {
        border-color: $code !important;
    }
    .border-color-top-#{$name} {
        border-color: $code !important;
    }
    .border-color-right-#{$name} {
        border-color: $code !important;
    }
    .border-color-bottom-#{$name} {
        border-color: $code !important;
    }
    .border-color-left-#{$name} {
        border-color: $code !important;
    }
    .bg-color-#{$name} {
        background-color: $code !important;
    }
    @for $i from 1 through 9 {
        .bg-color-#{$name}-#{$i} {
            background-color: rgba($code, $i*0.1);
        }
    }
}