$sizes: 
96px,
64px,
48px,
40px,
36px,
32px,
30px,
26px,
24px,
20px,
18px,
16px,
15px,
14px,
13px,
12px,
10px,
8px,
4px;
@each $size in $sizes {
    .fz-#{$size} {
        font-size: $size !important;
        // @media (max-width: 768px) {
        //     font-size: $size*0.75!important;
        // }
        // @media (max-width: 576px) {
        //     font-size: $size*0.55!important;
        // }
    }

    .fz-#{$size}-nores {
        font-size: $size !important;
    }

    @each $media, $point in $breakpoints {
        @media (min-width: #{$point}) {
            .fz-#{$media}-#{$size} {
                font-size: $size !important;
            }
        }
    }
}
$weights: 100, 200, 300, 400, 500, 600, 700;
@each $w in $weights {
    .fw-#{$w} {
        font-weight: $w !important;
    }
}

.font-bralow {
    font-family: 'Barlow';
}

.font-sfu-life {
    font-family: "SFU Life";
}

.font-Lora {
    font-family: 'Lora', serif;
}

.text-n-underline {
    text-decoration: none;
}

.text-hv-underline {
    text-decoration: none;
    &:hover { 
        text-decoration: underline;
    }
}