$sizes: 
4px,
7px,
8px,
12px,
15px,
16px,
17px,
20px,
23px,
24px,
25px,
26px,
28px,
30px,
32px,
33px,
35px,
36px,
40px,
48px,
56px,
57px,
63px,
64px,
68px,
70px,
74px,
75px,
76px,
96px,
100px;
@each $size in $sizes {
    .p-#{$size} {
        padding: $size !important;
    }
    .pt-#{$size} {
        padding-top: $size !important;
    }
    .pb-#{$size} {
        padding-bottom: $size !important;
    }
    .py-#{$size} {
        padding-top: $size !important;
        padding-bottom: $size !important;
    }
    .pr-#{$size} {
        padding-right: $size !important;
    }
    .pl-#{$size} {
        padding-left: $size !important;
    }
    .px-#{$size} {
        padding-left: $size !important;
        padding-right: $size !important;
    }
    .m-#{$size} {
        margin: $size !important;
    }
    .mt-#{$size} {
        margin-top: $size !important;
    }
    .mb-#{$size} {
        margin-bottom: $size !important;
    }
    .my-#{$size} {
        margin-top: $size !important;
        margin-bottom: $size !important;
    }
    .mr-#{$size} {
        margin-right: $size !important;
    }
    .ml-#{$size} {
        margin-left: $size !important;
    }
    .mx-#{$size} {
        margin-left: $size !important;
        margin-right: $size !important;
    }
    .mx-r-#{$size} {
        margin-left: -#{$size} !important;
        margin-right: -#{$size} !important;
    }
    @each $media,
    $point in $breakpoints {
        .p-#{$media}-#{$size} {
            @media (min-width: #{$point}) {
                padding: $size !important;
            }
        }
        .pt-#{$media}-#{$size},
        .py-#{$media}-#{$size} {
            @media (min-width: #{$point}) {
                padding-top: $size !important;
            }
        }
        .pr-#{$media}-#{$size},
        .px-#{$media}-#{$size} {
            @media (min-width: #{$point}) {
                padding-right: $size !important;
            }
        }
        .pb-#{$media}-#{$size},
        .py-#{$media}-#{$size} {
            @media (min-width: #{$point}) {
                padding-bottom: $size !important;
            }
        }
        .pl-#{$media}-#{$size},
        .px-#{$media}-#{$size} {
            @media (min-width: #{$point}) {
                padding-left: $size !important;
            }
        }
        .m-#{$media}-#{$size} {
            @media (min-width: #{$point}) {
                margin: $size !important;
            }
        }
        .mt-#{$media}-#{$size},
        .my-#{$media}-#{$size} {
            @media (min-width: #{$point}) {
                margin-top: $size !important;
            }
        }
        .mr-#{$media}-#{$size},
        .mx-#{$media}-#{$size} {
            @media (min-width: #{$point}) {
                margin-right: $size !important;
            }
        }
        .mb-#{$media}-#{$size},
        .my-#{$media}-#{$size} {
            @media (min-width: #{$point}) {
                margin-bottom: $size !important;
            }
        }
        .ml-#{$media}-#{$size},
        .mx-#{$media}-#{$size} {
            @media (min-width: #{$point}) {
                margin-left: $size !important;
            }
        }
    }
}