$zindex-dropdown:                   1000;
$zindex-sticky:                     1020;
$zindex-fixed:                      1030;
$zindex-modal-backdrop:             1040;
$zindex-offcanvas:                  1050;
$zindex-modal:                      1060;
$zindex-popover:                    1070;
$zindex-tooltip:                    1080;

.zindex-dropdown {
    z-index: 1000;
}
.zindex-sticky {
    z-index: 1020;
}
.zindex-fixed {
    z-index: 1030;
}
.zindex-modal {
    z-index: 1040;
}
.zindex-offcanvas {
    z-index: 1050;
}
.zindex-modal {
    z-index: 1060;
}
.zindex-popover {
    z-index: 1070;
}
.zindex-tooltip {
    z-index: 1080;
}