<footer>
    <div class="footer">
        <div class="ft-top">
            <div class="container">
                <div class="_logo-ft mb-3">
                    <a href="/"><img src="../assets/images/logo-header-black.png" alt="#"></a>
                </div>
                <div class="wrap-ft">
                    <div class="ft-left">
                        <p class="t-left">Powered by C.OPE2N & CMC Cloud</p>
                        <form>
                            <input type="email" class="form-control" placeholder="Email address">
                            <button type="submit" class="btn btn-take text-uppercase bg-color-00419F btn-hover">nhận</button>
                        </form>
                    </div>
                    <div class="ft-right">
                        <div class="mn-ft">
                            <ul class="">
                                <li li><a href="./ve-chung-toi.html">Về chúng tôi</a></li>
                                <li><a href="./lien-he.html">Liên hệ</a></li>
                                <li><a href="./faq.html">Hỏi đáp</a></li>
                                <li><a href="./dieu-khoan-su-dung.html"> Điều khoản sử dụng</a></li>
                                <li><a href="./cookies.html">Cookies</a></li>
                            </ul>
                        </div>
                        <div class="mxh-ft">
                            <ul>
                                <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-rss" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ft-bottom">
            <div class="container">
                <p>© Copyrights 2021 CMC Telecom. All Rights Reserved.</p>
            </div>
        </div>
    </div>
</footer>