<header class="js-header header d-md-flex position-fixed zindex-fixed top-0 justify-content-between align-items-center w-100 border-bottom border-color-D6D6D6">
    <div class="d-flex align-items-center">
        <a href="#js-site-menu" class="js-menu-hamburger header-btn-triggle">
            <span></span>
            <span></span>
            <span></span>
        </a>
        <a class="header-logo position-relative" href="./index.html">
            <img class="d-block" src="../assets/images/iPing-Logo-Final.svg" alt="#">
            <img class="d-none" src="../assets/images/logo-header-white-new.png" alt="#">
        </a>
        <ul class="header-lg-menu d-none d-xl-flex mb-0 pr-xl-20px ms-xl-3 ms-xxl-5">
            <li class="has-children">
                <a href="#">Lĩnh vực kinh doanh</a>
                <ul class="is-grid-3">
                    <li><a href="./linh-vuc-kinh-doanh-tq.html">Ngành Bán Lẻ</a></li>
                    <li><a href="./linh-vuc-kinh-doanh-tq.html">Ngành Y Dược</a></li>
                    <li><a href="./linh-vuc-kinh-doanh-tq.html">Ngành Dầu Khí</a></li>
                    <li><a href="./linh-vuc-kinh-doanh-tq.html">Ngành Điện Tử Điện Lạnh</a></li>
                    <li><a href="./linh-vuc-kinh-doanh-tq.html">Ngành Nông Sản</a></li>
                    <li><a href="./linh-vuc-kinh-doanh-tq.html">Ngành Tài Chính Ngân Hàng</a></li>
                    <li><a href="./linh-vuc-kinh-doanh-tq.html">Ngành Bất Động Sản</a></li>
                    <li><a href="./linh-vuc-kinh-doanh-tq.html">Ngành Du Lịch</a></li>
                    <li><a href="./linh-vuc-kinh-doanh-tq.html">Ngành Vận Chuyển</a></li>
                    <li><a href="./linh-vuc-kinh-doanh-tq.html">Ngành Truyền Thông</a></li>
                    <li><a href="./linh-vuc-kinh-doanh-tq.html">Ngành Hóa Học</a></li>
                    <li><a href="./linh-vuc-kinh-doanh-tq.html">Ngành Hàng Không </a></li>
                    <li><a href="./linh-vuc-kinh-doanh-tq.html">Ngành Hàng Tiêu Dùng</a></li>
                    <li><a href="./linh-vuc-kinh-doanh-tq.html">Ngành Năng Lượng Điện</a></li>
                    <li><a href="./linh-vuc-kinh-doanh-tq.html">Hệ Thống Chăm Sóc Sức Khỏe</a></li>
                    <li><a href="./linh-vuc-kinh-doanh-tq.html">Lâm Sản & Bao Bì</a></li>
                    <li><a href="./linh-vuc-kinh-doanh-tq.html">Xây Dựng & Vật Liệu Xây Dựng</a></li>
                    <li><a href="./linh-vuc-kinh-doanh-tq.html">Cơ Sở Hạ Tầng</a></li>
                </ul>
            </li>
            <li>
                <a href="./cau-chuyen-thanh-cong.html">Câu chuyện thành công</a>
            </li>
            <li class="has-children is-right">
                <a href="#">Giải pháp chuyển đổi số</a>
                <ul>
                    <div class="sub-menu w-100">
                        <div class="row">
                            <div class="col-md-8">
                                <h3 class="pb-20px mb-30px border-bottom border-color-5E5E5E fz-18px color-ffffff">THEO GIẢI PHÁP</h3>
                                <ul class="is-grid is-grid-2">
                                    <li><a href="./giai-phap-chuyen-doi-so.html">Tăng trưởng doanh thu</a></li>
                                    <li><a href="./giai-phap-chuyen-doi-so.html">Tối ưu quản trị vận hành và chi phí</a></li>
                                    <li><a href="./giai-phap-chuyen-doi-so.html">Sáng tạo đổi mới mô hình kinh doanh</a></li>
                                    <li><a href="./giai-phap-chuyen-doi-so.html">Quản trị nhân sự</a></li>
                                    <li><a href="./giai-phap-chuyen-doi-so.html">Quản trị sản xuất</a></li>
                                    <li><a href="./giai-phap-chuyen-doi-so.html">Quản trị kho bãi</a></li>
                                    <li><a href="./giai-phap-chuyen-doi-so.html">Quản trị giao nhận</a></li>
                                    <li><a href="./giai-phap-chuyen-doi-so.html">Quản trị bán hàng</a></li>
                                    <li><a href="./giai-phap-chuyen-doi-so.html">Quản trị văn phòng</a></li>
                                    <li><a href="./giai-phap-chuyen-doi-so.html">Quản trị công nghệ</a></li>
                                </ul>
                            </div>
                            <div class="col-md-4">
                                <h3 class="pb-20px mb-30px border-bottom border-color-5E5E5E fz-18px color-ffffff">THEO TÍNH NĂNG</h3>
                                <ul>
                                    <li><a href="./all-san-pham.html">IaaS</a></li>
                                    <li><a href="./all-san-pham.html">PaaS</a></li>
                                    <li><a href="./all-san-pham.html">SaaS</a></li>
                                    <li><a href="./all-san-pham.html">5G & IoT</a></li>
                                    <li><a href="./all-san-pham.html">Data Analytics</a></li>
                                    <li><a href="./all-san-pham.html">AI & Machine Learning</a></li>
                                    <li><a href="./all-san-pham.html">Security</a></li>
                                    <li><a href="./all-san-pham.html">Intelligent Workspace</a></li>
                                </ul>
                            </div>
                        </div>
                        <a class="d-inline-block px-5 py-15px fw-bold fz-14px text-uppercase text-decoration-none color-ffffff bg-color-00419F btn-hover" href="./all-san-pham.html">XEM TÂT CẢ SẢN PHẨM</a>
                    </div>
                </ul>
            </li>
            <li>
                <a href="./ho-so-chuyen-gia.html">Hồ sơ chuyên gia</a>
            </li>
        </ul>
    </div>
    <div class="d-none d-xl-flex align-items-center"> 
        <ul class="d-md-flex align-items-center mb-0 me-lg-4 me-xxl-4">
            <li><a class="px-lg-2 px-xxl-3 fw-500 text-decoration-none color-333333 fz-xxl-16px text-nowrap border-end border-color-585858 color-h-00419F" href="./lien-he.html">Liên hệ</a></li>
            <li><a class="js-open-popup-login px-lg-2 px-xxl-3 fw-500 text-decoration-none color-00419F fz-xxl-16px text-nowrap border-end border-color-585858" href="">Đăng nhập</a></li>
            <li><a class="js-open-popup-register px-lg-2 px-xxl-3 fw-500 text-decoration-none color-00419F fz-xxl-16px text-nowrap border-end border-color-585858" href="">Đăng ký</a></li>
            <li><a class="js-search-trigger px-lg-2 px-xxl-3 fw-500 text-decoration-none color-00419F fz-xxl-16px text-nowrap" href=""><img class="header-lg-search-img" src="../assets/images/icon-search.png" alt=""></a></li>
        </ul>
    </div>
    <form class="js-header-popup-search header-popup-search" action="#">
        <div class="wrap-search-header w-100">
            <div class="input-search w-100 h-100">
                <input class="js-search-focus input-search-header" id="input-search-header" type="text" placeholder="Tìm sản phẩm, giải pháp, tính năng mong muốn ...">
                <button type="button" class="js-btn-open-search _img">
                    <img src="../assets/images/icon-search.png" alt="#">
                </button>
                <a href="javascript:void(0);" class="js-btn-close-search d-none _close">
                    <img src="../assets/images/icon-close.png" alt="#">
                </a>
            </div>
            <ul class="option-search">
                <li><a href="javascript:void(0);">Giảm 30% phí dịch vụ Cloud + Coupon 500k</a><span class="icon-option icon-percent">%</span></li>
                <li><a href="javascript:void(0);">CRM</a><span class="icon-option icon-remove"></span></li>
                <li><a href="javascript:void(0);">Cloud camera</a><span class="icon-option icon-remove"></span></li>
            </ul>
        </div>
    </form>
    <div class="overlay"></div>
    <div class="js-header-popup-menu header-popup-menu">
        <ul>
            <li class="has-children is-active">
                <a href="#">Lĩnh vực kinh doanh</a>
                <div class="sub-menu">
                    <a href="javascript:void(0)" class="js-prev-menu _btn-close d-md-none"><img src="../assets/images/icon-arrow-left.png" alt="#"></a>
                    <div class="w-100">
                        <h3 class="sub-menu-title fw-700 w-100 pb-4 mb-3 border-bottom">Lĩnh vực kinh doanh</h3>
                        <ul class="is-grid-3">
                            <li><a href="./linh-vuc-kinh-doanh-tq.html">Ngành Bán Lẻ</a></li>
                            <li><a href="./linh-vuc-kinh-doanh-tq.html">Ngành Y Dược</a></li>
                            <li><a href="./linh-vuc-kinh-doanh-tq.html">Ngành Dầu Khí</a></li>
                            <li><a href="./linh-vuc-kinh-doanh-tq.html">Ngành Điện Tử Điện Lạnh</a></li>
                            <li><a href="./linh-vuc-kinh-doanh-tq.html">Ngành Nông Sản</a></li>
                            <li><a href="./linh-vuc-kinh-doanh-tq.html">Ngành Tài Chính Ngân Hàng</a></li>
                            <li><a href="./linh-vuc-kinh-doanh-tq.html">Ngành Bất Động Sản</a></li>
                            <li><a href="./linh-vuc-kinh-doanh-tq.html">Ngành Du Lịch</a></li>
                            <li><a href="./linh-vuc-kinh-doanh-tq.html">Ngành Vận Chuyển</a></li>
                            <li><a href="./linh-vuc-kinh-doanh-tq.html">Ngành Truyền Thông</a></li>
                            <li><a href="./linh-vuc-kinh-doanh-tq.html">Ngành Hóa Học</a></li>
                            <li><a href="./linh-vuc-kinh-doanh-tq.html">Ngành Hàng Không </a></li>
                            <li><a href="./linh-vuc-kinh-doanh-tq.html">Ngành Hàng Tiêu Dùng</a></li>
                            <li><a href="./linh-vuc-kinh-doanh-tq.html">Ngành Năng Lượng Điện</a></li>
                            <li><a href="./linh-vuc-kinh-doanh-tq.html">Hệ Thống Chăm Sóc Sức Khỏe</a></li>
                            <li><a href="./linh-vuc-kinh-doanh-tq.html">Lâm Sản & Bao Bì</a></li>
                            <li><a href="./linh-vuc-kinh-doanh-tq.html">Xây Dựng & Vật Liệu Xây Dựng</a></li>
                            <li><a href="./linh-vuc-kinh-doanh-tq.html">Cơ Sở Hạ Tầng</a></li>
                        </ul>
                    </div>
                </div>
            </li>
            <li>
                <a href="./cau-chuyen-thanh-cong.html">Câu chuyện thành công</a>
            </li>
            <li class="has-children">
                <a href="#">Giải pháp chuyển đổi số</a>
                <div class="sub-menu">
                    <a href="javascript:void(0)" class="js-prev-menu _btn-close d-md-none"><img src="../assets/images/icon-arrow-left.png" alt="#"></a>
                    <div class="w-100">
                        <h3 class="sub-menu-title fw-700 w-100 pb-4 mb-3 border-bottom">Giải pháp chuyển đổi số</h3>
                        <div class="mt-30px row">
                            <div class="col-lg-8 mb-3">
                                <p class="mb-25px fz-12px fw-700">THEO GIẢI PHÁP</p>
                                <div class="row">
                                    <a href="./giai-phap-chuyen-doi-so.html" class="d-block col-lg-6 mb-20px color-000 color-h-012355">Tăng trưởng doanh thu</a>
                                    <a href="./giai-phap-chuyen-doi-so.html" class="d-block col-lg-6 mb-20px color-000 color-h-012355">Tối ưu quản trị vận hành và chi phí</a>
                                    <a href="./giai-phap-chuyen-doi-so.html" class="d-block col-lg-6 mb-20px color-000 color-h-012355">Sáng tạo đổi mới mô hình kinh doanh</a>
                                    <a href="./giai-phap-chuyen-doi-so.html" class="d-block col-lg-6 mb-20px color-000 color-h-012355">Quản trị nhân sự</a>
                                    <a href="./giai-phap-chuyen-doi-so.html" class="d-block col-lg-6 mb-20px color-000 color-h-012355">Quản trị sản xuất</a>
                                    <a href="./giai-phap-chuyen-doi-so.html" class="d-block col-lg-6 mb-20px color-000 color-h-012355">Quản trị kho bãi</a>
                                    <a href="./giai-phap-chuyen-doi-so.html" class="d-block col-lg-6 mb-20px color-000 color-h-012355">Quản trị giao nhận</a>
                                    <a href="./giai-phap-chuyen-doi-so.html" class="d-block col-lg-6 mb-20px color-000 color-h-012355">Quản trị bán hàng</a>
                                    <a href="./giai-phap-chuyen-doi-so.html" class="d-block col-lg-6 mb-20px color-000 color-h-012355">Quản trị văn phòng</a>
                                    <a href="./giai-phap-chuyen-doi-so.html" class="d-block col-lg-6 mb-20px color-000 color-h-012355">Quản trị công nghệ</a>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <p class="mb-25px fz-12px fw-700">THEO TÍNH NĂNG</p>
                                <a href="./all-san-pham.html" class="d-block mb-20px color-000 color-h-012355">IaaS</a>
                                <a href="./all-san-pham.html" class="d-block mb-20px color-000 color-h-012355">PaaS</a>
                                <a href="./all-san-pham.html" class="d-block mb-20px color-000 color-h-012355">SaaS</a>
                                <a href="./all-san-pham.html" class="d-block mb-20px color-000 color-h-012355">5G & IoT</a>
                                <a href="./all-san-pham.html" class="d-block mb-20px color-000 color-h-012355">Data Analytics</a>
                                <a href="./all-san-pham.html" class="d-block mb-20px color-000 color-h-012355">AI & Machine Learning</a>
                                <a href="./all-san-pham.html" class="d-block mb-20px color-000 color-h-012355">Security</a>
                                <a href="./all-san-pham.html" class="d-block mb-20px color-000 color-h-012355">Intelligent Workspace</a>
                            </div>
                        </div>
                        <a class="d-inline-block px-5 py-15px fw-bold fz-14px text-uppercase text-decoration-none color-ffffff bg-color-00419F btn-hover" href="./all-san-pham.html">XEM TÂT CẢ SẢN PHẨM</a>
                    </div>
                </div>
            </li>
            <li>
                <a href="./ho-so-chuyen-gia.html">Hồ sơ chuyên gia</a>
            </li>
            <li>
                <a href="./ve-chung-toi.html">Về chúng tôi</a>
            </li>
            <li>
                <a href="./hoc-vien-cds.html">Học viện chuyển đổi số</a>
            </li>
            <li>
                <a href="./lien-he.html">Liên hệ</a>
            </li>
            <li>
                <a class="js-open-popup-login" href="#">Đăng nhập</a>
            </li>
            <li>
                <a class="js-open-popup-register" href="#">Đăng ký</a>
            </li>
        </ul>
    </div>
    <div class="js-header-popup-close header-popup-cover"></div>
</header>
{% include '../components/popup-login.html' %}
{% include '../components/popup-register.html' %}