html,
body {
    width: 100%;
    overflow-x: hidden;
}

body {
    color: #333333;
    line-height: 1.34;
    @media (max-width: 576px) {
        padding-top: 78px;
    }
}

ul {
    padding: 0;
}

ul,
li {
    list-style-type: none;
}

ul.is-disc li {
    list-style-type: disc;
}

a:hover {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
    height: auto;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    line-height: 1.34;
}

@media (min-width: 1400px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1200px;
    }
}

