// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------
@font-face {
    font-family: "SFU Life";
    font-weight: normal;
    src: url("../../fonts/SFULIFEROMAN.ttf");
}

@font-face {
    font-family: "SFU Life";
    font-weight: 700;
    src: url("../../fonts/SFULIFEBOLD.ttf");
}