<div class="support">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="wrap-t text-center">
                    <h2 class="font-Lora fw-bold color-000 fz-36px">Chúng tôi có thể giúp gì thêm cho bạn?</h2>
                    <p class="mb-0 font-Lora fz-20px">Hãy liên hệ với iPING ngay bây giờ</p>
                </div>
            </div>
        </div>
    </div>
</div>