<div class="box-contact hidden">
    <div class="close" id="close-contact"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <p class="contact-title">Chúng tôi có thể giúp gì <br>cho bạn? </p>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="button-group">
                            <div class="btn-solution">
                                <a href="#" class="btn-hover">GIẢI PHÁP CHUYỂN ĐỔI SỐ</a>
                            </div>
                            <div class="btn-contact">
                                <a href="#" class="btn-525252-hover">LIÊN HỆ TỚI CHUYÊN GIA</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>