
<div class="success-story">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="wrap-story">
                    <h2 class="h-title font-Lora fw-700">Câu chuyện thành công</h2>
                    <div class="owl-carousel owl-theme owl-story js-owl-story">
                        <div class="item">
                            <p class="item-des">Hệ thống Camera thông minh đã giúp mẹ và bé hạnh phúc hơn thế nào khi mua sắm tại Bibo Mart</p>
                            <img src="../assets/images/logo-bibo.png" alt="#">
                            <div class="comment">
                                <p>
                                    <img class="" src="../assets/images/bx-l.png" alt="#">
                                    Nhờ hệ thống Camera AI đặt tại cửa, ngay khi khách hàng vào tới BiboMart là nhân viên kinh doanh đã có thể cười chào mẹ và bé bằng tên và biết được chính xác tuổi của bé.
                                </p>
                                <p>
                                    Chính ngạc nhiên này đã khiến khách hàng được nhân viên tư vấn của BiboMart gợi ý đúng món đồ phù hợp cho khách hàng.       
                                    <img class="" src="../assets/images/bx-r.png" alt="#">                                                         
                                </p>
                            </div>
                            <div class="customer">
                                <h3 class="customer-name">Nguyễn Văn Hùng</h3>
                                <p class="customer-cd">Giám đốc Công nghệ - Chuỗi siêu thị BiboMart</p>
                            </div>
                        </div>
                        <div class="item">
                            <p class="item-des">Hệ thống Camera thông minh đã giúp mẹ và bé hạnh phúc hơn thế nào khi mua sắm tại Bibo Mart</p>
                            <img src="../assets/images/logo-bibo.png" alt="#">
                            <div class="comment">
                                <p>
                                    <img class="" src="../assets/images/bx-l.png" alt="#">
                                    Nhờ hệ thống Camera AI đặt tại cửa, ngay khi khách hàng vào tới BiboMart là nhân viên kinh doanh đã có thể cười chào mẹ và bé bằng tên và biết được chính xác tuổi của bé.
                                </p>
                                <p>
                                    Chính ngạc nhiên này đã khiến khách hàng được nhân viên tư vấn của BiboMart gợi ý đúng món đồ phù hợp cho khách hàng.       
                                    <img class="" src="../assets/images/bx-r.png" alt="#">                                                         
                                </p>
                            </div>
                            <div class="customer">
                                <h3 class="customer-name">Nguyễn Văn Hùng</h3>
                                <p class="customer-cd">Giám đốc Công nghệ - Chuỗi siêu thị BiboMart</p>
                            </div>
                        </div>
                        <div class="item">
                            <p class="item-des">Hệ thống Camera thông minh đã giúp mẹ và bé hạnh phúc hơn thế nào khi mua sắm tại Bibo Mart</p>
                            <img src="../assets/images/logo-bibo.png" alt="#">
                            <div class="comment">
                                <p>
                                    <img class="" src="../assets/images/bx-l.png" alt="#">
                                    Nhờ hệ thống Camera AI đặt tại cửa, ngay khi khách hàng vào tới BiboMart là nhân viên kinh doanh đã có thể cười chào mẹ và bé bằng tên và biết được chính xác tuổi của bé.
                                </p>
                                <p>
                                    Chính ngạc nhiên này đã khiến khách hàng được nhân viên tư vấn của BiboMart gợi ý đúng món đồ phù hợp cho khách hàng.       
                                    <img class="" src="../assets/images/bx-r.png" alt="#">                                                         
                                </p>
                            </div>
                            <div class="customer">
                                <h3 class="customer-name font-Lora">Nguyễn Văn Hùng</h3>
                                <p class="customer-cd">Giám đốc Công nghệ - Chuỗi siêu thị BiboMart</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="academy-number">
    <h2 class="hd-title font-Lora color-000"><span class="fw-normal">Tham gia</span> <br> Học viện Chuyển đổi số</h2>
    <div class="position-relative academy-items ribbon-wrap" style="background-image: url(../assets/images/bg-black.png);">
        <iframe class="ribbon" src="./ribbon.html" frameborder="0"></iframe>
        <div class="wrap-aca-numb position-relative">
            <div class="wrap-items">
                <div class="item">
                    <a href="#"><img src="../assets/images/home/acad-1.png" alt="#"></a>
                    <div class="item-info">
                        <a class="item-info-title" href="#">Thúc đẩy đột phá kinh doanh như thế nào?</a>
                        <p class="item-info-des"><span>696 views</span> . <span>15 hours ago</span></p>
                    </div>
                </div>
                <div class="item">
                    <a href="#"><img src="../assets/images/home/acad-2.png" alt="#"></a>
                    <div class="item-info">
                        <a class="item-info-title" href="#">Thúc đẩy đột phá kinh doanh như thế nào?</a>
                        <p class="item-info-des"><span>696 views</span> . <span>15 hours ago</span></p>
                    </div>
                </div>
                <div class="item">
                    <a href="#"><img src="../assets/images/home/acad-3.png" alt="#"></a>
                    <div class="item-info">
                        <a class="item-info-title" href="#">Thúc đẩy đột phá kinh doanh như thế nào?</a>
                        <p class="item-info-des"><span>696 views</span> . <span>15 hours ago</span></p>
                    </div>
                </div>
                <div class="item">
                    <a href="#"><img src="../assets/images/home/acad-4.png" alt="#"></a>
                    <div class="item-info">
                        <a class="item-info-title" href="#">Thúc đẩy đột phá kinh doanh như thế nào?</a>
                        <p class="item-info-des"><span>696 views</span> . <span>15 hours ago</span></p>
                    </div>
                </div>
                <div class="item">
                    <a href="#"><img src="../assets/images/home/acad-5.png" alt="#"></a>
                    <div class="item-info">
                        <a class="item-info-title" href="#">Thúc đẩy đột phá kinh doanh như thế nào?</a>
                        <p class="item-info-des"><span>696 views</span> . <span>15 hours ago</span></p>
                    </div>
                </div>
            </div>        
        </div>
        <a href="#" class="position-relative d-inline-block px-5 py-15px fw-bold text-uppercase text-decoration-none color-ffffff bg-color-00419F fs-14-17 btn-hover">Xem thêm các nội dung bổ ích</a>
    </div>        
</div>

<div class="connect">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h2 class="hd-title font-Lora fw-700 color-000">Kết nối với <br> Huấn luyện viên Chuyển đổi số</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 offset-md-1">
                <div class="_connect-thumb">
                    <img src="../assets/images/home/im-connect.png" alt="#">
                </div>
            </div>
            <div class="col-md-5">
                <div class="info-connect">
                    <p class="academy-link font-Lora">LINK ĐĂNG KÝ KHOÁ HỌC <span class="c-0080DD fw-bold">“CHUYỂN ĐỔI SỐ CHO CXO”</span> <br>SẼ ĐÓNG SAU</p>
                    <div class="count-down">
                        <div class="time_sale">
                            <div class="box-timer font-Lora">
                                <div class="timer-view" data-countdown="countdown" data-date="Wed August 25 2021 00:00:00">
                                    <div id="clockdiv" class="timer-view">
                                        <div class="block-timer">
                                            <p class="days --bg"></p>
                                            <div class="smalltext">NGÀY</div>
                                        </div>
                                        <div class="block-timer">
                                            <p class="hours --bg"></p>
                                            <div class="smalltext">GIỜ</div>
                                        </div>
                                        <div class="block-timer">
                                            <p class="minutes --bg"></p>
                                            <div class="smalltext">PHÚT</div>
                                        </div>
                                        <div class="block-timer">
                                            <p class="seconds --bg"></p>
                                            <div class="smalltext">GIÂY</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p class="endow font-Lora">CHỈ CÓ <span class="fw-bold">10</span> XUẤT HỌC <span class="fw-bold">MIỄN PHÍ</span> <br> CHO HỌC VIÊN ĐĂNG KÝ <span class="fw-bold">SỚM NHẤT</span></p>
                        <p class="acd-offi">Khoá học Offline dành riêng cho lãnh đạo doanh nghiệp</p>
                        <a href="#" class="d-inline-block px-5 py-15px fw-bold text-uppercase text-decoration-none color-ffffff bg-color-00419F btn-hover">ĐĂNG KÝ NGAY</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>