<link rel="stylesheet" href="../assets/stylesheets/main.7c7f901f.chunk.css?v=1.2">
<script>!function(e){function t(t){for(var n,i,a=t[0],c=t[1],l=t[2],s=0,p=[];s<a.length;s++)i=a[s],Object.prototype.hasOwnProperty.call(o,i)&&o[i]&&p.push(o[i][0]),o[i]=0;for(n in c)Object.prototype.hasOwnProperty.call(c,n)&&(e[n]=c[n]);for(f&&f(t);p.length;)p.shift()();return u.push.apply(u,l||[]),r()}function r(){for(var e,t=0;t<u.length;t++){for(var r=u[t],n=!0,a=1;a<r.length;a++){var c=r[a];0!==o[c]&&(n=!1)}n&&(u.splice(t--,1),e=i(i.s=r[0]))}return e}var n={},o={1:0},u=[];function i(t){if(n[t])return n[t].exports;var r=n[t]={i:t,l:!1,exports:{}};return e[t].call(r.exports,r,r.exports,i),r.l=!0,r.exports}i.e=function(e){var t=[],r=o[e];if(0!==r)if(r)t.push(r[2]);else{var n=new Promise((function(t,n){r=o[e]=[t,n]}));t.push(r[2]=n);var u,a=document.createElement("script");a.charset="utf-8",a.timeout=120,i.nc&&a.setAttribute("nonce",i.nc),a.src=function(e){return i.p+"static/js/"+({}[e]||e)+"."+{3:"15504792"}[e]+".chunk.js"}(e);var c=new Error;u=function(t){a.onerror=a.onload=null,clearTimeout(l);var r=o[e];if(0!==r){if(r){var n=t&&("load"===t.type?"missing":t.type),u=t&&t.target&&t.target.src;c.message="Loading chunk "+e+" failed.\n("+n+": "+u+")",c.name="ChunkLoadError",c.type=n,c.request=u,r[1](c)}o[e]=void 0}};var l=setTimeout((function(){u({type:"timeout",target:a})}),12e4);a.onerror=a.onload=u,document.head.appendChild(a)}return Promise.all(t)},i.m=e,i.c=n,i.d=function(e,t,r){i.o(e,t)||Object.defineProperty(e,t,{enumerable:!0,get:r})},i.r=function(e){"undefined"!=typeof Symbol&&Symbol.toStringTag&&Object.defineProperty(e,Symbol.toStringTag,{value:"Module"}),Object.defineProperty(e,"__esModule",{value:!0})},i.t=function(e,t){if(1&t&&(e=i(e)),8&t)return e;if(4&t&&"object"==typeof e&&e&&e.__esModule)return e;var r=Object.create(null);if(i.r(r),Object.defineProperty(r,"default",{enumerable:!0,value:e}),2&t&&"string"!=typeof e)for(var n in e)i.d(r,n,function(t){return e[t]}.bind(null,n));return r},i.n=function(e){var t=e&&e.__esModule?function(){return e.default}:function(){return e};return i.d(t,"a",t),t},i.o=function(e,t){return Object.prototype.hasOwnProperty.call(e,t)},i.p="/",i.oe=function(e){throw console.error(e),e};var a=this.webpackJsonpclient=this.webpackJsonpclient||[],c=a.push.bind(a);a.push=t,a=a.slice();for(var l=0;l<a.length;l++)t(a[l]);var f=c;r()}([])</script>
<script src="../assets/js/2.334735c2.chunk.js"></script>
<script src="../assets/js/main.d3badf61.chunk.js"></script>
<section class="container pb-5 pt-4 pt-md-76px">
    <div class="d-lg-none">
        <h2 class="h1 mb-4 text-center font-Lora fw-normal fz-md-64px color-000">Chỉ mất 5 phút</h2>
        <h3 class="h3 text-center color-333333 mb-4 fz-md-24px fw-normal">Để thực hiện chiến lược Chuyển Đổi Số <br>cho doanh nghiệp của bạn</h3>
    </div>
    <div class="row">
        <div class="col-xxl-6 col-xl-7 mb-5 order-lg-1 ">
            <div class="home-banner position-relative pt-3 pt-md-0">
                <img class="d-none d-md-block" src="../assets/images/home/banner-home.png" alt="#">
                <img class="d-md-none" src="../assets/images/home/banner-home-mobile.png" alt="#">
                <p class="_text-head d-block fz-md-18px">Thực thi chiến lược Doanh Nghiệp</p>
                <span data-head="#anchor-data-1" class="js-banner-head _text-col-1">Thúc đẩy<br> tăng<br> trưởng<br> doanh thu<br> và khách<br> hàng</span>
                <span data-head="#anchor-data-2" class="js-banner-head _text-col-2">Tối ưu<br> quản trị<br> vận hành<br> và chi phí</span>
                <span data-head="#anchor-data-3" class="js-banner-head _text-col-3 mb-3">Sáng tạo<br> và đổi mới<br> mô hình<br> kinh<br> doanh</span>
                <ul class="_nav d-flex">
                    <li><a data-head="#anchor-data-4" class="js-banner-head text-decoration-none is-active" href="#">Quản trị nhân sự</a></li>
                    <li><a data-head="#anchor-data-5" class="js-banner-head text-decoration-none" href="#">Quản trị sản xuất</a></li>
                    <li><a data-head="#anchor-data-6" class="js-banner-head text-decoration-none" href="#">Quản trị kho bãi</a></li>
                    <li><a data-head="#anchor-data-7" class="js-banner-head text-decoration-none" href="#">Quản trị giao nhận</a></li>
                    <li><a data-head="#anchor-data-8" class="js-banner-head text-decoration-none" href="#">Quản trị bán hàng</a></li>
                    <li><a data-head="#anchor-data-9" class="js-banner-head text-decoration-none" href="#">Quản trị văn phòng</a></li>
                    <li><a data-head="#anchor-data-10" class="js-banner-head text-decoration-none" href="#">Quản trị công nghệ</a></li>
                </ul>
            </div>
        </div>
        <div class="home-banner-search col-lg-6 col-xl-5 col-xxl-5 mb-5 mb-xl-0 offset-lg-3 offset-xl-0">
            <h2 class="d-none d-lg-block h1 mb-4 font-Lora fw-normal fz-md-64px color-000">Chỉ mất 5 phút</h2>
            <h3 class="d-none d-lg-block h3 color-333333 mb-4 fz-md-24px fw-normal">Để thực hiện chiến lược Chuyển Đổi Số <br>cho doanh nghiệp của bạn</h3>
            <form class="js-form-bot-search mb-4" action="">
                <div class="js-bot-search form-group-search-assistant position-relative form-group d-flex flex-wrap">
                    <input class="js-input-fake fz-md-14px" type="text" placeholder="Nhập chat">
                    <a class="btn-record bg-color-00419F d-flex align-items-center justify-content-center" href="#">
                        <img src="../assets/images/mic.svg" alt="micro" width="30" style="position: relative; z-index: 10">
                    </a>
                </div>
            </form>
            <div>
                <div id="anchor-data-1" class="js-banner-data-content data-content mb-4 d-none">
                    <div class="pl-32px position-relative ms-n2 mb-4 fz-md-14px pr-md-48px">
                        <div class="position-absolute start-0"><img src="../assets/images/icon-bong-den-2.png" alt="#"></div>
                        <p><strong>Gợi ý</strong>: Bạn nên quan tâm đến trải nghiệm khách 
                            hàng như một hàng ưu tiên hàng đầu. 
                            Chuyển đổi số áp dụng trong mô hình bán 
                            hàng là yếu tố quyết định thành công của 
                            bạn, hãy chú trọng tới hành trình và cảm 
                            nhận của khách hàng qua từng điểm chạm 
                            bán hàng và khai thác tốt thông qua việc ứng 
                            dụng công nghệ. 
                            Chuyên gia của chúng tôi khuyên bạn nên 
                            dành thời gian tìm hiểu và nhận được tư vấn 
                            về ứng dụng quản trị quan hệ khách hàng 
                            CRM như thế nào? Tăng tốc bán hàng qua 
                            tổng đài thông minh Telesale thế nào?</p>
                    </div>
                    <div class="pl-32px position-relative ms-n2 mb-4 fz-md-14px pr-md-48px">
                        <div class="position-absolute start-0"><img src="../assets/images/icon-bong-den.png" alt="#"></div>
                        <p><strong>Lời khuyên</strong>: Các yếu tố cần cân nhắc của bạn là để đổi mới 
                            và đột phá cần có một quyết tâm LỚN sẽ phải 
                            hi sinh một số quan điểm CŨ để thay đổi.</p>
                    </div>
                </div>
                <div id="anchor-data-2" class="js-banner-data-content data-content mb-4 d-none">
                    <div class="pl-32px position-relative ms-n2 mb-4 fz-md-14px pr-md-48px">
                        <div class="position-absolute start-0"><img src="../assets/images/icon-bong-den-2.png" alt="#"></div>
                        <p><strong>Gợi ý</strong>: Đầu tiên hãy quan tâm đến việc làm sao để
                            mọi quyết định cho doanh nghiệp của bạn 
                            phải thực sự thông minh. Bạn có thể là nhà 
                            quản lý rất xuất sắc nhưng các quyết định 
                            của bạn sẽ cần phải dựa trên các hệ thống dữ
                            liệu để đảm bảo công ty bạn sẽ luôn luôn phát 
                            triển cho dù ở quy mô nhỏ hay lớn.
                            </p>
                        <p>Hãy quan tâm đến việc xây dựng môi trường 
                            làm việc số (Digital Workspace) trước khi tập 
                            trung vào các công cụ quản trị số (Digital 
                            Management). Bạn nên tìm hiểu và nhận 
                            được sự tư vấn từ các chuyên gia của chúng 
                            tôi cách mà các công ty lớn như Microsoft, 
                            Google, SAP giúp bạn xây dựng tối ưu quản 
                            trị như thế nào?</p>
                    </div>
                    <div class="pl-32px position-relative ms-n2 mb-4 fz-md-14px pr-md-48px">
                        <div class="position-absolute start-0"><img src="../assets/images/icon-bong-den.png" alt="#"></div>
                        <p><strong>Lời khuyên</strong>: Thay đổi là quá trình không hề dễ dàng có 
                            thể phải ĐỘNG CHẠM tới nhiều bộ phận và 
                            thói quen cũ kỹ! Hãy sẵn sàng và phải đủ
                            QUYẾT TÂM!
                            </p>
                    </div>
                </div>
                <div id="anchor-data-3" class="js-banner-data-content data-content mb-4 d-none">
                    <div class="pl-32px position-relative ms-n2 mb-4 fz-md-14px pr-md-48px">
                        <div class="position-absolute start-0"><img src="../assets/images/icon-bong-den-2.png" alt="#"></div>
                        <p><strong>Gợi ý</strong>: Sáng tạo đổi mới xuất phát từ những ý tưởng 
                            kinh doanh độc đáo? Đúng, nhưng không 
                            nhất thiết vì đâu phải ai trong chúng ta cũng 
                            là những thiên tài. Hãy kết nối mở rộng hệ
                            sinh thái kinh doanh của bạn để đón nhận và 
                            phát triển những mô hình kinh doanh mới 
                            với bạn, nhưng rất có thể đang có sẵn ở đâu 
                            ai đó.
                            Chuyên gia của chúng tôi khuyên bạn nên 
                            dành thời gian tìm hiểu và nhận được tư vấn 
                            về ứng dụng quản trị quan hệ khách hàng 
                            CRM như thế nào? Tăng tốc bán hàng qua 
                            tổng đài thông minh Telesale thế nào?</p>
                        <p>Bạn nên tham khảo kiến thức (Insights) trong 
                            mục Lĩnh vực kinh doanh của chúng tôi. Các 
                            chuyên gia của chúng tôi có khả năng tư vấn 
                            bạn cách mà công nghệ giúp bạn mở rộng kết 
                            nối với các hệ sinh thái thông qua API như
                            thế nào? Cách ứng dụng trí tuệ nhân tạo và 
                            phân tích dữ liệu để làm công ty bạn khác 
                            biệt thế nào?</p>
                    </div>
                    <div class="pl-32px position-relative ms-n2 mb-4 fz-md-14px pr-md-48px">
                        <div class="position-absolute start-0"><img src="../assets/images/icon-bong-den.png" alt="#"></div>
                        <p><strong>Lời khuyên</strong>: Sáng tạo là yếu tố tức thời nhưng thực thi để
                            tạo ra sự khác biệt lại là cả một quá trình, 
                            cần kiên nhẫn và HỌC HỎI để thúc đẩy sự
                            khác biệt liên tục.</p>
                    </div>
                </div>
                <div id="anchor-data-4" class="js-banner-data-content data-content mb-4">
                    <div class="pl-32px position-relative ms-n2 mb-4 fz-md-14px pr-md-48px">
                        <div class="position-absolute start-0"><img src="../assets/images/icon-bong-den-2.png" alt="#"></div>
                        <p><strong>Gợi ý</strong>: Quản trị nhân sự không chỉ là tuyển dụng và 
                            tính lương. Hãy chú trọng tới trải nghiệm 
                            cho nhân viên bằng việc xây dựng một môi
                            trường bao gồm các công cụ giao tiếp và làm 
                            việc số, quản trị tri thức tập trung, số hoá 
                            các quy trình từ tuyển dụng tới tiền lương.
                            Bạn nên tham khảo kiến thức (Insights) trong 
                            mục Sản phẩm của chúng tôi. Các chuyên gia 
                            đang luôn sẵn sàng tư vấn bạn.</p>
                    </div>
                    <div class="pl-32px position-relative ms-n2 mb-4 fz-md-14px pr-md-48px">
                        <div class="position-absolute start-0"><img src="../assets/images/icon-bong-den.png" alt="#"></div>
                        <p><strong>Lời khuyên</strong>: Thay đổi là quá trình không hề dễ dàng có 
                            thể phải ĐỘNG CHẠM tới nhiều bộ phận và 
                            thói quen cũ kỹ! Hãy sẵn sàng và phải đủ
                            QUYẾT TÂM!</p>
                    </div>
                </div>
                <div id="anchor-data-5" class="js-banner-data-content data-content mb-4 d-none">
                    <div class="pl-32px position-relative ms-n2 mb-4 fz-md-14px pr-md-48px">
                        <div class="position-absolute start-0"><img src="../assets/images/icon-bong-den-2.png" alt="#"></div>
                        <p><strong>Gợi ý</strong>: Bạn nên tham khảo kiến thức (Insights) trong 
                            mục Sản phẩm của chúng tôi. Các chuyên gia 
                            đang luôn sẵn sàng tư vấn bạn.</p>
                    </div>
                    <div class="pl-32px position-relative ms-n2 mb-4 fz-md-14px pr-md-48px">
                        <div class="position-absolute start-0"><img src="../assets/images/icon-bong-den.png" alt="#"></div>
                        <p><strong>Lời khuyên</strong>: Thay đổi là quá trình không hề dễ dàng có 
                            thể phải ĐỘNG CHẠM tới nhiều bộ phận và 
                            thói quen cũ kỹ! Hãy sẵn sàng và phải đủ
                            QUYẾT TÂM!</p>
                    </div>
                </div>
                <div id="anchor-data-6" class="js-banner-data-content data-content mb-4 d-none">
                    <div class="pl-32px position-relative ms-n2 mb-4 fz-md-14px pr-md-48px">
                        <div class="position-absolute start-0"><img src="../assets/images/icon-bong-den-2.png" alt="#"></div>
                        <p><strong>Gợi ý</strong>: Bạn nên tham khảo kiến thức (Insights) trong 
                            mục Sản phẩm của chúng tôi. Các chuyên gia 
                            đang luôn sẵn sàng tư vấn bạn.</p>
                    </div>
                    <div class="pl-32px position-relative ms-n2 mb-4 fz-md-14px pr-md-48px">
                        <div class="position-absolute start-0"><img src="../assets/images/icon-bong-den.png" alt="#"></div>
                        <p><strong>Lời khuyên</strong>: Thay đổi là quá trình không hề dễ dàng có 
                            thể phải ĐỘNG CHẠM tới nhiều bộ phận và 
                            thói quen cũ kỹ! Hãy sẵn sàng và phải đủ
                            QUYẾT TÂM!</p>
                    </div>
                </div>
                <div id="anchor-data-7" class="js-banner-data-content data-content mb-4 d-none">
                    <div class="pl-32px position-relative ms-n2 mb-4 fz-md-14px pr-md-48px">
                        <div class="position-absolute start-0"><img src="../assets/images/icon-bong-den-2.png" alt="#"></div>
                        <p><strong>Gợi ý</strong>: Bạn nên tham khảo kiến thức (Insights) trong 
                            mục Sản phẩm của chúng tôi. Các chuyên gia 
                            đang luôn sẵn sàng tư vấn bạn.</p>
                    </div>
                    <div class="pl-32px position-relative ms-n2 mb-4 fz-md-14px pr-md-48px">
                        <div class="position-absolute start-0"><img src="../assets/images/icon-bong-den.png" alt="#"></div>
                        <p><strong>Lời khuyên</strong>: Thay đổi là quá trình không hề dễ dàng có 
                            thể phải ĐỘNG CHẠM tới nhiều bộ phận và 
                            thói quen cũ kỹ! Hãy sẵn sàng và phải đủ
                            QUYẾT TÂM!</p>
                    </div>
                </div>
                <div id="anchor-data-8" class="js-banner-data-content data-content mb-4 d-none">
                    <div class="pl-32px position-relative ms-n2 mb-4 fz-md-14px pr-md-48px">
                        <div class="position-absolute start-0"><img src="../assets/images/icon-bong-den-2.png" alt="#"></div>
                        <p><strong>Gợi ý</strong>: Bạn nên tham khảo kiến thức (Insights) trong 
                            mục Sản phẩm của chúng tôi. Các chuyên gia 
                            đang luôn sẵn sàng tư vấn bạn.</p>
                    </div>
                    <div class="pl-32px position-relative ms-n2 mb-4 fz-md-14px pr-md-48px">
                        <div class="position-absolute start-0"><img src="../assets/images/icon-bong-den.png" alt="#"></div>
                        <p><strong>Lời khuyên</strong>: Thay đổi là quá trình không hề dễ dàng có 
                            thể phải ĐỘNG CHẠM tới nhiều bộ phận và 
                            thói quen cũ kỹ! Hãy sẵn sàng và phải đủ
                            QUYẾT TÂM!</p>
                    </div>
                </div>
                <div id="anchor-data-9" class="js-banner-data-content data-content mb-4 d-none">
                    <div class="pl-32px position-relative ms-n2 mb-4 fz-md-14px pr-md-48px">
                        <div class="position-absolute start-0"><img src="../assets/images/icon-bong-den-2.png" alt="#"></div>
                        <p><strong>Gợi ý</strong>: Bạn nên tham khảo kiến thức (Insights) trong 
                            mục Sản phẩm của chúng tôi. Các chuyên gia 
                            đang luôn sẵn sàng tư vấn bạn.</p>
                    </div>
                    <div class="pl-32px position-relative ms-n2 mb-4 fz-md-14px pr-md-48px">
                        <div class="position-absolute start-0"><img src="../assets/images/icon-bong-den.png" alt="#"></div>
                        <p><strong>Lời khuyên</strong>: Thay đổi là quá trình không hề dễ dàng có 
                            thể phải ĐỘNG CHẠM tới nhiều bộ phận và 
                            thói quen cũ kỹ! Hãy sẵn sàng và phải đủ
                            QUYẾT TÂM!</p>
                    </div>
                </div>
                <div id="anchor-data-10" class="js-banner-data-content data-content mb-4 d-none">
                    <div class="pl-32px position-relative ms-n2 mb-4 fz-md-14px pr-md-48px">
                        <div class="position-absolute start-0"><img src="../assets/images/icon-bong-den-2.png" alt="#"></div>
                        <p><strong>Gợi ý</strong>: Bạn nên tham khảo kiến thức (Insights) trong 
                            mục Sản phẩm của chúng tôi. Các chuyên gia 
                            đang luôn sẵn sàng tư vấn bạn.</p>
                    </div>
                    <div class="pl-32px position-relative ms-n2 mb-4 fz-md-14px pr-md-48px">
                        <div class="position-absolute start-0"><img src="../assets/images/icon-bong-den.png" alt="#"></div>
                        <p><strong>Lời khuyên</strong>: Thay đổi là quá trình không hề dễ dàng có 
                            thể phải ĐỘNG CHẠM tới nhiều bộ phận và 
                            thói quen cũ kỹ! Hãy sẵn sàng và phải đủ
                            QUYẾT TÂM!</p>
                    </div>
                </div>
            </div>
            <a class="js-onclick btn-onclick d-inline-block px-5 py-12px ml-md-32px bg-color-00419F text-decoration-none color-ffffff fz-md-14px btn-hover" href="./giai-phap-chuyen-doi-so.html">1 Click để bắt đầu</a>
        </div>
    </div>
</section>
<section class="home-s2 position-relative bg-color-F7F7F7">
    <div class="container">
        <div class="row">
            <div class="col-xxl-4 col-md-5 py-md-5 pe-md-0">
                <div class="_box">
                    <h3 class="h3 mt-4 mb-3 mt-md-5 mb-4 font-Lora fz-md-36px color-000">Những khó khăn do <br>Covid-19 đối với ngành<br> bán lẻ trong năm 2021</h3>
                    <div class="the-content mb-5">
                        <p>Hầu hết các doanh nghiệp đều cho biết đây là giai đoạn xuất hiện những khó khăn chưa từng có. Tuy
                            nhiên, đây cũng là cơ hội “lửa thử vàng”, chính những thách thức của thị trường sẽ tạo nên sức bật
                            cho doanh nghiệp và sản phẩm, dịch vụ của doanh nghiệp.</p>      
                        <a class="read-more" href="#">Xem thêm</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="_bg" style="background-image: url(../assets/images/home/section-2-thumb.png)">
        <img class="d-md-none" src="../assets/images/home/section-2-thumb.png" alt="#">
    </div>
</section>
<section class="home-s3 position-relative">
    <div class="container">
        <div class="col-md-5 offset-md-7 offset-xxl-8 py-md-5 order-md-2 pr-xxl-72px pr-md-40px">
            <h3 class="h3 mt-4 mb-3 mt-md-5 mb-4 font-Lora fz-md-36px color-000">Covid-19 làm thay đổi xu<br> hướng tiêu dùng</h3>
            <div class="the-content mb-5">
                <p>Covid-19 là một thảm họa ập đến không báo trước, một kẻ thù giấu mặt và hầu như mọi nền kinh tế và
                    ngành nghề đều bị ảnh hưởng nghiêm trọng. Theo Cục Quản lý đăng ký kinh doanh (Bộ Kế hoạch và Đầu
                    tư), chỉ trong 7 tháng đầu năm nay có tới 8.102 doanh nghiệp (DN) bán buôn - bán lẻ trên cả nước
                    đang chờ giải thể vì kinh doanh thua lỗ. </p>
                <a class="read-more" href="#">Xem thêm</a>
            </div>
        </div>
    </div>
    <div class="_bg" style="background-image: url(../assets/images/home/section-3-thumb.png)">
        <img class="d-md-none" src="../assets/images/home/section-3-thumb.png" alt="#">
    </div>
</section>
<section class="container-fluid bg-color-181818 pt-4 pb-5 pb-md-5 pt-md-3 ribbon-wrap" style="background-image: url(../assets/images/bg-black.png);">
    <iframe class="ribbon" src="./ribbon.html" frameborder="0"></iframe>
    <div class="row position-relative">
        <div class="col-xxl-10 offset-xxl-1">
            <div class="row">
                <div class="col-md-4 px-md-5">
                    <div class="mb-3 text-center">
                        <p class="fz-96px color-ffffff opacity-25 mb-3 fz-96px font-Lora">01</p>
                        <div class="color-ffffff the-content">
                            <p><strong>Chúng tôi có đội ngũ chuyên gia</strong> hiểu <br
                                    class="d-none d-md-inline-block"> sâu những kiến thức ngành và sẵn sàng <br
                                    class="d-none d-md-inline-block"> những giải pháp chuyển đổi số phù hợp <br
                                    class="d-none d-md-inline-block">có thể tư vấn giúp bạn </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 px-md-5">
                    <div class="mb-3 text-center">
                        <p class="fz-96px color-ffffff opacity-25 mb-3 fz-96px font-Lora">02</p>
                        <div class="color-ffffff the-content">
                            <p>Hãy tìm hiểu những giải pháp <br class="d-none d-md-inline-block">ngành qua những
                                <strong>câu chuyện thành công thực tế</strong><br class="d-none d-md-inline-block"> của
                                chúng tôi
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 px-md-5">
                    <div class="mb-3 text-center">
                        <p class="fz-96px color-ffffff opacity-25 mb-3 fz-96px font-Lora">03</p>
                        <div class="color-ffffff the-content">
                            <p>Chỉ <strong>1Click</strong> và mất 5 phút để giúp doanh<br
                                    class="d-none d-md-inline-block"> nghiệp của bạn chuyển đổi số</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="position-relative text-center mt-3">
        <a class="d-inline-block px-5 py-15px fw-bold fz-14px text-uppercase text-decoration-none color-ffffff bg-color-00419F btn-hover"
            href="#">LIÊN HỆ TƯ VẤN</a>
    </div>
</section>
