
@mixin fix_full {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

@mixin abs_full {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

@mixin abs_item_center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin bg_cover_center {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

@mixin clear_fix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin font_smoothing($value) {
    -webkit-font-smoothing: $value;
    -moz-font-smoothing: $value;
    font-smoothing: $value;
}