// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------
/// Container's maximum width
/// @type Length
$max-width: 1180px !default;
/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: ( 'sm': 576px, 'md': 768px, 'lg': 992px, 'xl': 1200px, 'xxl': 1400px) !default;
/// Path images, fonts
$img-path: '../../images';
$font-path: '../../fonts';

/// Colors
$c-000: #000;
$c-fff: #ffffff;
$c-333: #333333;
$c-0080DD: #0080DD;
$c-001339: #001339;
$c-F7F7F7:#F7F7F7;

/// Spacing
$s-micro: 4px;
$s-tiny: 8px;
$s-small: 16px;
$s-standard: 24px;
$s-medium: 32px;
$s-large: 48px;
$s-extra-large: 64px;
/// Font size
$fs-body: 16px !default;
/// Line Height
$line-height: 1.4 !default;