<div class="js-close-popup-login popup-login--cover"></div>
<div class="js-popup-login popup-login">
    <a href="#" class="js-close-popup-login icon-close"><img src="../assets/images/icon-close-white.png" alt="#"></a>
    <div class="container-fluid ">
        <div class="d-block pt-4 py-md-0 text-end d-md-none">
            <a href="#" class="js-close-popup-login"><img src="../assets/images/icon-close-black.png" alt="#"></a>
        </div>
        <div class="row">
            <div class="col-md-6 pt-5 pb-57px py-md-74px px-md-70px">
                <h3 class="d-none d-md-block mb-4 font-Lora fw-700 fz-36px-nores">Đăng nhập</h3>
                <h3 class="d-md-none text-center mb-4 font-Lora fw-700 fz-36px-nores">Đăng nhập</h3>
                <div class="form-group-df mb-4">
                    <label for="" class="color-000">Email</label>
                    <input type="text" />
                </div>
                <div class="form-group-df mb-4">
                    <label class="d-flex align-items-center justify-content-between">
                        <span class="color-000">Mật khẩu</span>
                        <a href="#" class="color-00419F text-hv-underline">Quên mật khẩu</a>
                    </label>
                    <input type="password" />
                </div>
                <button class="btn-default w-50 text-nowrap">Đăng nhập</button>
            </div>
            <div class="col-md-6 pt-5 pb-57px py-md-74px px-md-70px bg-color-F3F3F3 pb-mobile-ip">
                <h3 class="d-none d-md-block mb-4 font-Lora fw-700 fz-36px-nores">Tạo tài khoản</h3>
                <h3 class="d-md-none text-center mb-4 font-Lora fw-700 fz-36px-nores">Tạo tài khoản</h3>
                <p class="mb-4 fz-18px color-000">Nhận thêm nhiều thông tin hơn từ iPING</p>
                <ul class="is-disc my-35px pl-32px">
                    <li class="mb-3">Cập nhập liên tục các bài viết chuyên sâu</li>
                    <li class="mb-3">Tải, download không giới hạn các tài liệu</li>
                    <li class="mb-3">Các nội dung được cá nhân hóa tới người dùng</li>
                </ul>
                <button class="js-open-popup-register btn-default w-50 text-nowrap">Đăng ký</button>
            </div>
        </div>
    </div>
</div>