<div class="js-close-popup-register popup-login--cover"></div>
<div class="js-popup-register popup-login">
    <a href="#" class="js-close-popup-register icon-close"><img src="../assets/images/icon-close-white.png" alt="#"></a>
    <div class="container-fluid py-32px py-md-74px px-md-70px">
        <div class="d-block pb-4 py-md-0 text-end d-md-none">
            <a href="#" class="js-close-popup-register"><img src="../assets/images/icon-close-black.png" alt="#"></a>
        </div>
        <div class="d-none d-md-flex mb-4 align-items-center justify-content-between">
            <h3 class="font-Lora fw-700 fz-36px">Đăng ký</h3>
            <a href="/dist" class="js-close-popup-register color-00419F fw-600 text-hv-underline">Quay lại website</a>
        </div>
        <h3 class="d-md-none text-center mb-5 font-Lora fw-700 fz-36px-nores">Đăng ký</h3>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group-df mb-4">
                    <label for="" class="d-none d-md-block">Số điện thoại</label>
                    <div class="d-md-none d-flex mb-4 align-items-center justify-content-between">
                        <label for="" class="mb-0">Số điện thoại</label>
                        <a href="/dist" class="js-close-popup-register text-decoration-none text-hv-underline color-00419F fw-600">Quay lại website</a>
                    </div>
                    <input type="text" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group-df mb-4">
                    <label for="">Email</label>
                    <input type="text" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group-df mb-4">
                    <label for="">Mật khẩu</label>
                    <input type="password" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group-df mb-4">
                    <label for="">Nhập lại mật khẩu</label>
                    <input type="password" />
                </div>
            </div>
            <div class="col-md-12"><button class="btn-default w-100 text-center">Đăng ký</button></div>
        </div>
    </div>
</div>