{% extends "layout.html" %}

{% set title = 'All Sản Phẩm' %}
{% set page = 'all-san-pham' %}

{% block content %}

<div class="container all-products">
    <div class="row">
        <div class="box-left col-md-3 col-sm-12">
            <div class="box-menu box-menu__mobile">
                <div class="jump-to">Jump to <img src="../../assets/images/select-icon-mobile.png"></div>
                <div class="box-menu__item">
                    <p class="box-menu__title box-menu__active scrollToDiv" data-id="#detail-1">Theo giải pháp</p>
                    <ul class="box-menu__solition">
                        <li class="active"><a href="#1" class="scrollToDiv">Tăng trưởng doanh thu</a></li>
                        <li><a href="#2" class="scrollToDiv">Tối ưu quản trị vận hành & chi phí</a></li>
                        <li><a class="scrollToDiv" href="#3">Quản trị nhân sự và xây dựng môi trường làm việc số?</a></li>
                        <li><a class="scrollToDiv" href="#4">Quản trị sản xuất</a></li>
                        <li><a class="scrollToDiv" href="#5">Quản trị kho bãi</a></li>
                        <li><a class="scrollToDiv" href="#6">Quản trị bán hàng</a></li>
                        <li><a class="scrollToDiv" href="#7">Quản trị văn phòng</a></li>
                        <li><a class="scrollToDiv" href="#8">Quản trị công nghệ</a></li>
                    </ul>
                </div>
                <div class="box-menu__item">
                    <p class="box-menu__title scrollToDiv" data-id="#detail-2">Theo tính năng</p>
                    <ul class="box-menu__solition">
                        <li><a class="scrollToDiv" href="#9">IaaS</a></li>
                        <li><a class="scrollToDiv" href="#10">PaaS</a></li>
                        <li><a class="scrollToDiv" href="#11">SaaS</a></li>
                        <li><a class="scrollToDiv" href="#12">5G & IoT</a></li>
                        <li><a class="scrollToDiv" href="#13">Data Analytics</a></li>
                        <li><a class="scrollToDiv" href="#14">AI Machine Learing</a></li>
                        <li><a class="scrollToDiv" href="#15">Security</a></li>
                        <li><a class="scrollToDiv" href="#16">Intelligent Workspace</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="box-right col-md-9 col-sm-12">
            <div class="detail" id="detail-1">
                <div class="list-solution" id="1">
                    <p class="solution-title">Tăng trưởng doanh thu</p>
                    <div class="wrap-solution">
                        <div class="solution-item">
                            <p class="solution-item__title"><a href="./giai-phap-cds-chi-tiet-sp.html">iPING CC</a></p>
                            <p class="solution-item__desc">Tổng đài bán hàng và CSKH thông minh</p>
                        </div>
                        <div class="solution-item">
                            <p class="solution-item__title"><a href="./giai-phap-cds-chi-tiet-sp.html">CMC Freshworks CRM</a></p>
                            <p class="solution-item__desc">Phần mềm quản trị quan hệ khách hàng C-Works</p>
                        </div>
                        <div class="solution-item">
                            <p class="solution-item__title"><a href="./giai-phap-cds-chi-tiet-sp.html">Amazon SES</a></p>
                            <p class="solution-item__desc">Dịch vụ gửi E-mail Marketing </p>
                        </div>
                        <div class="solution-item">
                            <p class="solution-item__title"><a href="./giai-phap-cds-chi-tiet-sp.html">Epage.vn</a></p>
                            <p class="solution-item__desc">Dịch vụ tạo Landing page</p>
                        </div>
                        <div class="solution-item">
                            <p class="solution-item__title"><a href="./giai-phap-cds-chi-tiet-sp.html">SMS Marketing</a></p>
                            <p class="solution-item__desc">Dịch vụ SMS Marketing</p>
                        </div>
                    </div>
                </div>
                <div class="list-solution" id="2">
                    <p class="solution-title">Tối ưu quản trị vận hành & chi phí</p>
                    <div class="wrap-solution">
                        <div class="solution-item">
                            <p class="solution-item__title"><a href="./giai-phap-cds-chi-tiet-sp.html">Google Workspace & Office M365</a></p>
                            <p class="solution-item__desc">Xây dựng môi trường làm việc số</p>
                        </div>
                        <div class="solution-item">
                            <p class="solution-item__title"><a href="./giai-phap-cds-chi-tiet-sp.html">1Office Worksplace & HRM</a></p>
                            <p class="solution-item__desc">Quản trị nhân sự và chuyển đổi số  môi trường làm việc và giao tiếp nội bộ</p>
                        </div>
                        <div class="solution-item">
                            <p class="solution-item__title"><a href="./giai-phap-cds-chi-tiet-sp.html">SAP ERP B1</a></p>
                            <p class="solution-item__desc">Quản trị nguồn lực với SAP ERP B1 cho Doanh nghiệp SMEs</p>
                        </div>
                        <div class="solution-item">
                            <p class="solution-item__title"><a href="./giai-phap-cds-chi-tiet-sp.html">CMC Cloud Camera</a></p>
                            <p class="solution-item__desc">Tự động hoá quản trị với Camera giám sát an ninh và chấm công văn phòng thông minh</p>
                        </div>
                        <div class="solution-item">
                            <p class="solution-item__title"><a href="./giai-phap-cds-chi-tiet-sp.html">Chữ ký số</a></p>
                            <p class="solution-item__desc">Bộ giải pháp và dịch vụ Chữ ký số, Hoá đơn điện tử, Hợp đồng điện tử của CMC</p>
                        </div>
                        <div class="solution-item">
                            <p class="solution-item__title"><a href="./giai-phap-cds-chi-tiet-sp.html">Chữ ký số</a></p>
                            <p class="solution-item__desc">Dịch vụ phục vụ hạ tầng CNTT: Dịch vụ truy cập Internet cáp quang tốc độ cao cho văn phòng FTTO, Internet Leasedline CMC, Cloud Express kết nối sang AWS, GCP, Azure</p>
                        </div>
                    </div>
                </div>
                <div class="list-solution" id="3">
                    <p class="solution-title">Quản trị nhân sự và xây dựng môi trường làm việc số?</p>
                    <div class="wrap-solution">
                        <div class="solution-item">
                            <p class="solution-item__title"><a href="./giai-phap-cds-chi-tiet-sp.html">1Office Worksplace & HRM</a></p>
                            <p class="solution-item__desc">Quản trị nhân sự và chuyển đổi số  môi trường làm việc và giao tiếp nội bộ</p>
                        </div>
                    </div>
                </div>
                <div class="list-solution" id="4">
                    <p class="solution-title">Quản trị sản xuất</p>
                    <div class="wrap-solution">
                        <div class="solution-item">
                            <p class="solution-item__title"><a href="./giai-phap-cds-chi-tiet-sp.html">SAP ERP B1</a></p>
                            <p class="solution-item__desc">Quản trị nguồn lực và sản xuất với SAP ERP B1</p>
                        </div>
                    </div>
                </div>
                <div class="list-solution" id="5">
                    <p class="solution-title">Quản trị kho bãi</p>
                    <div class="wrap-solution">
                        <div class="solution-item">
                            <p class="solution-item__title"><a href="./giai-phap-cds-chi-tiet-sp.html">SAP ERP B1</a></p>
                            <p class="solution-item__desc">Quản trị kho bãi với  SAP ERP B1</p>
                        </div>
                    </div>
                </div>
                <div class="list-solution" id="6">
                    <p class="solution-title">Quản trị bán hàng</p>
                    <div class="wrap-solution">
                        <div class="solution-item">
                            <p class="solution-item__title"><a href="./giai-phap-cds-chi-tiet-sp.html">iPING CC</a></p>
                            <p class="solution-item__desc">Quản trị bán hàng qua Tổng đài với iPING CC</p>
                        </div>
                        <div class="solution-item">
                            <p class="solution-item__title"><a href="./giai-phap-cds-chi-tiet-sp.html">CMC Freshworks CRM</a></p>
                            <p class="solution-item__desc">Quản trị bán hàng với C-Works</p>
                        </div>
                    </div>
                </div>
                <div class="list-solution" id="7">
                    <p class="solution-title">Quản trị văn phòng</p>
                    <div class="wrap-solution">
                        <div class="solution-item">
                            <p class="solution-item__title"><a href="./giai-phap-cds-chi-tiet-sp.html">Google Workspace & Office M365</a></p>
                            <p class="solution-item__desc">Xây dựng môi trường làm việc số</p>
                        </div>
                        <div class="solution-item">
                            <p class="solution-item__title"><a href="./giai-phap-cds-chi-tiet-sp.html">CMC Cloud Camera</a></p>
                            <p class="solution-item__desc">Tự động hóa quản trị với Camera giám sát an ninh và chấm công văn phòng</p>
                        </div>
                        <div class="solution-item">
                            <p class="solution-item__title"><a href="./giai-phap-cds-chi-tiet-sp.html">Dịch vụ phục vụ hạ tầng CNTT </a></p>
                            <p class="solution-item__desc">Truy cập internet cáp quang tốc độ cao FTTO, internet Leasedline CMC, Cloud Express kết nối sang AWS, GCP, Azure</p>
                        </div>
                    </div>
                </div>
                <div class="list-solution" id="8">
                    <p class="solution-title">Quản trị công nghệ</p>
                    <div class="wrap-solution">
                        <div class="solution-item">
                            <p class="solution-item__title"><a href="./giai-phap-cds-chi-tiet-sp.html">Elastic Compute</a></p>
                            <p class="solution-item__desc">Dịch vụ điện toán đám mây CMC Cloud</p>
                        </div>
                        <div class="solution-item">
                            <p class="solution-item__title"><a href="./giai-phap-cds-chi-tiet-sp.html">Elastic GPUs</a></p>
                            <p class="solution-item__desc">Dịch vụ điện toán đám mây CMC Cloud</p>
                        </div>
                        <div class="solution-item">
                            <p class="solution-item__title"><a href="./giai-phap-cds-chi-tiet-sp.html">Dịch vụ lưu trữ CMC S3</a></p>
                            <p class="solution-item__desc">Dịch vụ điện toán đám mây CMC Cloud</p>
                        </div>
                        <div class="solution-item">
                            <p class="solution-item__title"><a href="./giai-phap-cds-chi-tiet-sp.html">Dịch vụ CDN CMC</a></p>
                            <p class="solution-item__desc">Dịch vụ điện toán đám mây CMC Cloud</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="detail" id="detail-2">
                <div class="list-solution" id="9">
                    <p class="solution-title">IaaS</p>
                    <div class="wrap-solution">
                        <div class="solution-item">
                            <p class="solution-item__title"><a href="./giai-phap-cds-chi-tiet-sp.html">CMC Elastic Compute</a></p>
                            <p class="solution-item__desc">Khởi tạo tài nguyên máy chủ hàng loạt</p>
                        </div>
                        <div class="solution-item">
                            <p class="solution-item__title"><a href="./giai-phap-cds-chi-tiet-sp.html">Elastic GPU</a></p>
                            <p class="solution-item__desc">Máy chủ ảo sủ dụng chip Graphics Processing Unit ( GPU)</p>
                        </div>
                        <div class="solution-item">
                            <p class="solution-item__title"><a href="./giai-phap-cds-chi-tiet-sp.html">CMC Storage S3</a></p>
                            <p class="solution-item__desc">Lưu trữ đối tượng được xây dựng và truy xuất </p>
                        </div>
                        <div class="solution-item">
                            <p class="solution-item__title"><a href="./giai-phap-cds-chi-tiet-sp.html">CMC Private Cloud</a></p>
                            <p class="solution-item__desc">Cung cấp hệ thống máy chủ ảo riêng</p>
                        </div>
                        <div class="solution-item">
                            <p class="solution-item__title"><a href="./giai-phap-cds-chi-tiet-sp.html">Acronis BaaS</a></p>
                            <p class="solution-item__desc">Cung cấp hệ thống máy chủ ảo riêng</p>
                        </div>
                        <div class="solution-item">
                            <p class="solution-item__title"><a href="./giai-phap-cds-chi-tiet-sp.html">CMC PrivateCMC CDN</a></p>
                            <p class="solution-item__desc">Cung cấp hệ thống máy chủ ảo riêng</p>
                        </div>
                        <div class="solution-item">
                            <p class="solution-item__title"><a href="./giai-phap-cds-chi-tiet-sp.html">Akamai CDN</a></p>
                            <p class="solution-item__desc">Cung cấp hệ thống máy chủ ảo riêng</p>
                        </div>
                    </div>
                </div>
                <div class="list-solution" id="10">
                    <p class="solution-title">PaaS</p>
                    <div class="wrap-solution">
                        <div class="solution-item">
                            <p class="solution-item__title"><a href="./giai-phap-cds-chi-tiet-sp.html">CMC Elastic Compute</a></p>
                            <p class="solution-item__desc">Khởi tạo tài nguyên máy chủ hàng loạt</p>
                        </div>
                        <div class="solution-item">
                            <p class="solution-item__title"><a href="./giai-phap-cds-chi-tiet-sp.html">Elastic GPU</a></p>
                            <p class="solution-item__desc">Máy chủ ảo sủ dụng chip Graphics Processing Unit ( GPU)</p>
                        </div>
                        <div class="solution-item">
                            <p class="solution-item__title"><a href="./giai-phap-cds-chi-tiet-sp.html">CMC Storage S3</a></p>
                            <p class="solution-item__desc">Lưu trữ đối tượng được xây dựng và truy xuất </p>
                        </div>
                        <div class="solution-item">
                            <p class="solution-item__title"><a href="./giai-phap-cds-chi-tiet-sp.html">CMC Private Cloud</a></p>
                            <p class="solution-item__desc">Cung cấp hệ thống máy chủ ảo riêng</p>
                        </div>
                        <div class="solution-item">
                            <p class="solution-item__title"><a href="./giai-phap-cds-chi-tiet-sp.html">Acronis BaaS</a></p>
                            <p class="solution-item__desc">Cung cấp hệ thống máy chủ ảo riêng</p>
                        </div>
                        <div class="solution-item">
                            <p class="solution-item__title"><a href="./giai-phap-cds-chi-tiet-sp.html">CMC PrivateCMC CDN</a></p>
                            <p class="solution-item__desc">Cung cấp hệ thống máy chủ ảo riêng</p>
                        </div>
                        <div class="solution-item">
                            <p class="solution-item__title"><a href="./giai-phap-cds-chi-tiet-sp.html">Akamai CDN</a></p>
                            <p class="solution-item__desc">Cung cấp hệ thống máy chủ ảo riêng</p>
                        </div>
                    </div>
                </div>
                <div class="list-solution" id="11">
                    <p class="solution-title">SaaS</p>
                    <div class="wrap-solution">
                        <div class="solution-item">
                            <p class="solution-item__title"><a href="./giai-phap-cds-chi-tiet-sp.html">CMC Elastic Compute</a></p>
                            <p class="solution-item__desc">Khởi tạo tài nguyên máy chủ hàng loạt</p>
                        </div>
                        <div class="solution-item">
                            <p class="solution-item__title"><a href="./giai-phap-cds-chi-tiet-sp.html">Elastic GPU</a></p>
                            <p class="solution-item__desc">Máy chủ ảo sủ dụng chip Graphics Processing Unit ( GPU)</p>
                        </div>
                        <div class="solution-item">
                            <p class="solution-item__title"><a href="./giai-phap-cds-chi-tiet-sp.html">CMC Storage S3</a></p>
                            <p class="solution-item__desc">Lưu trữ đối tượng được xây dựng và truy xuất </p>
                        </div>
                        <div class="solution-item">
                            <p class="solution-item__title"><a href="./giai-phap-cds-chi-tiet-sp.html">CMC Private Cloud</a></p>
                            <p class="solution-item__desc">Cung cấp hệ thống máy chủ ảo riêng</p>
                        </div>
                        <div class="solution-item">
                            <p class="solution-item__title"><a href="./giai-phap-cds-chi-tiet-sp.html">Acronis BaaS</a></p>
                            <p class="solution-item__desc">Cung cấp hệ thống máy chủ ảo riêng</p>
                        </div>
                        <div class="solution-item">
                            <p class="solution-item__title"><a href="./giai-phap-cds-chi-tiet-sp.html">CMC PrivateCMC CDN</a></p>
                            <p class="solution-item__desc">Cung cấp hệ thống máy chủ ảo riêng</p>
                        </div>
                        <div class="solution-item">
                            <p class="solution-item__title"><a href="./giai-phap-cds-chi-tiet-sp.html">Akamai CDN</a></p>
                            <p class="solution-item__desc">Cung cấp hệ thống máy chủ ảo riêng</p>
                        </div>
                    </div>
                </div>
                <div class="list-solution" id="12">
                    <p class="solution-title">5G & IoT</p>
                    <div class="wrap-solution">
                        <div class="solution-item">
                            <p class="solution-item__title"><a href="./giai-phap-cds-chi-tiet-sp.html">CMC Elastic Compute</a></p>
                            <p class="solution-item__desc">Khởi tạo tài nguyên máy chủ hàng loạt</p>
                        </div>
                        <div class="solution-item">
                            <p class="solution-item__title"><a href="./giai-phap-cds-chi-tiet-sp.html">Elastic GPU</a></p>
                            <p class="solution-item__desc">Máy chủ ảo sủ dụng chip Graphics Processing Unit ( GPU)</p>
                        </div>
                        <div class="solution-item">
                            <p class="solution-item__title"><a href="./giai-phap-cds-chi-tiet-sp.html">CMC Storage S3</a></p>
                            <p class="solution-item__desc">Lưu trữ đối tượng được xây dựng và truy xuất </p>
                        </div>
                        <div class="solution-item">
                            <p class="solution-item__title"><a href="./giai-phap-cds-chi-tiet-sp.html">CMC Private Cloud</a></p>
                            <p class="solution-item__desc">Cung cấp hệ thống máy chủ ảo riêng</p>
                        </div>
                        <div class="solution-item">
                            <p class="solution-item__title"><a href="./giai-phap-cds-chi-tiet-sp.html">Acronis BaaS</a></p>
                            <p class="solution-item__desc">Cung cấp hệ thống máy chủ ảo riêng</p>
                        </div>
                        <div class="solution-item">
                            <p class="solution-item__title"><a href="./giai-phap-cds-chi-tiet-sp.html">CMC PrivateCMC CDN</a></p>
                            <p class="solution-item__desc">Cung cấp hệ thống máy chủ ảo riêng</p>
                        </div>
                        <div class="solution-item">
                            <p class="solution-item__title"><a href="./giai-phap-cds-chi-tiet-sp.html">Akamai CDN</a></p>
                            <p class="solution-item__desc">Cung cấp hệ thống máy chủ ảo riêng</p>
                        </div>
                    </div>
                </div>
                <div class="list-solution" id="13">
                    <p class="solution-title">Data Analytics</p>
                    <div class="wrap-solution">
                        <div class="solution-item">
                            <p class="solution-item__title"><a href="./giai-phap-cds-chi-tiet-sp.html">CMC Elastic Compute</a></p>
                            <p class="solution-item__desc">Khởi tạo tài nguyên máy chủ hàng loạt</p>
                        </div>
                        <div class="solution-item">
                            <p class="solution-item__title"><a href="./giai-phap-cds-chi-tiet-sp.html">Elastic GPU</a></p>
                            <p class="solution-item__desc">Máy chủ ảo sủ dụng chip Graphics Processing Unit ( GPU)</p>
                        </div>
                    </div>
                </div>
                <div class="list-solution" id="14">
                    <p class="solution-title">AI Machine Learing</p>
                    <div class="wrap-solution">
                        <div class="solution-item">
                            <p class="solution-item__title"><a href="./giai-phap-cds-chi-tiet-sp.html">CMC Elastic Compute</a></p>
                            <p class="solution-item__desc">Khởi tạo tài nguyên máy chủ hàng loạt</p>
                        </div>
                        <div class="solution-item">
                            <p class="solution-item__title"><a href="./giai-phap-cds-chi-tiet-sp.html">Elastic GPU</a></p>
                            <p class="solution-item__desc">Máy chủ ảo sủ dụng chip Graphics Processing Unit ( GPU)</p>
                        </div>
                        <div class="solution-item">
                            <p class="solution-item__title"><a href="./giai-phap-cds-chi-tiet-sp.html">CMC Storage S3</a></p>
                            <p class="solution-item__desc">Lưu trữ đối tượng được xây dựng và truy xuất </p>
                        </div>
                        <div class="solution-item">
                            <p class="solution-item__title"><a href="./giai-phap-cds-chi-tiet-sp.html">CMC Private Cloud</a></p>
                            <p class="solution-item__desc">Cung cấp hệ thống máy chủ ảo riêng</p>
                        </div>
                        <div class="solution-item">
                            <p class="solution-item__title"><a href="./giai-phap-cds-chi-tiet-sp.html">Acronis BaaS</a></p>
                            <p class="solution-item__desc">Cung cấp hệ thống máy chủ ảo riêng</p>
                        </div>
                        <div class="solution-item">
                            <p class="solution-item__title"><a href="./giai-phap-cds-chi-tiet-sp.html">CMC PrivateCMC CDN</a></p>
                            <p class="solution-item__desc">Cung cấp hệ thống máy chủ ảo riêng</p>
                        </div>
                        <div class="solution-item">
                            <p class="solution-item__title"><a href="./giai-phap-cds-chi-tiet-sp.html">Akamai CDN</a></p>
                            <p class="solution-item__desc">Cung cấp hệ thống máy chủ ảo riêng</p>
                        </div>
                    </div>
                </div>
                <div class="list-solution" id="15">
                    <p class="solution-title">Security</p>
                    <div class="wrap-solution">
                        <div class="solution-item">
                            <p class="solution-item__title"><a href="./giai-phap-cds-chi-tiet-sp.html">CMC Elastic Compute</a></p>
                            <p class="solution-item__desc">Khởi tạo tài nguyên máy chủ hàng loạt</p>
                        </div>
                        <div class="solution-item">
                            <p class="solution-item__title"><a href="./giai-phap-cds-chi-tiet-sp.html">Elastic GPU</a></p>
                            <p class="solution-item__desc">Máy chủ ảo sủ dụng chip Graphics Processing Unit ( GPU)</p>
                        </div>
                        <div class="solution-item">
                            <p class="solution-item__title"><a href="./giai-phap-cds-chi-tiet-sp.html">CMC Storage S3</a></p>
                            <p class="solution-item__desc">Lưu trữ đối tượng được xây dựng và truy xuất </p>
                        </div>
                        <div class="solution-item">
                            <p class="solution-item__title"><a href="./giai-phap-cds-chi-tiet-sp.html">CMC Private Cloud</a></p>
                            <p class="solution-item__desc">Cung cấp hệ thống máy chủ ảo riêng</p>
                        </div>
                        <div class="solution-item">
                            <p class="solution-item__title"><a href="./giai-phap-cds-chi-tiet-sp.html">Acronis BaaS</a></p>
                            <p class="solution-item__desc">Cung cấp hệ thống máy chủ ảo riêng</p>
                        </div>
                        <div class="solution-item">
                            <p class="solution-item__title"><a href="./giai-phap-cds-chi-tiet-sp.html">CMC PrivateCMC CDN</a></p>
                            <p class="solution-item__desc">Cung cấp hệ thống máy chủ ảo riêng</p>
                        </div>
                        <div class="solution-item">
                            <p class="solution-item__title"><a href="./giai-phap-cds-chi-tiet-sp.html">Akamai CDN</a></p>
                            <p class="solution-item__desc">Cung cấp hệ thống máy chủ ảo riêng</p>
                        </div>
                    </div>
                </div>
                <div class="list-solution" id="16">
                    <p class="solution-title">Intelligent Workspace</p>
                    <div class="wrap-solution">
                        <div class="solution-item">
                            <p class="solution-item__title"><a href="./giai-phap-cds-chi-tiet-sp.html">CMC Elastic Compute</a></p>
                            <p class="solution-item__desc">Khởi tạo tài nguyên máy chủ hàng loạt</p>
                        </div>
                        <div class="solution-item">
                            <p class="solution-item__title"><a href="./giai-phap-cds-chi-tiet-sp.html">Elastic GPU</a></p>
                            <p class="solution-item__desc">Máy chủ ảo sủ dụng chip Graphics Processing Unit ( GPU)</p>
                        </div>
                        <div class="solution-item">
                            <p class="solution-item__title"><a href="./giai-phap-cds-chi-tiet-sp.html">CMC Storage S3</a></p>
                            <p class="solution-item__desc">Lưu trữ đối tượng được xây dựng và truy xuất </p>
                        </div>
                        <div class="solution-item">
                            <p class="solution-item__title"><a href="./giai-phap-cds-chi-tiet-sp.html">CMC Private Cloud</a></p>
                            <p class="solution-item__desc">Cung cấp hệ thống máy chủ ảo riêng</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="new-footer position-relative ribbon-wrap">
    <iframe class="ribbon" src="./ribbon.html" frameborder="0"></iframe>
    <div class="container position-relative">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <p>Trải nghiệm sản phẩm miễn phí cùng với iPING</p>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="one-click"><a href="#" class="btn-hover">1 CLICK ĐỂ BẮT ĐẦU</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}