{% extends "layout.html" %}

{% set title = 'Câu chuyện thành công' %}
{% set page = 'cau-chuyen-thanh-cong' %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="row">
                <div class="col-md-7 col-sm-12 mx-auto">
                    <select class="js-nice-select form-control select-career">
                        <option value="1">Ngành bán lẻ</option>
                        <option value="2">Ngành giải trí</option>
                        <option value="3">Ngành vận chuyển</option>
                        <option value="4">Ngành vận chuyển</option>
                        <option value="5">Ngành vận chuyển</option>
                    </select>
                    <!-- <div class="select-career">
                    </div> -->
                </div>
                <div class="col-md-12">
                    <div class="first-story">
                        <div class="first-story__img col-lg-auto col-12">
                            <a href="./chi-tiet-bai-viet.html"><img src="../assets/images/cau-chuyen-1.png" alt=""></a>
                        </div>
                        <div class="first-story__content">
                            <p class="first-story__type">Báo chí</p>
                            <p class="first-story__title"><a href="./chi-tiet-bai-viet.html">The Next Normal  – The future of shopping: Technology everywhere</a></p>
                            <p class="first-story__desc">The COVID-19 pandemic has reset the retail game board. The most successful retailers will be those that connect with consumers in new ways by leaning in on their digital, omnichannel, and in-store technology ambitions. In this edition, </p>
                        </div>
                    </div>
                </div>
                <div class="list-stories">
                    <div class="row">
                        <div class="col-lg-4 col-md-6">
                            <div class="story-item">
                                <div class="story-item__img">
                                    <a href="./chi-tiet-bai-viet.html"><img src="../assets/images/cau-chuyen-2.png" alt=""></a>
                                </div>
                                <p class="story-item__type">Article</p>
                                <p class="story-item__title"><a href="./chi-tiet-bai-viet.html">McKinsey on Consumer and Retail Podcast: Insights from experts on business and management</a></p>
                                <p class="story-item__desc">
                                    <span class="story-item__created-at">April 28, 2021</span>&nbsp;-&nbsp;Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic inventore libero possimus impedit? Cumque, id. A, ut fugit excepturi exercitationem minima, sunt nostrum amet id eligendi sequi nulla, nam similique.
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="story-item">
                                <div class="story-item__img">
                                    <a href="./chi-tiet-bai-viet.html"><img src="../assets/images/cau-chuyen-2.png" alt=""></a>
                                </div>
                                <p class="story-item__type">Article</p>
                                <p class="story-item__title"><a href="./chi-tiet-bai-viet.html">McKinsey on Consumer and Retail Podcast: Insights from experts on business and management</a></p>
                                <p class="story-item__desc">
                                    <span class="story-item__created-at">April 28, 2021</span>&nbsp;-&nbsp;Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic inventore libero possimus impedit? Cumque, id. A, ut fugit excepturi exercitationem minima, sunt nostrum amet id eligendi sequi nulla, nam similique.
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="story-item">
                                <div class="story-item__img">
                                    <a href="./chi-tiet-bai-viet.html"><img src="../assets/images/cau-chuyen-2.png" alt=""></a>
                                </div>
                                <p class="story-item__type">Article</p>
                                <p class="story-item__title"><a href="./chi-tiet-bai-viet.html">McKinsey on Consumer and Retail Podcast: Insights from experts on business and management</a></p>
                                <p class="story-item__desc">
                                    <span class="story-item__created-at">April 28, 2021</span>&nbsp;-&nbsp;Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic inventore libero possimus impedit? Cumque, id. A, ut fugit excepturi exercitationem minima, sunt nostrum amet id eligendi sequi nulla, nam similique.
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="story-item">
                                <div class="story-item__img">
                                    <a href="./chi-tiet-bai-viet.html"><img src="../assets/images/cau-chuyen-2.png" alt=""></a>
                                </div>
                                <p class="story-item__type">Article</p>
                                <p class="story-item__title"><a href="./chi-tiet-bai-viet.html">McKinsey on Consumer and Retail Podcast: Insights from experts on business and management</a></p>
                                <p class="story-item__desc">
                                    <span class="story-item__created-at">April 28, 2021</span>&nbsp;-&nbsp;Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic inventore libero possimus impedit? Cumque, id. A, ut fugit excepturi exercitationem minima, sunt nostrum amet id eligendi sequi nulla, nam similique.
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="story-item">
                                <div class="story-item__img">
                                    <a href="./chi-tiet-bai-viet.html"><img src="../assets/images/cau-chuyen-2.png" alt=""></a>
                                </div>
                                <p class="story-item__type">Article</p>
                                <p class="story-item__title"><a href="./chi-tiet-bai-viet.html">McKinsey on Consumer and Retail Podcast: Insights from experts on business and management</a></p>
                                <p class="story-item__desc">
                                    <span class="story-item__created-at">April 28, 2021</span>&nbsp;-&nbsp;Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic inventore libero possimus impedit? Cumque, id. A, ut fugit excepturi exercitationem minima, sunt nostrum amet id eligendi sequi nulla, nam similique.
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="story-item">
                                <div class="story-item__img">
                                    <a href="./chi-tiet-bai-viet.html"><img src="../assets/images/cau-chuyen-2.png" alt=""></a>
                                </div>
                                <p class="story-item__type">Article</p>
                                <p class="story-item__title"><a href="./chi-tiet-bai-viet.html">McKinsey on Consumer and Retail Podcast: Insights from experts on business and management</a></p>
                                <p class="story-item__desc">
                                    <span class="story-item__created-at">April 28, 2021</span>&nbsp;-&nbsp;Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic inventore libero possimus impedit? Cumque, id. A, ut fugit excepturi exercitationem minima, sunt nostrum amet id eligendi sequi nulla, nam similique.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="list-stories list-stories__child">
                    <div class="row">
                        <div class="col-lg-3 col-md-6">
                            <div class="story-item">
                                <div class="story-item__img">
                                    <a href="./chi-tiet-bai-viet.html"><img src="../assets/images/cau-chuyen-2.png" alt=""></a>
                                </div>
                                <p class="story-item__type">Article</p>
                                <p class="story-item__title"><a href="./chi-tiet-bai-viet.html">McKinsey on Consumer and Retail Podcast: Insights from experts on business and management</a></p>
                                <p class="story-item__desc">
                                    <span class="story-item__created-at">April 28, 2021</span>&nbsp;-&nbsp;Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic inventore libero possimus impedit? Cumque, id. A, ut fugit excepturi exercitationem minima, sunt nostrum amet id eligendi sequi nulla, nam similique.
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="story-item">
                                <div class="story-item__img">
                                    <a href="./chi-tiet-bai-viet.html"><img src="../assets/images/cau-chuyen-2.png" alt=""></a>
                                </div>
                                <p class="story-item__type">Article</p>
                                <p class="story-item__title"><a href="./chi-tiet-bai-viet.html">McKinsey on Consumer and Retail Podcast: Insights from experts on business and management</a></p>
                                <p class="story-item__desc">
                                    <span class="story-item__created-at">April 28, 2021</span>&nbsp;-&nbsp;Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic inventore libero possimus impedit? Cumque, id. A, ut fugit excepturi exercitationem minima, sunt nostrum amet id eligendi sequi nulla, nam similique.
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="story-item">
                                <div class="story-item__img">
                                    <a href="./chi-tiet-bai-viet.html"><img src="../assets/images/cau-chuyen-2.png" alt=""></a>
                                </div>
                                <p class="story-item__type">Article</p>
                                <p class="story-item__title"><a href="./chi-tiet-bai-viet.html">McKinsey on Consumer and Retail Podcast: Insights from experts on business and management</a></p>
                                <p class="story-item__desc">
                                    <span class="story-item__created-at">April 28, 2021</span>&nbsp;-&nbsp;Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic inventore libero possimus impedit? Cumque, id. A, ut fugit excepturi exercitationem minima, sunt nostrum amet id eligendi sequi nulla, nam similique.
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="story-item">
                                <div class="story-item__img">
                                    <a href="./chi-tiet-bai-viet.html"><img src="../assets/images/cau-chuyen-2.png" alt=""></a>
                                </div>
                                <p class="story-item__type">Article</p>
                                <p class="story-item__title"><a href="./chi-tiet-bai-viet.html">McKinsey on Consumer and Retail Podcast: Insights from experts on business and management</a></p>
                                <p class="story-item__desc">
                                    <span class="story-item__created-at">April 28, 2021</span>&nbsp;-&nbsp;Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic inventore libero possimus impedit? Cumque, id. A, ut fugit excepturi exercitationem minima, sunt nostrum amet id eligendi sequi nulla, nam similique.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="see-more text-center">
                <a href="#" class="btn-hover">Xem Thêm</a>
            </div>
        </div>
    </div>
</div>
{% include '../templates/partials/box-contact-0.html' %}
{% include '../templates/partials/box-contact.html' %}
{% endblock content %}