{% extends "layout.html" %}

{% set title = 'Học viện chuyển đổi số' %}
{% set page = 'hoc-vien-cds' %}

{% block content %}
<div class="video-cds">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <p class="back-page back-page__cds"><a href="#">Trở về trang thư viện chuyển đổi số</a></p>
            </div>
        </div>
    </div>
    <div class="content-cds">
        <div class="content-cds__left">
            <div class="js-iframe-video card-iframe-video--wrap">
                <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/WUgvvPRH7Oc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
                <iframe width="560" height="315" src="https://www.youtube.com/embed/k-Fb-BLEoFk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <script>
                jQuery(document).ready(function ($) {
                    let ifr = $('.js-iframe-video');
                    let iw = ifr.children('iframe').attr('width');
                    let ih = ifr.children('iframe').attr('height');
                    let aspect = ih / iw;
                    
                    ifr.css({'padding-bottom': aspect * 100 + '%'});

                    if ($(window).width() > 768) {
                        ifr.parent().next().outerHeight(ifr.outerHeight());
                        console.log(ifr.outerHeight());
                    }
                });
            </script>
        </div>
        <div class="content-cds__right">
            <div class="content-cds__right-scroll">
                <p class="content-cds__title">The Next Normal  – The future of shopping: Technology everywhere</p>
                <p class="content-cds__desc">
                    <span>April 28, 2021</span>&nbsp;-&nbsp;Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi animi enim corrupti sint, fugiat saepe perspiciatis ad quia quae nisi eligendi odio voluptates? Corporis dolor pariatur amet dignissimos dolore officiis?
                </p>
                <!-- Load Facebook SDK for JavaScript -->
                <div id="fb-root"></div>
                <script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v11.0" nonce="aOHiIjgV"></script>
                <!-- Your embedded comments code -->
                <div class="fb-comment-embed" data-href="https://www.facebook.com/zuck/posts/10102577175875681?comment_id=1193531464007751&amp;reply_comment_id=654912701278942" data-width="460" data-include-parent="false"></div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="library-list">
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="library-item">
                            <div class="library-item__img">
                                <a href="#"><img src="https://via.placeholder.com/300" class="img-responsive" /></a>
                            </div>
                            <p class="library-item__title"><a href="#">Thúc đẩy đột phá kinh doanh như thế nào?</a></p>
                            <p class="library-item__sub-info">
                                <span>696 views</span>&nbsp;.&nbsp;<span>15 hours ago</span>
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="library-item">
                            <div class="library-item__img">
                                <a href="#"><img src="./../assets/images/library-image.png" class="img-responsive" /></a>
                            </div>
                            <p class="library-item__title"><a href="#">Thúc đẩy đột phá kinh doanh như thế nào?</a></p>
                            <p class="library-item__sub-info">
                                <span>696 views</span>&nbsp;.&nbsp;<span>15 hours ago</span>
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="library-item">
                            <div class="library-item__img">
                                <a href="#"><img src="./../assets/images/library-image.png" class="img-responsive" /></a>
                            </div>
                            <p class="library-item__title"><a href="#">Thúc đẩy đột phá kinh doanh như thế nào?</a></p>
                            <p class="library-item__sub-info">
                                <span>696 views</span>&nbsp;.&nbsp;<span>15 hours ago</span>
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="library-item">
                            <div class="library-item__img">
                                <a href="#"><img src="./../assets/images/library-image.png" class="img-responsive" /></a>
                            </div>
                            <p class="library-item__title"><a href="#">Thúc đẩy đột phá kinh doanh như thế nào?</a></p>
                            <p class="library-item__sub-info">
                                <span>696 views</span>&nbsp;.&nbsp;<span>15 hours ago</span>
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="library-item">
                            <div class="library-item__img">
                                <a href="#"><img src="./../assets/images/library-image.png" class="img-responsive" /></a>
                            </div>
                            <p class="library-item__title"><a href="#">Thúc đẩy đột phá kinh doanh như thế nào?</a></p>
                            <p class="library-item__sub-info">
                                <span>696 views</span>&nbsp;.&nbsp;<span>15 hours ago</span>
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="library-item">
                            <div class="library-item__img">
                                <a href="#"><img src="./../assets/images/library-image.png" class="img-responsive" /></a>
                            </div>
                            <p class="library-item__title"><a href="#">Thúc đẩy đột phá kinh doanh như thế nào?</a></p>
                            <p class="library-item__sub-info">
                                <span>696 views</span>&nbsp;.&nbsp;<span>15 hours ago</span>
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="library-item">
                            <div class="library-item__img">
                                <a href="#"><img src="./../assets/images/library-image.png" class="img-responsive" /></a>
                            </div>
                            <p class="library-item__title"><a href="#">Thúc đẩy đột phá kinh doanh như thế nào?</a></p>
                            <p class="library-item__sub-info">
                                <span>696 views</span>&nbsp;.&nbsp;<span>15 hours ago</span>
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="library-item">
                            <div class="library-item__img">
                                <a href="#"><img src="./../assets/images/library-image.png" class="img-responsive" /></a>
                            </div>
                            <p class="library-item__title"><a href="#">Thúc đẩy đột phá kinh doanh như thế nào?</a></p>
                            <p class="library-item__sub-info">
                                <span>696 views</span>&nbsp;.&nbsp;<span>15 hours ago</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="see-more text-center">
                        <a href="#" class="btn-hover">Xem Thêm</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include '../templates/partials/box-contact-0.html' %}
{% endblock content %}