{% extends "layout.html" %}

{% set title = 'Chi tiết bài viết' %}
{% set page = '' %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 offset-xxl-2 offset-md-1">
            <p class="back-page back-page__cds"><a href="#">Trở về trang lĩnh vực kinh doanh</a></p>
        </div>
    </div>
</div>
<section class="home-s2 position-relative bg-color-012355">
    <div class="container-fluid py-4">
        <div class="row">
            <div class="col-md-6 py-md-5 pl-md-100px pr-md-70px">
                <div class="_box">
                    <h3 class="h3 font-Lora fz-xxl-48px color-ffffff fw-600">A year like no other for European grocery
                        retailers: The state of the industry post 2020</h3>
                    <p class="fz-14px color-ffffff">May 20, 2021 | Article</p>
                </div>
            </div>
        </div>
    </div>
    <div class="_bg" style="background-image: url(../assets/images/chi-tiet-bai-viet-thumb.jpg)">
        <img class="d-md-none" src="../assets/images/chi-tiet-bai-viet-thumb.jpg" alt="#">
    </div>
</section>
<section class="content-detail">
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2 py-md-5 py-3">
                <div class="d-md-flex align-items-center justify-content-between">
                    <p class="mb-3 mb-md-0 fz-14px">By Richard Herbert, Jean-Albert Nyssens</p>
                    <div class="mxh-ft">
                        <ul>
                            <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-rss" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="the-content py-5">
                    <h4 class="mb-4">The coronavirus pandemic has reshaped the European grocery-retail landscape at unprecedented speed and scale. Five major forces at the heart of this change came together and reinforced one another.</h4>
                    <p><strong>For many European grocery retailers</strong>, 2020 was the year that saw emerging consumer trends suddenly go into overdrive. With restaurants, offices, and schools largely closed in most countries during the first wave of the pandemic, consumers rushed to stock up on groceries, both in stores and online. In France, Germany, Italy, Spain, and the United Kingdom, grocery sales during the onset of the first lockdown in March 2020 increased by about 20 percent, on average, over the same period in 2019. Retailers faced difficulties to fulfill the sudden peaks in demand as fear of stock-outs led to hoarding, which, in turn, created further stock-outs—all leading to further stress for consumers.</p>
                    <p>It wasn’t until after this major disruption that both consumers and grocers realized the pandemic was going to last for months, and adapted their business models and shopping behavior accordingly. Two fundamental drivers, however, continue to shape the way consumers shop for groceries.</p>
                    <p><strong>Government restrictions</strong>. More safety regulations led to an increase in demand for both online and (especially in cases of harder lockdowns) local shopping, while the closure of restaurants and cafés combined with a rise in remote working led consumers to shift their food spending from foodservice to grocery retail.</p>
                    <p><strong>Consumer focus on health</strong>. With growing insight into infection risks and prevention measures, consumers increasingly preferred to avoid crowded places—such as busy stores or public transportation—in an effort to protect themselves and others.</p>
                    <p>Together, both government restrictions and a focus on health led to massive changes in mobility patterns. European consumers reduced their shopping frequencies by around 5 percent on average, while increasing basket sizes by approximately 16 percent.1 Overall, mobility of consumers has decreased and mobility patterns have been redistributed amongst different destinations. For instance, on average, the number of visitors to workplaces had decreased by 25 percent, while visits to residential areas had increased by 8 percent in 2020.2 The online channel, for example, grew by about 55 percent on average across Europe, while hypermarkets only saw a growth of about 3 percent.</p>
                    <p>While all countries experience both uptrading and downtrading, the extent varies across countries—with some displaying stronger signs of trading up (for example, Germany, the Netherlands, and the United Kingdom), while others see a heavier trend toward trading down (for example, France, Portugal, and Sweden). Both uptrading and downtrading being present within countries often leads to overall averages that tend to hide the order of magnitude of both. As would be expected, countries experiencing a higher downtrading typically also saw an increase in the purchase of private-label products.</p>
                    <div class="my-5"><img src="../assets/images/chi-tiet-bai-viet-content.jpg" alt=""></div>
                    <p>Overall, 2020 was a highly challenging year for grocery retailers. Besides many operational issues to solve, among the hardest issues to tackle was undoubtedly the task of taking care of fears and anxiety among frontline employees—who mostly kept working with direct customer contact even during the lockdown periods. At the same time, the markedly higher demand made it a rewarding year for most players. Retailers with a strong online offering (and enough capacity) and those with stores in close proximity to consumers managed to grow their market shares.</p>
                </div>
            </div>
        </div>
        <div class="row mb-20px bg-color-F2F2F2">
            <div class="col-md-12 py-5 py-md-60px px-md-100px">
                <div class="mb-20px text-center text-uppercase fz-14px color-333 fw-500">XEM THÊM CÁC BÀI VIẾT KHÁC</div>
                <div class="row">
                    <div class="col-md-4">
                        <a href="./chi-tiet-bai-viet.html" class="d-block mb-32px text-decoration-none">
                            <img class="w-100 mb-20px" src="../assets/images/news/1 (1).png" alt="#">
                            <h3 class="fz-18px color-000">The path forward for European grocery retailers</h3>
                            <span class="fz-14px color-8D8D8D">28/06/2021</span>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a href="./chi-tiet-bai-viet.html" class="d-block mb-32px text-decoration-none">
                            <img class="w-100 mb-20px" src="../assets/images/news/1 (2).png" alt="#">
                            <h3 class="fz-18px color-000">The path forward for European grocery retailers</h3>
                            <span class="fz-14px color-8D8D8D">28/06/2021</span>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a href="./chi-tiet-bai-viet.html" class="d-block mb-32px text-decoration-none">
                            <img class="w-100 mb-20px" src="../assets/images/news/1 (3).png" alt="#">
                            <h3 class="fz-18px color-000">The path forward for European grocery retailers</h3>
                            <span class="fz-14px color-8D8D8D">28/06/2021</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% include '../templates/partials/box-contact-0.html' %}
{% endblock content %}