{% extends "layout.html" %}

{% set title = 'Cookies' %}
{% set page = 'cookies' %}

{% block content %}
<div class="container pg-cookies">
    <div class="row">
        <div class="col-md-10 offset-md-1 py-md-64px py-4">
            <h1 class="text-center fz-48px mb-4 pb-md-3 font-Lora fw-bolder">Cookies</h1>
            <h2 class="my-5 py-3 px-4 fz-24px-nores bg-color-F2F2F2 font-Lora fw-bolder">1. Cookie là gì?</h2>
            <div class="the-content px-4 my-5">
                <p>Cookie là một tệp nhỏ được đặt trên thiết bị của bạn để kích hoạt các tính năng của C.Ope2n. Ví dụ:
                    Cookie cho phép C.Ope2n xác định thiết bị của bạn, bảo mật quyền truy cập của bạn vào C.Ope2n và có
                    thể giúp chúng tôi phát hiện nếu ai đó cố gắng truy cập tài khoản của bạn từ một thiết bị khác.
                    Cookie cũng giúp C.Ope2n chuyển đến các bạn thông tin giới thiệu phù hợp.</p>
            </div>
            <h2 class="my-5 py-3 px-4 fz-24px-nores bg-color-F2F2F2 font-Lora fw-bolder">2. Sự cần thiết của Cookies</h2>
            <div class="the-content px-4 my-5">
                <p>Các Cookie ngày luôn hoạt động và cần thiết cho các chức năng của website. Bạn có thể điều chỉnh cài
                    đặt trình duyệt của mình để chặn hoặc thông báo cho bạn về các Cookie này, tuy nhiên sẽ ảnh hưởng
                    đến trải nghiệm của bạn trên trang web.</p>
            </div>
            <h2 class="my-5 py-3 px-4 fz-24px-nores bg-color-F2F2F2 font-Lora fw-bolder">3. Các Cookies khác</h2>
            <div class="the-content px-4 my-5">
                <p>Các Cookie phân tích trang web được sử dụng để theo dõi, đo lường và phân tích trang web của chúng
                    tôi nhằm cải thiện chất lượng nội dung và trải nghiệm của bạn.</p>

                <p>Cookie được sử dụng để cung cấp các quảng cáo phù hợp với bạn.</p>

                <p>Để cho phép C.Ope2n đặt những Cookie này trên thiết bị của bạn và truy cập chúng khi bạn truy cập
                    trang web trong tương lai, C.Ope2n yêu cầu sự đồng ý của bạn bằng cách nhấp vào nút “Cho phép tất cả
                    cookie”. Nếu không chọn bất kỳ tùy chọn nào và tiếp tục sử dụng trang web của chúng tôi thì bạn đã
                    đồng ý cho C.Ope2n đặt Cookie trên thiết bị của bạn. Nếu bạn không muốn nhận Cookie vui lòng nhấp
                    vào nút “Từ chối”. Nếu bạn không muốn nhận cookie, bạn cũng có thể thay đổi cài đặt trình duyệt của
                    mình trên máy tính hoặc các thiết bị khác mà bạn đang sử dụng để truy cập các dịch vụ của chúng tôi.
                    Tuy nhiên, như đã lưu ý với bạn, việc xóa hoặc tắt Cookie sẽ ảnh hưởng đến trải nghiệm của bạn với
                    một số chức năng trên trang web trong khi sử dụng. Bạn có thể thay đổi những Cookie mà C.Ope2n có
                    thể đặt bất kỳ lúc nào.</p>
            </div>
        </div>
    </div>
</div>
<!-- <hr> -->
{% include '../templates/partials/box-contact-0.html' %}
{% endblock content %}