{% extends "layout.html" %}

{% set title = 'Điều khoản sử dụng' %}
{% set page = 'dieu-khoan-su-dung' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-10 offset-md-1 py-md-64px py-4">
            <h1 class="text-center fz-48px mb-4 pb-md-3 font-Lora fw-bolder">Điều khoản sử dụng</h1>
            <div class="the-content px-4 my-5">
                <p>Trang web này được dùng để cung cấp thông tin về hệ sinh thái C.Ope2n của CMC Corporation cho bạn,
                    chúng tôi hi vọng bạn có thể tìm được thông tin mong muốn và có trải nghiệm hài lòng với website.
                    Vui lòng xem qua các trang chức năng và sử dụng các tính năng trên trang web, tuy nhiên xin lưu ý
                    với bạn việc bạn sử dụng trang web phải tuân theo các điều khoản và điều kiện sau. Nếu bạn không
                    đồng ý với điều khoản và điều kiện này, vui lòng không sử dụng trang web này.</p>
            </div>
            <h2 class="my-5 py-3 px-4 bg-color-F2F2F2 fz-24px-nores font-Lora fw-bolder">1. Quyền sở hữu và hoạt động</h2>
            <div class="the-content px-4 my-5">
                <p>Trang web này và các dịch vụ, ứng dụng liên quan đến nó (gọi chung là "Dịch vụ") đang được cung cấp
                    bởi CMC Corporation (sau đây được gọi là "Chúng tôi"). Để biết thêm về CMC Corporation và các sản
                    phẩm, dịch vụ của chúng tôi vui lòng click vào đây. Chúng tôi có thể dựa trên điều kiện và quyết
                    định có thể sửa đổi, tạm ngưng hoặc ngừng website này hoặc một số nội dung, dịch vụ trên webiste này
                    bất kỳ thời điểm nào.</p>
            </div>
            <h2 class="my-5 py-3 px-4 bg-color-F2F2F2 fz-24px-nores font-Lora fw-bolder">2. Quyền và trách nhiệm của CMC Corporation</h2>
            <div class="the-content px-4 my-5">
                <p>Chúng tôi có quyền thay đổi và/hoặc chấm dứt các nội dung, dịch vụ một phần hay toàn bộ website mà
                    không cần thông báo trước với người sử dụng.</p>

                <p>Chúng tôi có quyền thực hiện các biện pháp an ninh để bảo vệ và chống các truy cập trái phép hoặc sửa
                    đổi trái phép, tiết lộ hoặc phá hủy thông tin.</p>

                <p>Chúng tôi có quyền thực hiện các biện pháp an ninh để bảo vệ và chống lại các truy cập trái phép hoặc
                    sửa đổi trái phép, tiết lộ hoặc phá hủy thông tin trên website.</p>

                <p>Khi sử dụng website, thông tin sẽ được truyền qua một phương tiện/thiết bị nằm ngoài sự kiểm soát của
                    CMC Corporation. Theo đó, chúng tôi không chịu trách nhiệm hoặc liên quan đến bất kỳ sự chậm trễ,
                    thất bại, bị gián đoạn của bất kỳ dữ liệu hoặc các thông tin khác được truyền trong kết nối với việc
                    sử dụng của website.</p>

                <p>Thông tin cá nhân như địa chỉ, email, số điện thoại của người sử dụng website (do người sử dụng tự
                    nguyện cung cấp bằng các hình thức khác nhau trên website) có thể được sử dụng nội bộ cho mục đích
                    nâng cấp các sản phẩm, dịch vụ của CMC Corporation. Chúng tôi cam kết không chủ động tiết lộ bất kỳ
                    thông tin nào của người sử dụng cho bên thứ ba, ngoại trừ trường hợp có yêu cầu bằng văn bản của các
                    đơn vị điều tra theo đúng luật pháp hiện hành. Khi đó, chúng tôi sẽ thông báo tới người sử dụng bằng
                    văn bản. Tuy nhiên, mặc dù có các công nghệ bảo mật và hệ thống cũng được trang bị rất nhiều tính
                    năng bảo mật, nhưng không một dữ liệu nào được truyền trên đường truyền internet mà có thể được bảo
                    mật 100%. Do vậy, chúng tôi không thể đưa ra một cam kết chắc chắn rằng thông tin bạn cung cấp cho
                    chúng tôi sẽ được bảo mật một cách tuyệt đối và cũng sẽ không chịu trách nhiệm trong trường hợp có
                    sự truy cập trái phép thông tin cá nhân của người sử dụng. Tất cả các thông tin, tài liệu không mang
                    tính chất riêng tư được người sử dụng đưa lên website đều không được xem là thông tin mật, CMC
                    Corporation được phép toàn quyền sử dụng hay chuyển tải cho bất kỳ mục đích nào.</p>

                <p>Chúng tôi được phép sử dụng bất kỳ ‎ý tưởng hay khái niệm nào mà bạn đã đưa lên website cho tất cả
                    các mục đích không giới hạn, bao gồm cả việc phát triển, sản xuất hay tiếp thị sản phẩm. Chúng tôi
                    không có trách nhiệm phải bồi thường hay thưởng cho người cung cấp.</p>

                <p>Người dùng phải cân nhắc những thông tin, tài liệu mà người dùng gửi phải nằm trong quyền hạn sử dụng
                    của người dùng; điều đó có nghĩa chúng tôi sẽ không vi phạm bất cứ quyền lợi nào của bên thứ ba.</p>

                <p>Chúng tôi có quyền từ chối một số tài liệu bạn gửi mà không bắt buộc phản hồi lý do.</p>
            </div>
            <h2 class="my-5 py-3 px-4 bg-color-F2F2F2 fz-24px-nores font-Lora fw-bolder">3. Quyền và trách nhiệm của người dùng</h2>
            <div class="the-content px-4 my-5">
                <p>Chúng tôi cho phép người sử dụng xem, chiết xuất thông tin trên website (in, tải, chuyển tiếp…) hoặc
                    chia sẻ cho người khác nhưng chỉ cho mục đích sử dụng cá nhân và phi thương mại với điều kiện phải
                    trích dẫn thông báo bản quyền sau đây: "©Copyright by CMC Corporation”.</p>

                <p>Bạn đảm bảo tuân theo pháp luật và các quy định liên quan đến việc sử dụng website của chúng tôi;
                    Không can thiệp, gây ảnh hưởng đến việc sử dụng website của những người sử dụng khác; Không can
                    thiệp vào hoạt động và quản lý website của chúng tôi.</p>

                <p>Bạn nhận thức rõ và chấp nhận rằng CMC Corporation và/hoặc các công ty thành viên/đơn vị trực thuộc
                    /nhân viên CMC không chịu trách nhiệm đối với bất kỳ tổn thất, thiệt hại, chi phí phát sinh từ bất
                    kỳ quyết định nào của bạn khi sử dụng bất kỳ thông tin nào trên website với bất kỳ nguyên nhân gì.
                </p>

                <p>Nếu bạn không bằng lòng với bất kỳ thông tin nào trên Website hoặc với bất kỳ điều khoản và điều kiện
                    sử dụng thông tin trên Website này thì bạn nên thực hiện là chấm dứt truy cập/sử dụng thông tin trên
                    website.</p>
            </div>
            <h2 class="my-5 py-3 px-4 bg-color-F2F2F2 fz-24px-nores font-Lora fw-bolder">4. Điều khoản chung</h2>
            <div class="the-content px-4 my-5">
                <p>Điều khoản sử dụng được điều chỉnh bởi pháp luật Việt Nam.</p>

                <p>Một điều khoản sử dụng bị vô hiệu theo quyết định của tòa án có thẩm quyền sẽ không ảnh hưởng đến
                    tính hiệu lực của các điều khoản còn lại.</p>

                <p>Chúng tôi luôn hoan nghênh những ý kiến/góp ý của bạn về nội dung website. Nếu có một phần nào đó của
                    website này mà bạn cho rằng đã có dấu hiệu vi phạm bản quyền của bên thứ ba, vui lòng gửi liên hệ
                    với Ban Marketing của CMC Corporation.</p>

                <p>Thông báo này và tất cả các điều khoản sử dụng tạo thành toàn bộ thỏa thuận giữa CMC Corporation và
                    bạn liên quan đến việc sử dụng các thông tin trên website. Chúng tôi có thể điều chỉnh nội dung
                    thông báo này bất cứ lúc nào bằng cách cập nhật lên website. Bạn nên thường xuyên truy cập website
                    để theo dõi các quy định ràng buộc này khi sử dụng.</p>
            </div>
        </div>
    </div>
</div>
<hr>
{% endblock content %}