{% extends "layout.html" %}

{% set title = 'FAQ' %}
{% set page = 'faq' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-10 offset-md-1 py-md-64px py-4">
            <h1 class="text-center fz-48px mb-5 pb-md-3 font-Lora fw-bolder">Frequently Asked Questions</h1>
            <h2 class="js-faq-item faq-item-head position-relative d-flex align-items-center justify-content-between w-100 pr-56px mb-12px py-3 px-4 fz-24px-nores bg-color-F2F2F2 font-Lora fw-bolder cursor-pointer">
                <a href="javascript:void(0)" class="color-333333 text-decoration-none">What are Iping main publications?</a>
                <div class="icon-toggle is-close"></div>
            </h2>
            <div class="faq-item-content the-content px-4 mt-3 mb-5">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ullamcorper viverra pellentesque viverra condimentum maecenas est diam, egestas. Sem libero magnis in malesuada luctus a pretium. Quam praesent nisl nunc tincidunt lobortis eleifend suspendisse lorem. Sem egestas amet, nulla eu sed ut.

                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ullamcorper viverra pellentesque viverra condimentum maecenas est diam, egestas. Sem libero magnis in malesuada luctus a pretium. Quam praesent nisl nunc tincidunt lobortis eleifend suspendisse lorem. Sem egestas amet, nulla eu sed ut.</p>
            </div>
            <h2 class="js-faq-item faq-item-head position-relative d-flex align-items-center justify-content-between w-100 pr-56px mb-12px py-3 px-4 fz-24px-nores bg-color-F2F2F2 font-Lora fw-bolder cursor-pointer">
                <a href="javascript:void(0)" class="color-333333 text-decoration-none">Can I reprint or distribute Iping publications?</a>
                <div class="icon-toggle is-close"></div>
            </h2>
            <div class="faq-item-content the-content px-4 mt-3 mb-5">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ullamcorper viverra pellentesque viverra condimentum maecenas est diam, egestas. Sem libero magnis in malesuada luctus a pretium. Quam praesent nisl nunc tincidunt lobortis eleifend suspendisse lorem. Sem egestas amet, nulla eu sed ut.

                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ullamcorper viverra pellentesque viverra condimentum maecenas est diam, egestas. Sem libero magnis in malesuada luctus a pretium. Quam praesent nisl nunc tincidunt lobortis eleifend suspendisse lorem. Sem egestas amet, nulla eu sed ut.</p>
            </div>
            <h2 class="js-faq-item faq-item-head position-relative d-flex align-items-center justify-content-between w-100 pr-56px mb-12px py-3 px-4 fz-24px-nores bg-color-F2F2F2 font-Lora fw-bolder cursor-pointer">
                <a href="javascript:void(0)" class="color-333333 text-decoration-none">How do I obtain permission to republish an article or an excerpted exhibit?</a>
                <div class="icon-toggle is-close"></div>
            </h2>
            <div class="faq-item-content the-content px-4 mt-3 mb-5">
                Updating
            </div>
        </div>
    </div>
</div>
{% include '../templates/partials/box-contact-0.html' %}
{% endblock content %}