{% extends "layout.html" %}

{% set title = 'Giai phap chuyen doi so' %}
{% set page = 'giai-phap-chuyen-doi-so' %}

{% block content %}
<section class="py-5 my-5">
    <div class="container">
        <h3 class="h3 font-Lora fz-36px">Giải pháp chuyển đổi số</h3>
        <div class="building-wrap">
            <div class="_circle-1-shadow"></div>
            <div class="_circle-2-shadow"></div>
            <div>
                <div id="anchor-data-1" class="js-banner-data-content data-content _cirle _cirle-1 d-none">
                    <div class="_point">
                        <h4>Chữ ký số CMC CA</h4>
                        <p>Bộ giải pháp và dịch vụ Chữ ký số, Hoá đơn điện tử, Hợp đồng điện tử của
                            CMC</p>
                    </div>
                    <div class="_point">
                        <h4>ERP SAP B1</h4>
                        <p>Quản trị nguồn lực với SAP ERP B1 cho Doanh nghiệp SMEs</p>
                    </div>
                    <div class="_point">
                        <h4>Freshworks CRM</h4>
                        <p> Theo dõi khách hàng tiềm năng, quản lý bán hàng, theo dõi sự kiện...</p>
                    </div>
                    <div class="_point">
                        <h4>M365</h4>
                        <p>Quản trị nhân sự và chuyển đổi số môi trường làm việc và giao tiếp nội
                            bộ với 1Office Worksplace</p>
                    </div>
                    <div class="_point">
                        <h4>Tổng đài iPING CC</h4>
                        <p>Quản trị nhân sự và chuyển đổi số môi trường làm việc và giao tiếp nội bộ
                            với 1Office Worksplace</p>
                    </div>
                </div>
                <div id="anchor-data-2" class="js-banner-data-content data-content _cirle _cirle-1 d-none">
                    <div class="_point">
                        <h4>Google Workspace & Office M365</h4>
                        <p>Xây dựng môi trường làm việc số</p>
                    </div>
                    <div class="_point">
                        <h4>1Office Worksplace & HRM</h4>
                        <p>Quản trị nhân sự và chuyển đổi số môi trường làm việc và giao tiếp nội bộ</p>
                    </div>
                    <div class="_point">
                        <h4>SAP ERP B1</h4>
                        <p>Quản trị nguồn lực với SAP ERP B1 cho Doanh nghiệp SMEs</p>
                    </div>
                    <div class="_point">
                        <h4>CMC Cloud Camera</h4>
                        <p>Tự động hoá quản trị với Camera giám sát an ninh và chấm công văn phòng thông minh</p>
                    </div>
                    <div class="_point">
                        <h4>Chữ ký số</h4>
                        <p>Bộ giải pháp và dịch vụ Chữ ký số, Hoá đơn điện tử, Hợp đồng điện tử của CMC</p>
                    </div>
                    <div class="_point">
                        <h4>Chữ ký số</h4>
                        <p>Dịch vụ phục vụ hạ tầng CNTT: Dịch vụ truy cập Internet cáp quang tốc độ cao cho văn phòng FTTO, Internet Leasedline CMC, Cloud Express kết nối sang AWS, GCP, Azure</p>
                    </div>
                </div>
                <div id="anchor-data-3" class="js-banner-data-content data-content _cirle _cirle-1 d-none">
                    <div class="_point">
                        <h4>1Office Worksplace & HRM</h4>
                        <p>Quản trị nhân sự và chuyển đổi số môi trường làm việc và giao tiếp nội bộ</p>
                    </div>
                </div>
                <div id="anchor-data-5" class="js-banner-data-content data-content _cirle _cirle-1 d-none">
                    <div class="_point">
                        <h4>SAP ERP B1</h4>
                        <p>Quản trị nguồn lực và sản xuất với SAP ERP B1</p>
                    </div>
                </div>
                <div id="anchor-data-6" class="js-banner-data-content data-content _cirle _cirle-1 d-none">
                    <div class="_point">
                        <h4>SAP ERP B1</h4>
                        <p>Quản trị kho bãi với SAP ERP B1</p>
                    </div>
                </div>
                <div id="anchor-data-8" class="js-banner-data-content data-content _cirle _cirle-1 d-none">
                    <div class="_point">
                        <h4>iPING CC</h4>
                        <p>Quản trị bán hàng qua Tổng đài với iPING CC</p>
                    </div>
                    <div class="_point">
                        <h4>CMC Freshworks CRM</h4>
                        <p>Quản trị bán hàng với C-Works</p>
                    </div>
                </div>
                <div id="anchor-data-9" class="js-banner-data-content data-content _cirle _cirle-1 d-none">
                    <div class="_point">
                        <h4>Google Workspace & Office M365</h4>
                        <p>Xây dựng môi trường làm việc số</p>
                    </div>
                    <div class="_point">
                        <h4>CMC Cloud Camera</h4>
                        <p>Tự động hóa quản trị với Camera giám sát an ninh và chấm công văn phòng</p>
                    </div>
                    <div class="_point">
                        <h4>Dịch vụ phục vụ hạ tầng CNTT</h4>
                        <p>Truy cập internet cáp quang tốc độ cao FTTO, internet Leasedline CMC, Cloud Express kết nối sang AWS, GCP, Azure</p>
                    </div>
                </div>
                <div id="anchor-data-10" class="js-banner-data-content data-content _cirle _cirle-1 d-none">
                    <div class="_point">
                        <h4>Elastic Compute</h4>
                        <p>Dịch vụ điện toán đám mây CMC Cloud</p>
                    </div>
                    <div class="_point">
                        <h4>Elastic GPUs</h4>
                        <p>Dịch vụ điện toán đám mây CMC Cloud</p>
                    </div>
                    <div class="_point">
                        <h4>Dịch vụ lưu trữ CMC S3</h4>
                        <p>Dịch vụ điện toán đám mây CMC Cloud</p>
                    </div>
                    <div class="_point">
                        <h4>Dịch vụ CDN CMC</h4>
                        <p>Dịch vụ điện toán đám mây CMC Cloud</p>
                    </div>
                </div>
            </div>
            <div class="_cirle _cirle-2"></div>
            <div class="home-banner is-detail position-relative pt-3 pt-md-0">
                <img class="d-none d-md-block" src="../assets/images/home/banner-home.png" alt="#">
                <p class="_text-head d-blockf fz-md-18px">Thực thi chiến lược Doanh Nghiệp</p>
                <span data-head="#anchor-data-1" class="js-banner-head _text-col-1">Thúc đẩy<br
                        class="d-none d-md-inline-block"> tăng<br class="d-none d-md-inline-block"> trưởng<br
                        class="d-none d-md-inline-block"> doanh thu<br class="d-none d-md-inline-block"> và khách<br
                        class="d-none d-md-inline-block"> hàng</span>
                <span data-head="#anchor-data-2" class="js-banner-head _text-col-2">Tối ưu<br
                        class="d-none d-md-inline-block"> quản trị<br class="d-none d-md-inline-block"> vận hành<br
                        class="d-none d-md-inline-block"> và chi phí</span>
                <span data-head="#anchor-data-3" class="js-banner-head _text-col-3 mb-3">Sáng tạo<br
                        class="d-none d-md-inline-block"> và đổi mới<br class="d-none d-md-inline-block"> mô hình<br
                        class="d-none d-md-inline-block"> kinh<br class="d-none d-md-inline-block"> doanh</span>
                <ul class="_nav d-block d-md-flex">
                    <li><a data-head="#anchor-data-4" class="js-banner-head text-decoration-none is-active"
                            href="#">Quản trị nhân sự</a></li>
                    <li><a data-head="#anchor-data-5" class="js-banner-head text-decoration-none" href="#">Quản trị sản
                            xuất</a></li>
                    <li><a data-head="#anchor-data-6" class="js-banner-head text-decoration-none" href="#">Quản trị kho
                            bãi</a></li>
                    <li><a data-head="#anchor-data-7" class="js-banner-head text-decoration-none" href="#">Quản trị giao
                            nhận</a></li>
                    <li><a data-head="#anchor-data-8" class="js-banner-head text-decoration-none" href="#">Quản trị bán
                            hàng</a></li>
                    <li><a data-head="#anchor-data-9" class="js-banner-head text-decoration-none" href="#">Quản trị văn
                            phòng</a></li>
                    <li><a data-head="#anchor-data-10" class="js-banner-head text-decoration-none" href="#">Quản trị công nghệ</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<script>
    //helper
    /**
     * converts degree to radians
     * @param degree
     * @returns {number}
     */
    var toRadians = function (degree) {
        return degree * (Math.PI / 180);
    };

    /**
     * Converts radian to degree
     * @param radians
     * @returns {number}
     */
    var toDegree = function (radians) {
        return radians * (180 / Math.PI);
    }

    /**
     * Rounds a number mathematical correct to the number of decimals
     * @param number
     * @param decimals (optional, default: 5)
     * @returns {number}
     */
    var roundNumber = function (number, decimals) {
        decimals = decimals || 5;
        return Math.round(number * Math.pow(10, decimals)) / Math.pow(10, decimals);
    }
    //the object
    var MathD = {
        sin: function (number) {
            return roundNumber(Math.sin(toRadians(number)));
        },
        cos: function (number) {
            return roundNumber(Math.cos(toRadians(number)));
        },
        tan: function (number) {
            return roundNumber(Math.tan(toRadians(number)));
        },
        asin: function (number) {
            return roundNumber(toDegree(Math.asin(number)));
        },
        acos: function (number) {
            return roundNumber(toDegree(Math.acos(number)));
        },
        atan: function (number) {
            return roundNumber(toDegree(Math.atan(number)));
        }
    };

    let home_width = 768;
    let home_height = 662;
    let r_1 = 435;
    let r_2 = 455;

    function sinDegrees(angleDegrees) {
        return Math.sin(angleDegrees * Math.PI / 180);
    };

    function get_circle_position(degress) {
        let circle_x = roundNumber(435 * MathD.sin(degress));
        let circle_y = roundNumber(435 * MathD.sin(90 - degress));

        return [circle_x, circle_y]
    }

    let pos_all = [];
    $g = 0;
    for ($i = 3; $i < 6; $i++) {
        let goc_chia_deu = 360/$i;
        $g++;
        console.log($g);
        for ($z = 1; $z < $i; $z++) {
            console.log($z);
            if (goc_chia_deu * $z < 90) {
                console.log(goc_chia_deu * $z);
                let pos = get_circle_position(goc_chia_deu * $z);
            }
        }
    }
</script>
{% endblock content %}