{% extends "layout.html" %}

{% set title = 'Giải pháp chuyển đổi số - chi tiết sản phẩm' %}
{% set page = 'giai-phap-chuyen-doi-so-chi-tiet-san-pham' %}

{% block content %}
<div class="product-detail">
    <div class="container detail detail-child">
        <div class="row">
            <div class="box-left col-md-2 col-sm-12 px-0">
                <div class="box-menu box-menu__mobile box-menu-pr">
                    <div class="jump-to">Jump to <img src="../../assets/images/select-icon-mobile.png"></div>
                    <div class="box-menu__item">
                        <p class="box-menu__title box-menu__active scrollToDiv" data-id="#1">Elastic Compute</p>
                        <ul class="box-menu__solition">
                            <li class="active"><a href="#1" class="scrollToDiv">Tổng quan</a></li>
                            <li><a href="#2" class="scrollToDiv">Tính năng</a></li>
                            <li><a class="scrollToDiv" href="#3">Ưu điểm</a></li>
                        </ul>
                    </div>
                    <div class="box-menu__item">
                        <p class="box-menu__title scrollToDiv" data-id="#4">Bảng giá</p>
                    </div>
                    <div class="box-menu__item">
                        <p class="box-menu__title scrollToDiv" data-id="#5">Sản phẩm liên quan</p>
                    </div>
                    <div class="box-menu__item">
                        <p class="box-menu__title scrollToDiv" data-id="#6">Khách hàng</p>
                    </div>
                    <div class="box-menu__item">
                        <p class="box-menu__title scrollToDiv" data-id="#7">Mua sản phẩm</p>
                    </div>
                </div>
            </div>
            <div class="box-right col-md-10 col-sm-12 full-width-1024">
                <div class="elastic-overview" id="1">
                    <div class="row">
                        <div class="col-lg-6 col-sm-12">
                            <p class="solution-title">Elastic Compute</p>
                            <p class="elastic-overview_desc">Elastic Compute là dịch vụ cho phép khách hàng khởi tạo theo nhu cầu hàng loạt các tài nguyên máy chủ ảo bao gồm bộ vi xử lý trung tâm (CPU), bộ nhớ tạm thời (RAM), dung lượng lưu trữ (Storage) và hệ thống mạng (Networks) mà không cần phải đầu tư thiết bị phần cứng tại trung tâm dữ liệu (Data Center). <br> CMC Elastic Compute được xây dựng trên hệ thống phần cứng chính hãng hiện đại nhất từ Dell; ứng dụng giải pháp công nghệ KVM-OpenStack đã được Amazon, IBM, Alibaba… công nhận. Hệ thống được đặt tại 03 Data Center đạt chuẩn Tier 3 Quốc tế của CMC Telecom với chứng chỉ bảo mật PCI DSS duy nhất tại Việt Nam. Dịch vụ sử dụng riêng hệ thống kết nối cáp quốc tế ổn định, băng thông cao lên tới 100Gbps; đảm bảo cam kết chất lượng (SLA) 99,99%. <br> Khách hàng có thể dễ dàng khởi tạo dịch vụ chỉ sau vài cú nhấp chuột; tất cả các nghiệp vụ quản trị, vận hành đều được thực hiện thông qua giao diện Web.</p>
                            <div class="button-group">
                                <a href="#" class="btn-free-trial">DÙNG THỬ MIỄN PHÍ</a>
                                <a href="#" class="btn-register">ĐĂNG KÝ MUA NGAY</a>
                            </div>
                            <ul>
                                <li>
                                    <span>Predefined machine types:</span> Start running quickly with pre-built and ready-to-go configurations
                                </li>
                                <li>
                                    <span>Custom machine types:</span> Create VMs with optimal amounts of vCPU and memory, while balancing cost
                                </li>
                                <li>
                                    <span>Preemptible machines:</span> Reduce computing costs by up to 80% with affordable short-term instances
                                </li>
                                <li>
                                    <span>Confidential computing:</span> Encrypt your most sensitive data while it’s being processed
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-6 col-sm-12">
                            <div class="device device-macbook device-spacegray">
                                <div class="device-frame">
                                    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/l51j0xW2EnU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                </div>
                                <div class="device-stripe"></div>
                                <div class="device-header"></div>
                                <div class="device-sensors"></div>
                                <div class="device-btns"></div>
                                <div class="device-power"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="elastic-feature bg-gray detail-child" id="2">
        <div class="container">
            <div class="row">
                <div class="col-md-2 col-sm-12"></div>
                <div class="col-md-10 col-sm-12 full-width-1024">
                    <p class="solution-title">Tính năng</p>
                    <div class="row">
                        <div class="col-md-4 col-sm-6 elastic-feature__item">
                            <div class="img-wrap">
                                <img src="../../assets/images/tinh-nang-1.png" alt="">
                            </div>
                            <p class="elastic-feature__title">Quản trị</p>
                            <p class="elastic-feature__desc">Giao diện quản trị thân thiện và dễ dàng sử dụng; tích hợp đầy đủ tính năng như khởi tạo, sửa, xóa, thay đổi cấu hình, cài đặt Firewall và nhiều tính năng ưu việt khác.</p>
                        </div>
                        <div class="col-md-4 col-sm-6 elastic-feature__item">
                            <div class="img-wrap">
                                <img src="../../assets/images/tinh-nang-2.png" alt="">
                            </div>
                            <p class="elastic-feature__title">Monitor</p>
                            <p class="elastic-feature__desc">Cung cấp giao diện giám sát trạng thái VM trực tuyến như % CPU, IOPS, Network (Quốc tế/Nội địa) hiện đang sử dụng của VM. Khách hàng có thể giám sát hiệu năng sử dụng của VM để tăng hoặc giảm cấu hình theo nhu cầu.</p>
                        </div>
                        <div class="col-md-4 col-sm-6 elastic-feature__item">
                            <div class="img-wrap">
                                <img src="../../assets/images/tinh-nang-3.png" alt="">
                            </div>
                            <p class="elastic-feature__title">Load Balancer</p>
                            <p class="elastic-feature__desc">Elastic Compute sử dụng HAProxy để làm cân bằng tải, tất cả các tính năng HAProxy được đưa lên trang giao diện quản trị cho phép khách hàng có thể bổ sung thêm VM, kết nối.</p>
                        </div>
                        <div class="col-md-4 col-sm-6 elastic-feature__item">
                            <div class="img-wrap">
                                <img src="../../assets/images/tinh-nang-4.png" alt="">
                            </div>
                            <p class="elastic-feature__title">Backup</p>
                            <p class="elastic-feature__desc">Tính năng sao lưu được tích hợp trong trang quản trị. Khi bật tính năng này, hệ thống sẽ tự động sao lưu Server của khách hàng theo chu kỳ ngày, tuần, tháng tùy theo cấu hình của khách hàng. Khách hàng có thể lựa chọn số lượng bản sao lưu theo nhu cầu. Giá cho mỗi bản sao lưu này là 30% chi phí của ổ cứng server.</p>
                        </div>
                        <div class="col-md-4 col-sm-6 elastic-feature__item">
                            <div class="img-wrap">
                                <img src="../../assets/images/tinh-nang-5.png" alt="">
                            </div>
                            <p class="elastic-feature__title">Advanced Firewall</p>
                            <p class="elastic-feature__desc">Elastic Compute được tích hợp sẵn Firewall Layer 3 và 4 trên trang quản trị nhằm đảm bảo dịch vụ của khách hàng luôn được bảo mật tốt nhất.</p>
                        </div>
                        <div class="col-md-4 col-sm-6 elastic-feature__item">
                            <div class="img-wrap">
                                <img src="../../assets/images/tinh-nang-6.png" alt="">
                            </div>
                            <p class="elastic-feature__title">Thay đổi OS</p>
                            <p class="elastic-feature__desc">Dễ dàng thay đổi hệ điều hành và giữ nguyên địa chỉ IP của Server chỉ trong vòng 30 giây.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container elastic-advantages detail-child" id="3">
        <div class="row">
            <div class="col-md-2 col-sd-12"></div>
            <div class="col-md-10 col-sm-12 full-width-1024">
                <p class="solution-title">Ưu điểm</p>
                <div class="owl-carousel owl-theme detail-product__carousel">
                    <div class="elastic-advantages__item">
                        <div class="img-wrap">
                            <img src="../../assets/images/uu-diem-1.png" alt="">
                        </div>
                        <p class="elastic-advantages__title carousel-title">Công nghệ KVM</p>
                        <p class="elastic-advantages__desc carousel-desc">CMC Elastic Compute sử dụng công nghệ ảo hóa KVM-OpenStack hiện đại đã được chứng nhận bởi các tên tuổi hàng đầu thế giới: Amazon, IBM, Alibaba…</p>
                    </div>
                    <div class="elastic-advantages__item">
                        <div class="img-wrap">
                            <img src="../../assets/images/uu-diem-1.png" alt="">
                        </div>
                        <p class="elastic-advantages__title carousel-title">Phần cứng hiện đại</p>
                        <p class="elastic-advantages__desc carousel-desc">Phần cứng tối tân, hiện đại, sử dụng chip Intel mới nhất Gold 6130 - 2.2Ghz và 100% ổ cứng SSD có tốc độ tối thiểu 500 MB/s đảm bảo Server luôn vận hành ở tốc độ cao nhất.</p>
                    </div>
                    <div class="elastic-advantages__item">
                        <div class="img-wrap">
                            <img src="../../assets/images/uu-diem-1.png" alt="">
                        </div>
                        <p class="elastic-advantages__title carousel-title">Khởi tạo nhanh chóng</p>
                        <p class="elastic-advantages__desc carousel-desc">Khởi tạo Server bất kỳ (cấu hình - hệ điều hành - vị trí) trong vòng 30 giây. Giảm thiểu tối đa thời gian "Time to Market"</p>
                    </div>
                    <div class="elastic-advantages__item">
                        <div class="img-wrap">
                            <img src="../../assets/images/uu-diem-1.png" alt="">
                        </div>
                        <p class="elastic-advantages__title carousel-title">99.99% Uptime SLA</p>
                        <p class="elastic-advantages__desc carousel-desc">Thời gian Uptime lên đến 99,99% đảm bảo hoạt động sản xuất, kinh doanh luôn ổn định.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="price-list bg-gray detail" id="4">
        <div class="container">
            <div class="row">
                <div class="col-md-2 col-sm-12"></div>
                <div class="col-md-10 col-sm-12 full-width-1024">
                    <p class="solution-title">Bảng giá</p>
                    <div class="price-list__item">
                        <div class="price">
                            <p>270.000</p>
                            <p>VND/tháng</p>
                        </div>
                        <ul>
                            <li><span>1vCore</span> CPU</li>
                            <li><span>1GB</span> RAM</li>
                            <li><span>20GB</span> SSD Disk</li>
                            <li><span>1</span> Public IP</li>
                            <li><span>Unlimited</span> Bandwidth</li>
                            <li><span>500 Mbps</span> Network</li>
                            <li><span>Support</span> 24/7</li>
                            <li><a href="#" class="register-now btn-hover">ĐĂNG KÝ NGAY</a></li>
                        </ul>
                    </div>
                    <div class="price-list__item">
                        <div class="price">
                            <p>450.000</p>
                            <p>VND/tháng</p>
                        </div>
                        <ul>
                            <li><span>1vCore</span> CPU</li>
                            <li><span>1GB</span> RAM</li>
                            <li><span>20GB</span> SSD Disk</li>
                            <li><span>1</span> Public IP</li>
                            <li><span>Unlimited</span> Bandwidth</li>
                            <li><span>500 Mbps</span> Network</li>
                            <li><span>Support</span> 24/7</li>
                            <li><a href="#" class="register-now btn-hover">ĐĂNG KÝ NGAY</a></li>
                        </ul>
                    </div>
                    <div class="price-list__item">
                        <div class="price">
                            <p>680.000</p>
                            <p>VND/tháng</p>
                        </div>
                        <ul>
                            <li><span>1vCore</span> CPU</li>
                            <li><span>1GB</span> RAM</li>
                            <li><span>20GB</span> SSD Disk</li>
                            <li><span>1</span> Public IP</li>
                            <li><span>Unlimited</span> Bandwidth</li>
                            <li><span>500 Mbps</span> Network</li>
                            <li><span>Support</span> 24/7</li>
                            <li><a href="#" class="register-now btn-hover">ĐĂNG KÝ NGAY</a></li>
                        </ul>
                    </div>
                    <div class="price-list__item">
                        <div class="price">
                            <p>990.000</p>
                            <p>VND/tháng</p>
                        </div>
                        <ul>
                            <li><span>1vCore</span> CPU</li>
                            <li><span>1GB</span> RAM</li>
                            <li><span>20GB</span> SSD Disk</li>
                            <li><span>1</span> Public IP</li>
                            <li><span>Unlimited</span> Bandwidth</li>
                            <li><span>500 Mbps</span> Network</li>
                            <li><span>Support</span> 24/7</li>
                            <li><a href="#" class="register-now btn-hover">ĐĂNG KÝ NGAY</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-2 col-sm-12"></div>
                <div class="col-md-10 col-sm-12 full-width-1024"><p class="price-note">* Giá trên chưa bao gồm 10% VAT. Áp dụng cho tất cả các Server khởi tạo mới hoặc gia hạn/nâng cấp.</p></div>
            </div>
        </div>
    </div>
    <div class="container related-product detail" id="5">
        <div class="row">
            <div class="col-md-2 col-sm-12"></div>
            <div class="col-md-10 col-sm-12 full-width-1024">
                <p class="solution-title">Sản phẩm liên quan</p>
                <div class="owl-carousel owl-theme detail-product__carousel">
                    <div class="related-product__item">
                        <div class="img-wrap">
                            <img src="../../assets/images/uu-diem-1.png" alt="">
                        </div>
                        <p class="related-product__title carousel-title">M 365</p>
                        <p class="related-product__desc carousel-desc">Quản trị nhân sự và chuyển đổi số môi trường làm việc và giao tiếp nội bộ với 1Office Worksplace</p>
                    </div>
                    <div class="related-product__item">
                        <div class="img-wrap">
                            <img src="../../assets/images/uu-diem-1.png" alt="">
                        </div>
                        <p class="related-product__title carousel-title">Tổng đài iPING CC</p>
                        <p class="related-product__desc carousel-desc"> Theo dõi khách hàng tiềm năng, quản lý bán hàng, theo dõi sự kiện...</p>
                    </div>
                    <div class="related-product__item">
                        <div class="img-wrap">
                            <img src="../../assets/images/uu-diem-1.png" alt="">
                        </div>
                        <p class="related-product__title carousel-title">Phần cứng hiện đại</p>
                        <p class="related-product__desc carousel-desc">Phần cứng tối tân, hiện đại, sử dụng chip Intel mới nhất Gold 6130 - 2.2Ghz và 100% ổ cứng SSD có tốc độ tối thiểu 500 MB/s đảm bảo Server luôn vận hành ở tốc độ cao nhất.</p>
                    </div>
                    <div class="related-product__item">
                        <div class="img-wrap">
                            <img src="../../assets/images/uu-diem-1.png" alt="">
                        </div>
                        <p class="related-product__title carousel-title">Phần cứng hiện đại</p>
                        <p class="related-product__desc carousel-desc">Phần cứng tối tân, hiện đại, sử dụng chip Intel mới nhất Gold 6130 - 2.2Ghz và 100% ổ cứng SSD có tốc độ tối thiểu 500 MB/s đảm bảo Server luôn vận hành ở tốc độ cao nhất.</p>
                    </div>
                    <div class="related-product__item">
                        <div class="img-wrap">
                            <img src="../../assets/images/uu-diem-1.png" alt="">
                        </div>
                        <p class="related-product__title carousel-title">Phần cứng hiện đại</p>
                        <p class="related-product__desc carousel-desc">Phần cứng tối tân, hiện đại, sử dụng chip Intel mới nhất Gold 6130 - 2.2Ghz và 100% ổ cứng SSD có tốc độ tối thiểu 500 MB/s đảm bảo Server luôn vận hành ở tốc độ cao nhất.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="customers bg-gray detail" id="6">
        <div class="container">
            <div class="row">
                <div class="col-md-2 col-sm-12"></div>
                <div class="col-md-10 col-sm-12 full-width-1024">
                    <h2 class="customers-title">Khách hàng tiêu biểu</h2>
                    <div class="wrap-customers">
                        <div class="_img-customers">
                            <img src="../assets/images/customers-1.png" alt="#">
                        </div>
                        <div class="_img-customers">
                            <img src="../assets/images/customers-2.png" alt="#">
                        </div>
                        <div class="_img-customers">
                            <img src="../assets/images/customers-3.png" alt="#">
                        </div>
                        <div class="_img-customers">
                            <img src="../assets/images/customers-4.png" alt="#">
                        </div>
                        <div class="_img-customers">
                            <img src="../assets/images/customers-5.png" alt="#">
                        </div>
                        <div class="_img-customers">
                            <img src="../assets/images/customers-6.png" alt="#">
                        </div>
                        <div class="_img-customers">
                            <img src="../assets/images/customer-7.png" alt="#">
                        </div>
                        <div class="_img-customers">
                            <img src="../assets/images/customer-8.png" alt="#">
                        </div>
                        <div class="_img-customers">
                            <img src="../assets/images/customer-9.png" alt="#">
                        </div>
                        <div class="_img-customers">
                            <img src="../assets/images/customer-10.png" alt="#">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="new-footer detail position-relative ribbon-wrap" id="7">
        <iframe class="ribbon" src="./ribbon.html" frameborder="0"></iframe>
        <div class="container position-relative">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <p>Trải nghiệm sản phẩm miễn phí cùng với iPING</p>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="one-click"><a href="#" class="btn-hover">1 CLICK ĐỂ BẮT ĐẦU</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}