{% extends "layout.html" %}

{% set title = 'Giải pháp chuyển đổi số' %}
{% set page = 'giai-phap-chuyen-doi-so' %}

{% block content %}

<div class="digital-convers">
    <div class="bg-black position-relative ribbon-wrap">
        <iframe class="ribbon" src="./ribbon.html" frameborder="0"></iframe>
        <div class="container-fluid position-relative">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <p class="text-bg mb-0">Giải pháp chuyển đổi số thúc đẩy tăng trưởng doanh thu & khách hàng</p>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-blue">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <div class="wrap-cs">
                        <ul>
                            <li>
                                <p class="nber">01</p>
                                <p class="text">Tổng quan</p>
                            </li>
                            <li>
                                <p class="nber">02</p>
                                <p class="text">Khách hàng</p>
                            </li>
                            <li>
                                <p class="nber">03</p>
                                <p class="text">Giải pháp</p>
                            </li>
                            <li>
                                <p class="nber">04</p>
                                <p class="text">1 Click</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="overview">
        <div class="container-fluid">
            <div class="row overview-flex">
                <div class="col-md-8 offset-md-2">
                    <div class="wrap-overv">
                        <div class="overview-info">
                            <h2 class="title">Tổng quan</h2>
                            <p class="content mb-4">Trong thời đại kỹ thuật số, nơi chuyển đổi là điều cần thiết để duy trì khả năng cạnh tranh, năng lực Chuyển đổi số quản trị văn phòng tốt là thứ mà các công ty cần để tối đa hóa giá trị của những chuyển đổi của họ. Chuyển đổi số cho Quản trị văn phòng có nghĩa là chuyển hoàn toàn hệ quy chiếu của doanh nghiệp bạn sang hệ quy chiếu nhấn mạnh đến việc nhận ra giá trị và kết quả kinh doanh thông qua chuyển đổi. CMC đem đến cho khách hàng những sản phẩm và giải pháp giúp doanh nghiệp thực hiện chuyển đổi kỹ thuật số và đảm bảo rằng các doanh nghiệp có thể chuyển đổi một cách có kế hoạch, phù hợp và những chuyên gia hàng đầu cần thiết để vượt qua mục tiêu.</p>
                            <div class="block-btn">
                                <a href="#" class="d-inline-block me-2 pd-lr-68 py-16px fw-bold text-uppercase text-decoration-none color-ffffff bg-color-00419F fs-14-17 btn-xn btn-solution__contact btn-hover">LIÊN HỆ</a>
                                <a href="#" class="d-inline-block px-4 py-16px fw-bold text-uppercase text-decoration-none color-00419F bg-outline-color-00419F fs-14-17">*Dùng thử miễn phí 30 ngày    </a>
                            </div>
                        </div>
                        <div class="video">
                            <div class="_img">
                                <img src="../assets/images/video-thumb-1.png" alt="#">
                                <a href="https://www.youtube.com/watch?v=2vxXziFQLyo" target="_blank"><img class="play" src="../assets/images/play.png" alt=""></a>
                            </div>
                            <div class="_tt-info">
                                <span class="fs-14-17 d-block mb-3">VIDEO</span>
                                <p class="mb-0 vd-title">7 out of 10 leading retail and CPG companies trust CMC Cloud. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="customers bg-gray">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <h2 class="customers-title">Khách hàng tiêu biểu</h2>
                    <div class="wrap-customers">
                        <div class="_img-customers">
                            <img src="../assets/images/customers-1.png" alt="#">
                        </div>
                        <div class="_img-customers">
                            <img src="../assets/images/customers-2.png" alt="#">
                        </div>
                        <div class="_img-customers">
                            <img src="../assets/images/customers-3.png" alt="#">
                        </div>
                        <div class="_img-customers">
                            <img src="../assets/images/customers-4.png" alt="#">
                        </div>
                        <div class="_img-customers">
                            <img src="../assets/images/customers-5.png" alt="#">
                        </div>
                        <div class="_img-customers">
                            <img src="../assets/images/customers-6.png" alt="#">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="py-5 my-md-5">
    <div class="pb-mb-5 mb-mb-5 container-fluid">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div class="customers pb-md-5 mb-md-5">
                    <h3 class="customers-title mb-0">Giải pháp chuyển đổi số</h3>
                </div>
                <div class="building-wrap ">
                    <div class="d-none d-lg-flex align-items-center justify-content-center _circle-1-shadow"><span></span></div>
                    <div class="d-none d-lg-flex align-items-center justify-content-center _circle-1-shadow is-revert"><span></span></div>
                    <div class="d-none d-lg-flex align-items-center justify-content-center _circle-2-shadow"><span></span></div>
                    <div class="d-none d-lg-block _cirle _cirle-2"></div>
                    <div class="home-banner is-detail position-relative pt-3 pt-md-0">
                        <img class="d-none d-md-block" src="../assets/images/home/banner-home.png" alt="#">
                        <img class="d-md-none" src="../assets/images/home/banner-home-mobile.png" alt="#">
                        <p class="_text-head d-block fz-md-18px fw-500">Thực thi chiến lược Doanh Nghiệp</p>
                        <span data-head="#anchor-data-1" class="js-box-mg-head js-box-mg-head-fisrt _text-col-1 is-s2">Thúc đẩy<br
                                class="d-none d-md-inline-block"> tăng<br class="d-none d-md-inline-block"> trưởng<br
                                class="d-none d-md-inline-block"> doanh thu<br class="d-none d-md-inline-block"> và khách<br
                                class="d-none d-md-inline-block"> hàng</span>
                        <span data-head="#anchor-data-2" class="js-box-mg-head _text-col-2 is-s2">Tối ưu<br
                                class="d-none d-md-inline-block"> quản trị<br class="d-none d-md-inline-block"> vận hành<br
                                class="d-none d-md-inline-block"> và chi phí</span>
                        <span data-head="#anchor-data-3" class="js-box-mg-head _text-col-3 is-s2 mb-3">Sáng tạo<br
                                class="d-none d-md-inline-block"> và đổi mới<br class="d-none d-md-inline-block"> mô hình<br
                                class="d-none d-md-inline-block"> kinh<br class="d-none d-md-inline-block"> doanh</span>
                        <ul class="_nav d-flex">
                            <li><a data-head="#anchor-data-4" class="js-box-mg-head text-decoration-none is-active"
                                    href="javascript:void(0)">Quản trị nhân sự</a></li>
                            <li><a data-head="#anchor-data-5" class="js-box-mg-head text-decoration-none" href="javascript:void(0)">Quản trị sản
                                    xuất</a></li>
                            <li><a data-head="#anchor-data-6" class="js-box-mg-head text-decoration-none" href="javascript:void(0)">Quản trị kho
                                    bãi</a></li>
                            <li><a data-head="#anchor-data-7" class="js-box-mg-head text-decoration-none" href="javascript:void(0)">Quản trị giao
                                    nhận</a></li>
                            <li><a data-head="#anchor-data-8" class="js-box-mg-head text-decoration-none" href="javascript:void(0)">Quản trị bán
                                    hàng</a></li>
                            <li><a data-head="#anchor-data-9" class="js-box-mg-head text-decoration-none" href="javascript:void(0)">Quản trị văn
                                    phòng</a></li>
                            <li><a data-head="#anchor-data-10" class="js-box-mg-head text-decoration-none" href="javascript:void(0)">Quản trị công nghệ</a></li>
                        </ul>
                    </div>
                    <div class="mt-4 mt-lg-0">
                        <div id="anchor-data-1" class="js-box-mg-data-content data-content _cirle _cirle-1">
                            <div class="_point">
                                <h4>Chữ ký số CMC CA</h4>
                                <p>Bộ giải pháp và dịch vụ Chữ ký số, Hoá đơn điện tử, Hợp đồng điện tử của
                                    CMC</p>
                            </div>
                            <div class="_point">
                                <h4>ERP SAP B1</h4>
                                <p>Quản trị nguồn lực với SAP ERP B1 cho Doanh nghiệp SMEs</p>
                            </div>
                            <div class="_point">
                                <h4>Freshworks CRM</h4>
                                <p> Theo dõi khách hàng tiềm năng, quản lý bán hàng, theo dõi sự kiện...</p>
                            </div>
                            <div class="_point">
                                <h4>M365</h4>
                                <p>Quản trị nhân sự và chuyển đổi số môi trường làm việc và giao tiếp nội
                                    bộ với 1Office Worksplace</p>
                            </div>
                            <div class="_point">
                                <h4>Tổng đài iPING CC</h4>
                                <p>Quản trị nhân sự và chuyển đổi số môi trường làm việc và giao tiếp nội bộ
                                    với 1Office Worksplace</p>
                            </div>
                        </div>
                        <div id="anchor-data-2" class="js-box-mg-data-content data-content _cirle _cirle-1">
                            <div class="_point">
                                <h4>Google Workspace & Office M365</h4>
                                <p>Xây dựng môi trường làm việc số</p>
                            </div>
                            <div class="_point">
                                <h4>1Office Worksplace & HRM</h4>
                                <p>Quản trị nhân sự và chuyển đổi số môi trường làm việc và giao tiếp nội bộ</p>
                            </div>
                            <div class="_point">
                                <h4>SAP ERP B1</h4>
                                <p>Quản trị nguồn lực với SAP ERP B1 cho Doanh nghiệp SMEs</p>
                            </div>
                            <div class="_point">
                                <h4>CMC Cloud Camera</h4>
                                <p>Tự động hoá quản trị với Camera giám sát an ninh và chấm công văn phòng thông minh</p>
                            </div>
                            <div class="_point">
                                <h4>Chữ ký số</h4>
                                <p>Bộ giải pháp và dịch vụ Chữ ký số, Hoá đơn điện tử, Hợp đồng điện tử của CMC</p>
                            </div>
                            <div class="_point">
                                <h4>Chữ ký số</h4>
                                <p>Dịch vụ phục vụ hạ tầng CNTT: Dịch vụ truy cập Internet cáp quang tốc độ cao cho văn phòng FTTO, Internet Leasedline CMC, Cloud Express kết nối sang AWS, GCP, Azure</p>
                            </div>
                        </div>
                        <div id="anchor-data-3" class="js-box-mg-data-content data-content _cirle _cirle-1">
                            <div class="_point">
                                <h4>1Office Worksplace & HRM</h4>
                                <p>Quản trị nhân sự và chuyển đổi số môi trường làm việc và giao tiếp nội bộ</p>
                            </div>
                            <div class="_point">
                                <h4>1Office Worksplace & HRM</h4>
                                <p>Quản trị nhân sự và chuyển đổi số môi trường làm việc và giao tiếp nội bộ</p>
                            </div>
                            <div class="_point">
                                <h4>1Office Worksplace & HRM</h4>
                                <p>Quản trị nhân sự và chuyển đổi số môi trường làm việc và giao tiếp nội bộ</p>
                            </div>
                            <div class="_point">
                                <h4>1Office Worksplace & HRM</h4>
                                <p>Quản trị nhân sự và chuyển đổi số môi trường làm việc và giao tiếp nội bộ</p>
                            </div>
                            <div class="_point">
                                <h4>1Office Worksplace & HRM</h4>
                                <p>Quản trị nhân sự và chuyển đổi số môi trường làm việc và giao tiếp nội bộ</p>
                            </div>
                        </div>
                        <div id="anchor-data-4" class="js-box-mg-data-content data-content _cirle _cirle-1">
                            <div class="_point">
                                <h4>1Office Worksplace & HRM</h4>
                                <p>Quản trị nhân sự và chuyển đổi số môi trường làm việc và giao tiếp nội bộ</p>
                            </div>
                            <div class="_point">
                                <h4>1Office Worksplace & HRM</h4>
                                <p>Quản trị nhân sự và chuyển đổi số môi trường làm việc và giao tiếp nội bộ</p>
                            </div>
                            <div class="_point">
                                <h4>1Office Worksplace & HRM</h4>
                                <p>Quản trị nhân sự và chuyển đổi số môi trường làm việc và giao tiếp nội bộ</p>
                            </div>
                            <div class="_point">
                                <h4>1Office Worksplace & HRM</h4>
                                <p>Quản trị nhân sự và chuyển đổi số môi trường làm việc và giao tiếp nội bộ</p>
                            </div>
                            <div class="_point">
                                <h4>1Office Worksplace & HRM</h4>
                                <p>Quản trị nhân sự và chuyển đổi số môi trường làm việc và giao tiếp nội bộ</p>
                            </div>
                        </div>
                        <div id="anchor-data-5" class="js-box-mg-data-content data-content _cirle _cirle-1">
                            <div class="_point">
                                <h4>SAP ERP B1</h4>
                                <p>Quản trị nguồn lực và sản xuất với SAP ERP B1</p>
                            </div>
                            <div class="_point">
                                <h4>SAP ERP B1</h4>
                                <p>Quản trị nguồn lực và sản xuất với SAP ERP B1</p>
                            </div>
                            <div class="_point">
                                <h4>SAP ERP B1</h4>
                                <p>Quản trị nguồn lực và sản xuất với SAP ERP B1</p>
                            </div>
                            <div class="_point">
                                <h4>SAP ERP B1</h4>
                                <p>Quản trị nguồn lực và sản xuất với SAP ERP B1</p>
                            </div>
                            <div class="_point">
                                <h4>SAP ERP B1</h4>
                                <p>Quản trị nguồn lực và sản xuất với SAP ERP B1</p>
                            </div>
                        </div>
                        <div id="anchor-data-6" class="js-box-mg-data-content data-content _cirle _cirle-1">
                            <div class="_point">
                                <h4>SAP ERP B1</h4>
                                <p>Quản trị kho bãi với SAP ERP B1</p>
                            </div>
                            <div class="_point">
                                <h4>SAP ERP B1</h4>
                                <p>Quản trị kho bãi với SAP ERP B1</p>
                            </div>
                            <div class="_point">
                                <h4>SAP ERP B1</h4>
                                <p>Quản trị kho bãi với SAP ERP B1</p>
                            </div>
                            <div class="_point">
                                <h4>SAP ERP B1</h4>
                                <p>Quản trị kho bãi với SAP ERP B1</p>
                            </div>
                            <div class="_point">
                                <h4>SAP ERP B1</h4>
                                <p>Quản trị kho bãi với SAP ERP B1</p>
                            </div>
                        </div>
                        <div id="anchor-data-7" class="js-box-mg-data-content data-content _cirle _cirle-1">
                            <div class="_point">
                                <h4>SAP ERP B1</h4>
                                <p>Quản trị kho bãi với SAP ERP B1</p>
                            </div>
                            <div class="_point">
                                <h4>SAP ERP B1</h4>
                                <p>Quản trị kho bãi với SAP ERP B1</p>
                            </div>
                            <div class="_point">
                                <h4>SAP ERP B1</h4>
                                <p>Quản trị kho bãi với SAP ERP B1</p>
                            </div>
                            <div class="_point">
                                <h4>SAP ERP B1</h4>
                                <p>Quản trị kho bãi với SAP ERP B1</p>
                            </div>
                            <div class="_point">
                                <h4>SAP ERP B1</h4>
                                <p>Quản trị kho bãi với SAP ERP B1</p>
                            </div>
                        </div>
                        <div id="anchor-data-8" class="js-box-mg-data-content data-content _cirle _cirle-1">
                            <div class="_point">
                                <h4>iPING CC</h4>
                                <p>Quản trị bán hàng qua Tổng đài với iPING CC</p>
                            </div>
                            <div class="_point">
                                <h4>CMC Freshworks CRM</h4>
                                <p>Quản trị bán hàng với C-Works</p>
                            </div>
                            <div class="_point">
                                <h4>iPING CC</h4>
                                <p>Quản trị bán hàng qua Tổng đài với iPING CC</p>
                            </div>
                            <div class="_point">
                                <h4>CMC Freshworks CRM</h4>
                                <p>Quản trị bán hàng với C-Works</p>
                            </div>
                        </div>
                        <div id="anchor-data-9" class="js-box-mg-data-content data-content _cirle _cirle-1">
                            <div class="_point">
                                <h4>CMC Chat Bot</h4>
                                <p>Xây dựng môi trường làm việc số</p>
                            </div>
                            <div class="_point">
                                <h4>CMC Cloud Camera</h4>
                                <p>Tự động hóa quản trị với Camera giám sát an ninh và chấm công văn phòng</p>
                            </div>
                            <div class="_point">
                                <h4>CMC Cloud Server</h4>
                                <p>Truy cập internet cáp quang tốc độ cao FTTO, internet Leasedline CMC, Cloud Express kết nối sang AWS, GCP, Azure</p>
                            </div>
                            <div class="_point">
                                <h4>CMC Cloud Camera</h4>
                                <p>Tự động hóa quản trị với Camera giám sát an ninh và chấm công văn phòng</p>
                            </div>
                            <div class="_point">
                                <h4>CMC Cloud Server</h4>
                                <p>Truy cập internet cáp quang tốc độ cao FTTO, internet Leasedline CMC, Cloud Express kết nối sang AWS, GCP, Azure</p>
                            </div>
                        </div>
                        <div id="anchor-data-10" class="js-box-mg-data-content data-content _cirle _cirle-1">
                            <div class="_point">
                                <h4>Elastic Compute</h4>
                                <p>Dịch vụ điện toán đám mây CMC Cloud</p>
                            </div>
                            <div class="_point">
                                <h4>Elastic GPUs</h4>
                                <p>Dịch vụ điện toán đám mây CMC Cloud</p>
                            </div>
                            <div class="_point">
                                <h4>Dịch vụ lưu trữ CMC S3</h4>
                                <p>Dịch vụ điện toán đám mây CMC Cloud</p>
                            </div>
                            <div class="_point">
                                <h4>Dịch vụ CDN CMC</h4>
                                <p>Dịch vụ điện toán đám mây CMC Cloud</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="new-footer ribbon-wrap">
    <iframe class="ribbon" src="./ribbon.html" frameborder="0"></iframe>
    <div class="container position-relative">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <p>Trải nghiệm sản phẩm miễn phí cùng với iPING</p>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="one-click"><a href="#" class="btn-hover">1 CLICK ĐỂ BẮT ĐẦU</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}