{% extends "layout.html" %}

{% set title = 'Hồ sơ chuyên gia' %}
{% set page = 'ho-so-chuyen-gia' %}

{% block content %}
<section class="bg-color-F3F3F3 mb-2 pb-4">
    <div class="container">
        <div class="row">
            <div class="col-md-12 py-md-64px py-4">
                <h2 class="text-center fz-36px mb-5 pb-md-3 font-Lora fw-bolder">Chuyên gia công nghệ</h2>
                <div class="row">
                    {% for item in [0, 1, 2, 3, 4, 5] -%}
                    <div class="col-md-6 col-lg-4 mb-26px px-md-7px">
                        <a href="./ho-so-chuyen-gia-chi-tiet.html" class="card-hscg d-block">
                            <div class="_img mt-32px"><img src="../assets/images/chuyen-gia.png" class="card-img-top rounded-circle mb-32px w-100 d-block" alt="#"></div>
                            <div class="card-body text-center pt-32px px-3 px-md-5">
                                <h3 class="card-title font-Lora color-000 fz-20px fw-700">Nguyễn Văn A</h3>
                                <h4 class="font-Lora color-000 fz-14px fw-700">Chuyên gia Tư vấn Cloud</h4>
                                <div class="d-flex justify-content-center"><hr class="w-25"></div>
                                <p class="card-text fz-14px">10 năm trong lĩnh vực tư vấn chuyển đổi số. Chuyên gia tư vấn cho ngành
                                    Bán lẻ, Sản xuất…</p>
                            </div>
                        </a>
                    </div>
                    {%- endfor %}
                </div>
                <div class="text-center mt-4"><a href="#" class="btn-default btn-hover fz-14px text-uppercase fw-700">Xem thêm</a></div>
                <h2 class="text-center fz-36px my-5 pt-5 pb-md-3 font-Lora fw-bolder">Chuyên gia tài chính</h2>
                <div class="row">
                    {% for item in [0, 1, 2, 3, 4, 5] -%}
                    <div class="col-md-6 col-lg-4 mb-3 px-md-7px">
                        <a href="./ho-so-chuyen-gia-chi-tiet.html" class="card-hscg d-block">
                            <div class="_img mt-32px"><img src="../assets/images/chuyen-gia.png" class="card-img-top rounded-circle mb-32px w-100 d-block" alt="#"></div>
                            <div class="card-body text-center pt-32px px-3 px-md-5">
                                <h3 class="card-title font-Lora color-000 fz-20px fw-700">Nguyễn Văn A</h3>
                                <h4 class="font-Lora color-000 fz-14px fw-700">Chuyên gia Tư vấn Cloud</h4>
                                <div class="d-flex justify-content-center"><hr class="w-25"></div>
                                <p class="card-text fz-14px">10 năm trong lĩnh vực tư vấn chuyển đổi số. Chuyên gia tư vấn cho ngành
                                    Bán lẻ, Sản xuất…</p>
                            </div>
                        </a>
                    </div>
                    {%- endfor %}
                </div>
                <div class="text-center mt-4"><a href="#" class="btn-default btn-hover fz-14px text-uppercase fw-700">Xem thêm</a></div>
            </div>
        </div>
    </div>
</section>
{% include '../templates/partials/box-contact-0.html' %}
{% endblock content %}