{% extends "layout.html" %}

{% set title = 'Chi tiết Hồ sơ chuyên gia' %}
{% set page = '' %}

{% block content %}
<section class="bg-color-F3F3F3 pt-3 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p class="back-page back-page__cds"><a href="./ho-so-chuyen-gia.html">Trở về trang hồ sơ chuyên gia</a></p>
            </div>
        </div>
        <div class="row my-5">
            <div class="col-md-4">
                <div class="card-hscg-avatar mb-4">
                    <img src="../assets/images/chuyen-gia.png" alt="#">
                </div>
            </div>
            <div class="col-md-8">
                <h1 class="mb-0 font-Lora fz-48px color-333333 fw-700">Kari Alldredge</h1>
                <div class="my-20px fz-18px">Partner, <a href="#" class="text-hv-underline color-0080DD">Minneapolis</a></div>
                <div class="d-flex align-items-center my-20px">
                    <a href="#" class="icon-circle-tiny me-3"><img src="../assets/images/icon-phone-line.png" alt=""></a>
                    <a href="#" class="icon-circle-tiny"><img src="../assets/images/icon-mail-line.png" alt=""></a>
                </div>
                <p>Brings deep expertise in customer and channel management and supports major consumer-goods companies around the world on sales and marketing effectiveness, growth strategy, and organization redesign</p>
            </div>
        </div>
    </div>
</section>
<section class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-8 pr-md-56px">
                <div class="the-content">
                    <h2 class="mb-5 fw-700 font-Lora fz-24px">ABOUT KARI</h2>
                    <p>Kari leads McKinsey’s work in customer and channel management and, for more than 20 years, has advised consumer-goods companies on broad range of topics. She works with food and nonfood manufacturers across North and South America, Europe, and Asia.</p>
                    <p>Examples of her recent work include supporting a leading North American food company in redesigning its commercial organization. For a multinational beverage manufacturer, she helped shape a pricing and promotion optimization, which led to an improvement of two percentage points in profit.</p>
                    <p>Kari’s experience also includes developing a global category-growth strategy for a personal-care manufacturer in the mass retail and online channels as well as supporting the development of a private-label entry strategy for a branded-food manufacturer, which led to a significant acquisition.</p>
                    <p>In addition to serving clients, Kari leads McKinsey’s knowledge development in sales and channel management. She led the development of our Customer and Channel Management Benchmarking Survey—a global survey of some 140 consumer-packaged-goods companies, undertaken with industry partners, to identify winning practices that drive performance. Kari is a frequent speaker at industry forums.</p>
                    <p>Before joining McKinsey, Kari worked in investment banking as well as in marketing and product planning for General Motors.</p>
                    <p>Kari serves on the board of trustees at the Minneapolis Institute of Arts, and she previously served on the boards of the Blake School and the Minnesota Children’s Museum.</p>
                    <hr class="my-5">
                    <h2 class="mb-5 fw-700 font-Lora fz-24px">PUBLISHED WORK</h2>
                    <div class="row mb-4 align-items-end">
                        <div class="col-2 col-lg-1 text-center fw-700 font-Lora color-00419F fz-64px">1</div>
                        <div class="col-10 col-lg-11 ps-0 pb-17px">“‘Power partnerships’: Manufacturer–retailer collaborations that work,” McKinsey & <br class="d-none d-xl-block">Company, May 2019</div>
                    </div>
                    <div class="row mb-4 align-items-end">
                        <div class="col-2 col-lg-1 text-center fw-700 font-Lora color-00419F fz-64px">2</div>
                        <div class="col-10 col-lg-11 ps-0 pb-17px">“Winning in consumer packaged goods through data and analytics,” McKinsey & <br class="d-none d-xl-block">Company, August 2016</div>
                    </div>
                    <div class="row mb-4 align-items-end">
                        <div class="col-2 col-lg-1 text-center fw-700 font-Lora color-00419F fz-64px">3</div>
                        <div class="col-10 col-lg-11 ps-0 pb-17px">“Playing catch-up: How to partner with the retailer of the future,” McKinsey & Company, <br class="d-none d-xl-block">June 2016</div>
                    </div>
                    <div class="row mb-4 align-items-end">
                        <div class="col-2 col-lg-1 text-center fw-700 font-Lora color-00419F fz-64px">4</div>
                        <div class="col-10 col-lg-11 ps-0 pb-17px">“The digital future of consumer-packaged-goods companies,” McKinsey & Company, <br class="d-none d-xl-block">October 2015</div>
                    </div>
                    <hr class="my-5">
                    <h2 class="fw-700 font-Lora fz-24px">EDUCATION</h2>
                    <h3 class="mt-5 fw-700 fz-24px">University of Chicago</h3>
                    <p class="fz-18px">MBA</p>
                    <h3 class="mt-5 fw-700 fz-24px">Colorado College</h3>
                    <p class="fz-18px">MBA</p>
                </div>
            </div>
        </div>
    </div>
</section>
{% include '../templates/partials/box-contact-0.html' %}
{% endblock content %}