{% extends "layout.html" %}

{% set title = 'Học viện chuyển đổi số' %}
{% set page = 'hoc-vien-cds' %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <h2 class="text-center font-Lora cds-title cds-title__first">Thư viện chuyển đổi số</h2>
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="select-custom mb-3">
                        <p>Giải pháp</p>
                        <select class="form-control ">
                            <option value="0">Văn phòng Thông minh</option>
                            <option value="1">Văn phòng Thông minh 1</option>
                            <option value="2">Văn phòng Thông minh 2</option>
                            <option value="3">Văn phòng Thông minh 3</option>
                            <option value="4">Văn phòng Thông minh 4</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="select-custom mb-3">
                        <p>Sản phẩm dịch vụ</p>
                        <select class="form-control">
                            <option value="0">Camera AI SMS Brand Name</option>
                            <option value="1">Camera AI SMS Brand Name 1</option>
                            <option value="2">Camera AI SMS Brand Name 2</option>
                            <option value="3">Camera AI SMS Brand Name 3</option>
                            <option value="4">Camera AI SMS Brand Name 4</option>
                        </select>
                    </div>
                    
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="select-custom mb-3">
                        <p>Ngành</p>
                        <select class="form-control">
                            <option value="0">Công nghệ thông tin</option>
                            <option value="1">Công nghệ thông tin 1</option>
                            <option value="2">Công nghệ thông tin 2</option>
                            <option value="3">Công nghệ thông tin 3</option>
                            <option value="4">Công nghệ thông tin 4</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="select-custom mb-3">
                        <p>Công nghệ</p>
                        <select class="form-control">
                            <option value="0">Data Lake</option>
                            <option value="1">Data Lake 1</option>
                            <option value="2">Data Lake 2</option>
                            <option value="3">Data Lake 3</option>
                            <option value="4">Data Lake 4</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="library-list">
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="library-item">
                            <div class="library-item__img">
                                <a href=./chi-tiet-cds.html#">
                                    <img src="https://via.placeholder.com/300" class="img-responsive" />
                                </a>
                            </div>
                            <p class="library-item__title"><a href="#">Thúc đẩy đột phá kinh doanh như thế nào?</a></p>
                            <p class="library-item__sub-info">
                                <span>696 views</span>&nbsp;.&nbsp;<span>15 hours ago</span>
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="library-item">
                            <div class="library-item__img">
                                <a href="./chi-tiet-cds.html"><img src="../../assets/images/library-image.png" class="img-responsive" /></a>
                            </div>
                            <p class="library-item__title"><a href="#">Thúc đẩy đột phá kinh doanh như thế nào?</a></p>
                            <p class="library-item__sub-info">
                                <span>696 views</span>&nbsp;.&nbsp;<span>15 hours ago</span>
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="library-item">
                            <div class="library-item__img">
                                <a href="./chi-tiet-cds.html"><img src="../../assets/images/library-image.png" class="img-responsive" /></a>
                            </div>
                            <p class="library-item__title"><a href="#">Thúc đẩy đột phá kinh doanh như thế nào?</a></p>
                            <p class="library-item__sub-info">
                                <span>696 views</span>&nbsp;.&nbsp;<span>15 hours ago</span>
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="library-item">
                            <div class="library-item__img">
                                <a href="./chi-tiet-cds.html"><img src="../../assets/images/library-image.png" class="img-responsive" /></a>
                            </div>
                            <p class="library-item__title"><a href="#">Thúc đẩy đột phá kinh doanh như thế nào?</a></p>
                            <p class="library-item__sub-info">
                                <span>696 views</span>&nbsp;.&nbsp;<span>15 hours ago</span>
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="library-item">
                            <div class="library-item__img">
                                <a href="./chi-tiet-cds.html"><img src="../../assets/images/library-image.png" class="img-responsive" /></a>
                            </div>
                            <p class="library-item__title"><a href="#">Thúc đẩy đột phá kinh doanh như thế nào?</a></p>
                            <p class="library-item__sub-info">
                                <span>696 views</span>&nbsp;.&nbsp;<span>15 hours ago</span>
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="library-item">
                            <div class="library-item__img">
                                <a href="./chi-tiet-cds.html"><img src="../../assets/images/library-image.png" class="img-responsive" /></a>
                            </div>
                            <p class="library-item__title"><a href="#">Thúc đẩy đột phá kinh doanh như thế nào?</a></p>
                            <p class="library-item__sub-info">
                                <span>696 views</span>&nbsp;.&nbsp;<span>15 hours ago</span>
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="library-item">
                            <div class="library-item__img">
                                <a href="./chi-tiet-cds.html"><img src="../../assets/images/library-image.png" class="img-responsive" /></a>
                            </div>
                            <p class="library-item__title"><a href="#">Thúc đẩy đột phá kinh doanh như thế nào?</a></p>
                            <p class="library-item__sub-info">
                                <span>696 views</span>&nbsp;.&nbsp;<span>15 hours ago</span>
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="library-item">
                            <div class="library-item__img">
                                <a href="./chi-tiet-cds.html"><img src="../../assets/images/library-image.png" class="img-responsive" /></a>
                            </div>
                            <p class="library-item__title"><a href="#">Thúc đẩy đột phá kinh doanh như thế nào?</a></p>
                            <p class="library-item__sub-info">
                                <span>696 views</span>&nbsp;.&nbsp;<span>15 hours ago</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="see-more text-center">
                        <a href="#" class="btn-hover">Xem Thêm</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="line-break"></div>
                </div>
            </div>
            <h2 class="text-center font-Lora cds-title cds-title__second">Khoá học về Chuyển đổi số</h2>
            <div class="list-course">
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="course-item">
                            <div class="course-item__img">
                                <a href="#">
                                    <img src="../../assets/images/library-image.png" >
                                </a>
                            </div>
                            <p class="course-item__title"><a href="#">Khóa học chuyển đổi số 2021 cho doanh nghiệp nhỏ và vừa</a></p>
                            <p class="course-item__time"><img src="../../assets/images/course-time.png" />05/06/2021</p>
                            <p class="course-item__address"><img src="../../assets/images/course-address.png" />Tầng 12 11 Duy Tân</p>
                            <div class="course-item__register"><a href="#" class="btn-hover">Đăng ký ngay</a></div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="course-item">
                            <div class="course-item__img">
                                <a href="#">
                                    <img src="../../assets/images/library-image.png" >
                                </a>
                            </div>
                            <p class="course-item__title"><a href="#">Khóa học chuyển đổi số 2021 cho doanh nghiệp nhỏ và vừa</a></p>
                            <p class="course-item__time"><img src="../../assets/images/course-time.png" />05/06/2021</p>
                            <p class="course-item__address"><img src="../../assets/images/course-address.png" />Tầng 12 11 Duy Tân</p>
                            <div class="course-item__register"><a href="#" class="btn-hover">Đăng ký ngay</a></div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="course-item">
                            <div class="course-item__img">
                                <a href="#">
                                    <img src="../../assets/images/library-image.png" >
                                </a>
                            </div>
                            <p class="course-item__title"><a href="#">Khóa học chuyển đổi số 2021 cho doanh nghiệp nhỏ và vừa</a></p>
                            <p class="course-item__time"><img src="../../assets/images/course-time.png" />05/06/2021</p>
                            <p class="course-item__address"><img src="../../assets/images/course-address.png" />Tầng 12 11 Duy Tân</p>
                            <div class="course-item__register"><a href="#" class="btn-hover">Đăng ký ngay</a></div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="course-item">
                            <div class="course-item__img">
                                <a href="#">
                                    <img src="../../assets/images/library-image.png" >
                                </a>
                            </div>
                            <p class="course-item__title"><a href="#">Khóa học chuyển đổi số 2021 cho doanh nghiệp nhỏ và vừa</a></p>
                            <p class="course-item__time"><img src="../../assets/images/course-time.png" />05/06/2021</p>
                            <p class="course-item__address"><img src="../../assets/images/course-address.png" />Tầng 12 11 Duy Tân</p>
                            <div class="course-item__register"><a href="#" class="btn-hover">Đăng ký ngay</a></div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="course-item">
                            <div class="course-item__img">
                                <a href="#">
                                    <img src="../../assets/images/library-image.png" >
                                </a>
                            </div>
                            <p class="course-item__title"><a href="#">Khóa học chuyển đổi số 2021 cho doanh nghiệp nhỏ và vừa</a></p>
                            <p class="course-item__time"><img src="../../assets/images/course-time.png" />05/06/2021</p>
                            <p class="course-item__address"><img src="../../assets/images/course-address.png" />Tầng 12 11 Duy Tân</p>
                            <div class="course-item__register"><a href="#" class="btn-hover">Đăng ký ngay</a></div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="course-item">
                            <div class="course-item__img">
                                <a href="#">
                                    <img src="../../assets/images/library-image.png" >
                                </a>
                            </div>
                            <p class="course-item__title"><a href="#">Khóa học chuyển đổi số 2021 cho doanh nghiệp nhỏ và vừa</a></p>
                            <p class="course-item__time"><img src="../../assets/images/course-time.png" />05/06/2021</p>
                            <p class="course-item__address"><img src="../../assets/images/course-address.png" />Tầng 12 11 Duy Tân</p>
                            <div class="course-item__register"><a href="#" class="btn-hover">Đăng ký ngay</a></div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="course-item">
                            <div class="course-item__img">
                                <a href="#">
                                    <img src="../../assets/images/library-image.png" >
                                </a>
                            </div>
                            <p class="course-item__title"><a href="#">Khóa học chuyển đổi số 2021 cho doanh nghiệp nhỏ và vừa</a></p>
                            <p class="course-item__time"><img src="../../assets/images/course-time.png" />05/06/2021</p>
                            <p class="course-item__address"><img src="../../assets/images/course-address.png" />Tầng 12 11 Duy Tân</p>
                            <div class="course-item__register"><a href="#" class="btn-hover">Đăng ký ngay</a></div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="course-item">
                            <div class="course-item__img">
                                <a href="#">
                                    <img src="../../assets/images/library-image.png" >
                                </a>
                            </div>
                            <p class="course-item__title"><a href="#">Khóa học chuyển đổi số 2021 cho doanh nghiệp nhỏ và vừa</a></p>
                            <p class="course-item__time"><img src="../../assets/images/course-time.png" />05/06/2021</p>
                            <p class="course-item__address"><img src="../../assets/images/course-address.png" />Tầng 12 11 Duy Tân</p>
                            <div class="course-item__register"><a href="#" class="btn-hover">Đăng ký ngay</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="see-more text-center">
                        <a href="#" class="btn-hover">Xem Thêm</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include '../templates/partials/box-contact-0.html' %}
{% endblock content %}