{% extends "layout.html" %}

{% set title = 'Liên hệ' %}
{% set page = '' %}

{% block content %}
<section class="container pt-md-76px">
    <div class="row">
        <div class="col-lg-6 col-xl-4 col-xxl-5 mb-5 mb-xl-0 offset-lg-3 offset-xl-0">
            <h1 class="d-none d-md-block font-Lora fw-700 fz-36px-nores mb-5 mt-5">Liên hệ</h1>
            <h1 class="d-md-none text-center font-Lora fw-700 fz-36px-nores mb-5 mt-5">Liên hệ</h1>
            <p class="mb-5 fz-18px-nores">Chúng tôi hiểu chuyển đổi số là một chặng đường , cảm ơn bạn đã nghiên cứu và có định hướng chuyển đổi số cho doanh nghiệp của bạn xin mời bạn để lại thông tin để các chuyên gia của chúng tôi có thể ngay lập tức tư vấn cho bạn.</p>
            <div class="form-group-df mb-33px">
                <label for="">HỌ TÊN*</label>
                <input type="text">
            </div>
            <div class="form-group-df">
                <label for="">THÔNG TIN LIÊN HỆ*</label>
                <input type="text" placeholder="SỐ ĐIỆN THOẠI , E-MAIL" />
            </div>
        </div>
        <div class="col-xxl-6 col-xl-7 ml-lg-68px">
            <div class="home-banner position-relative pt-3 pt-md-0">
                <img class="d-none d-md-block" src="../assets/images/home/banner-home.png" alt="#">
                <img class="d-md-none" src="../assets/images/home/banner-home-mobile.png" alt="#">
                <div class="text-center position-absolute w-100">
                    <img class="w-auto mt-28px" src="../assets/images/icon-clarity-cursor-hand-click-line.png" alt="#">
                </div>
                <p class="_text-head d-block fz-md-18px">Thực thi chiến lược Doanh Nghiệp</p>
                <span data-head="#anchor-data-1" class="js-banner-head _text-col-1">Thúc đẩy<br> tăng<br> trưởng<br> doanh thu<br> và khách<br> hàng</span>
                <span data-head="#anchor-data-2" class="js-banner-head _text-col-2">Tối ưu<br> quản trị<br> vận hành<br> và chi phí</span>
                <span data-head="#anchor-data-3" class="js-banner-head _text-col-3 mb-3">Sáng tạo<br> và đổi mới<br> mô hình<br> kinh<br> doanh</span>
                <ul class="_nav d-flex">
                    <li><a data-head="#anchor-data-4" class="js-banner-head text-decoration-none is-active" href="#">Quản trị nhân sự</a></li>
                    <li><a data-head="#anchor-data-5" class="js-banner-head text-decoration-none" href="#">Quản trị sản xuất</a></li>
                    <li><a data-head="#anchor-data-6" class="js-banner-head text-decoration-none" href="#">Quản trị kho bãi</a></li>
                    <li><a data-head="#anchor-data-7" class="js-banner-head text-decoration-none" href="#">Quản trị giao nhận</a></li>
                    <li><a data-head="#anchor-data-8" class="js-banner-head text-decoration-none" href="#">Quản trị bán hàng</a></li>
                    <li><a data-head="#anchor-data-9" class="js-banner-head text-decoration-none" href="#">Quản trị văn phòng</a></li>
                    <li><a data-head="#anchor-data-10" class="js-banner-head text-decoration-none" href="#">Quản trị công nghệ</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- <section class="mt-100px mb-5 pb-5 border-bottom border-color-000"> -->
<section class="mt-100px mb-5 pb-5 border-bottom">
    <div class="container">
        <div class="fz-18px-nores">Để giúp cho bạn dễ dàng hơn với các chiến lược chuyển đổi số chúng tôi đã mô phỏng các vấn đề liên quan tới chuyển đổi số của một doanh nghiệp bằng mô hình ngôi nhà bên trên, quí vị chỉ cần click để lựa chọn một hoặc có thể nhiều thành phần của ngôi nhà để nhận được tư vấn giải pháp của chúng tôi</div>
        <div class="col-md-5 mt-36px fz-18px-nores">Chúng tôi sẽ có thêm nhiều thông tin hữu ích giúp cho quá trình tư vấn nếu bạn có thể chia sẻ thêm về (không bắt buộc): </div>
        <div class="mt-20px row">
            <div class="col-lg-5">
                <div class="form-group-df mb-4">
                    <label for="">TÊN CÔNG TY</label>
                    <input type="text" />
                </div>
                <div class="form-group-df mb-4">
                    <label for="">LĨNH VỰC KINH DOANH</label>
                    <select class="js-nice-select select-career form-control w-100 m-0 mb-4">
                        <option>Chọn lĩnh vực</option>
                        <option value="2">Ngành giải trí</option>
                        <option value="3">Ngành vận chuyển</option>
                        <option value="4">Ngành vận chuyển</option>
                        <option value="5">Ngành vận chuyển</option>
                    </select>
                </div>
            </div>
            <div class="col-lg-5 ml-lg-68px">
                <div class="form-group-df mb-4">
                    <label for="">CÁC YÊU CẦU KHÁC</label>
                    <textarea></textarea>
                </div>
                <div class="d-md-flex justify-content-end">
                    <div class="col-md-4">
                        <button class="btn-default btn-hover w-100 fz-14px text-nowrap">GỬI ĐI</button>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</section>
{% endblock content %}