{% extends "layout.html" %}

{% set title = 'Lĩnh vực kinh doanh - Câu chuyện thành công' %}
{% set page = 'linh-vuc-kinh-doanh-cau-chuyen-thanh-cong' %}

{% block content %}

<div class="block-banner">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <h1>Toàn cảnh ngành bán lẻ Việt Nam hậu covid 19 – 2021</h1>
            </div>
        </div>
    </div>
</div>
<div class="bg-story tab-link">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <ul class="tab-custom">
                   <li>
                       <a href="./linh-vuc-kinh-doanh-tq.html">Tổng quan ngành</a>
                    </li> 
                   <li>
                       <a href="#">Câu chuyện thành công</a>
                       <div class="active-page"></div>
                    </li> 
                </ul>
                <div class="dropdown tab-custom__mobile">
                    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                        Câu chuyện thành công
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <li><a class="dropdown-item" href="./linh-vuc-kinh-doanh-tq.html">Tổng quan ngành</a></li>
                        <li><a class="dropdown-item" href="#">Câu chuyện thành công</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="row">
                <div class="col-md-12">
                    <div class="first-story first-story__custom">
                        <div class="first-story__img col-lg-auto col-12">
                            <a href="./chi-tiet-bai-viet.html"><img src="./../assets/images/img-story.png" alt=""></a>
                        </div>
                        <div class="first-story__content">
                            <p class="first-story__title"><a href="./chi-tiet-bai-viet.html">The Next Normal  – The future of shopping: Technology everywhere</a></p>
                            <p class="first-story__desc">The COVID-19 pandemic has reset the retail game board. The most successful retailers will be those that connect with consumers in new ways by leaning in on their digital, omnichannel, and in-store technology ambitions. In this edition, </p>
                            <p><a href="#" class="learn-more">Learn more</a></p>
                        </div>
                    </div>
                </div>
                <div class="list-stories list-stories__child">
                    <div class="row">
                        <div class="col-lg-3 col-md-6">
                            <div class="story-item">
                                <div class="story-item__img">
                                    <a href="./chi-tiet-bai-viet.html"><img src="./../assets/images/cau-chuyen-2.png" alt=""></a>
                                </div>
                                <p class="story-item__type">Article</p>
                                <p class="story-item__title"><a href="./chi-tiet-bai-viet.html">McKinsey on Consumer and Retail Podcast: Insights from experts on business and management</a></p>
                                <p class="story-item__desc">
                                    <span class="story-item__created-at">April 28, 2021</span>&nbsp;-&nbsp;Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic inventore libero possimus impedit? Cumque, id. A, ut fugit excepturi exercitationem minima, sunt nostrum amet id eligendi sequi nulla, nam similique.
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="story-item">
                                <div class="story-item__img">
                                    <a href="./chi-tiet-bai-viet.html"><img src="./../assets/images/cau-chuyen-2.png" alt=""></a>
                                </div>
                                <p class="story-item__type">Article</p>
                                <p class="story-item__title"><a href="./chi-tiet-bai-viet.html">McKinsey on Consumer and Retail Podcast: Insights from experts on business and management</a></p>
                                <p class="story-item__desc">
                                    <span class="story-item__created-at">April 28, 2021</span>&nbsp;-&nbsp;Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic inventore libero possimus impedit? Cumque, id. A, ut fugit excepturi exercitationem minima, sunt nostrum amet id eligendi sequi nulla, nam similique.
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="story-item">
                                <div class="story-item__img">
                                    <a href="./chi-tiet-bai-viet.html"><img src="./../assets/images/cau-chuyen-2.png" alt=""></a>
                                </div>
                                <p class="story-item__type">Article</p>
                                <p class="story-item__title"><a href="./chi-tiet-bai-viet.html">McKinsey on Consumer and Retail Podcast: Insights from experts on business and management</a></p>
                                <p class="story-item__desc">
                                    <span class="story-item__created-at">April 28, 2021</span>&nbsp;-&nbsp;Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic inventore libero possimus impedit? Cumque, id. A, ut fugit excepturi exercitationem minima, sunt nostrum amet id eligendi sequi nulla, nam similique.
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="story-item">
                                <div class="story-item__img">
                                    <a href="./chi-tiet-bai-viet.html"><img src="./../assets/images/cau-chuyen-2.png" alt=""></a>
                                </div>
                                <p class="story-item__type">Article</p>
                                <p class="story-item__title"><a href="./chi-tiet-bai-viet.html">McKinsey on Consumer and Retail Podcast: Insights from experts on business and management</a></p>
                                <p class="story-item__desc">
                                    <span class="story-item__created-at">April 28, 2021</span>&nbsp;-&nbsp;Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic inventore libero possimus impedit? Cumque, id. A, ut fugit excepturi exercitationem minima, sunt nostrum amet id eligendi sequi nulla, nam similique.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="list-stories">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="story-item">
                                <div class="story-item__img">
                                    <a href="./chi-tiet-bai-viet.html"><img src="./../assets/images/cau-chuyen-2.png" alt=""></a>
                                </div>
                                <p class="story-item__type">Article</p>
                                <p class="story-item__title"><a href="./chi-tiet-bai-viet.html">McKinsey on Consumer and Retail Podcast: Insights from experts on business and management</a></p>
                                <p class="story-item__desc">
                                    <span class="story-item__created-at">April 28, 2021</span>&nbsp;-&nbsp;Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic inventore libero possimus impedit? Cumque, id. A, ut fugit excepturi exercitationem minima, sunt nostrum amet id eligendi sequi nulla, nam similique.
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="story-item">
                                <div class="story-item__img">
                                    <a href="./chi-tiet-bai-viet.html"><img src="./../assets/images/cau-chuyen-2.png" alt=""></a>
                                </div>
                                <p class="story-item__type">Article</p>
                                <p class="story-item__title"><a href="./chi-tiet-bai-viet.html">McKinsey on Consumer and Retail Podcast: Insights from experts on business and management</a></p>
                                <p class="story-item__desc">
                                    <span class="story-item__created-at">April 28, 2021</span>&nbsp;-&nbsp;Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic inventore libero possimus impedit? Cumque, id. A, ut fugit excepturi exercitationem minima, sunt nostrum amet id eligendi sequi nulla, nam similique.
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="story-item">
                                <div class="story-item__img">
                                    <a href="./chi-tiet-bai-viet.html"><img src="./../assets/images/cau-chuyen-2.png" alt=""></a>
                                </div>
                                <p class="story-item__type">Article</p>
                                <p class="story-item__title"><a href="./chi-tiet-bai-viet.html">McKinsey on Consumer and Retail Podcast: Insights from experts on business and management</a></p>
                                <p class="story-item__desc">
                                    <span class="story-item__created-at">April 28, 2021</span>&nbsp;-&nbsp;Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic inventore libero possimus impedit? Cumque, id. A, ut fugit excepturi exercitationem minima, sunt nostrum amet id eligendi sequi nulla, nam similique.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="list-stories list-stories__child">
                    <div class="row">
                        <div class="col-lg-3 col-md-6">
                            <div class="story-item">
                                <div class="story-item__img">
                                    <a href="./chi-tiet-bai-viet.html"><img src="./../assets/images/cau-chuyen-2.png" alt=""></a>
                                </div>
                                <p class="story-item__type">Article</p>
                                <p class="story-item__title"><a href="./chi-tiet-bai-viet.html">McKinsey on Consumer and Retail Podcast: Insights from experts on business and management</a></p>
                                <p class="story-item__desc">
                                    <span class="story-item__created-at">April 28, 2021</span>&nbsp;-&nbsp;Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic inventore libero possimus impedit? Cumque, id. A, ut fugit excepturi exercitationem minima, sunt nostrum amet id eligendi sequi nulla, nam similique.
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="story-item">
                                <div class="story-item__img">
                                    <a href="./chi-tiet-bai-viet.html"><img src="./../assets/images/cau-chuyen-2.png" alt=""></a>
                                </div>
                                <p class="story-item__type">Article</p>
                                <p class="story-item__title"><a href="./chi-tiet-bai-viet.html">McKinsey on Consumer and Retail Podcast: Insights from experts on business and management</a></p>
                                <p class="story-item__desc">
                                    <span class="story-item__created-at">April 28, 2021</span>&nbsp;-&nbsp;Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic inventore libero possimus impedit? Cumque, id. A, ut fugit excepturi exercitationem minima, sunt nostrum amet id eligendi sequi nulla, nam similique.
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="story-item">
                                <div class="story-item__img">
                                    <a href="./chi-tiet-bai-viet.html"><img src="./../assets/images/cau-chuyen-2.png" alt=""></a>
                                </div>
                                <p class="story-item__type">Article</p>
                                <p class="story-item__title"><a href="./chi-tiet-bai-viet.html">McKinsey on Consumer and Retail Podcast: Insights from experts on business and management</a></p>
                                <p class="story-item__desc">
                                    <span class="story-item__created-at">April 28, 2021</span>&nbsp;-&nbsp;Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic inventore libero possimus impedit? Cumque, id. A, ut fugit excepturi exercitationem minima, sunt nostrum amet id eligendi sequi nulla, nam similique.
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="story-item">
                                <div class="story-item__img">
                                    <a href="./chi-tiet-bai-viet.html"><img src="./../assets/images/cau-chuyen-2.png" alt=""></a>
                                </div>
                                <p class="story-item__type">Article</p>
                                <p class="story-item__title"><a href="./chi-tiet-bai-viet.html">McKinsey on Consumer and Retail Podcast: Insights from experts on business and management</a></p>
                                <p class="story-item__desc">
                                    <span class="story-item__created-at">April 28, 2021</span>&nbsp;-&nbsp;Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic inventore libero possimus impedit? Cumque, id. A, ut fugit excepturi exercitationem minima, sunt nostrum amet id eligendi sequi nulla, nam similique.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="see-more text-center">
                <a href="#" class="btn-hover">Xem Thêm</a>
            </div>
        </div>
    </div>
</div>
{% include '../templates/partials/box-contact-0.html' %}
{% include '../templates/partials/box-contact.html' %}
{% endblock content %}