{% extends "layout.html" %}

{% set title = 'Về chúng tôi' %}
{% set page = 've-chung-toi' %}

{% block content %}

<div class="bg-ve-chung-toi position-relative ribbon-wrap">
    <iframe class="ribbon" src="./ribbon.html" frameborder="0"></iframe>
    <div class="container position-relative">
        <div class="row">
            <div class="col-lg-7 col-sm-12">
                <p>iPING là một hệ sinh thái các sản phẩm, dịch vụ chuyên biệt giúp cho khối khách hàng SME chuyển đổi số một cách nhanh, hiệu quả và chuyên nghiệp nhất.</p>
                <a href="#" class="contact-now">Liên Hệ Ngay Với Chúng Tôi</a>
            </div>
        </div>
    </div>
</div>
<div class="about-us__block bg-gray">
    <div class="container">
        <p class="about-us__title font-Lora">Triết lý của iPING</p>
        <div class="row">
            <div class="col-md-4">
                <div class="about-us__item mb-3">
                    <div class="img">
                        <img src="../../assets/images/about-us-1.png">
                    </div>
                    <div class="text">Hiểu biết sâu sắc khách hàng</div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="about-us__item mb-3">
                    <div class="img">
                        <img src="../../assets/images/about-us-2.png">
                    </div>
                    <div class="text">Nền tảng mở</div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="about-us__item mb-3">
                    <div class="img">
                        <img src="../../assets/images/about-us-3.png">
                    </div>
                    <div class="text">Đồng hành dẫn dắt</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="about-us__block">
    <div class="container">
        <p class="about-us__title font-Lora">Trên iPING, các doanh nghiệp SME được tư vấn chiến lược doanh nghiệp về</p>
        <div class="row">
            <div class="col-md-4">
                <div class="about-us__item mb-3">
                    <div class="img">
                        <img src="../../assets/images/about-us-4.png">
                    </div>
                    <div class="text">Thúc đẩy tăng trưởng doanh thu, khách hàng</div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="about-us__item mb-3">
                    <div class="img">
                        <img src="../../assets/images/about-us-5.png">
                    </div>
                    <div class="text">Tối ưu quản trị vận hành và chi phí</div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="about-us__item item-custom">
                    <div class="img">
                        <img src="../../assets/images/about-us-6.png">
                    </div>
                    <div class="text">Sáng tạo và đổi mới mô hình kinh doanh</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="about-us__block  bg-gray">
    <div class="container">
        <p class="about-us__title font-Lora">Doanh nghiệp chỉ cần “1 Click” và mất 5 phút để cùng iPING thực thi chiến lược chuyển đổi số thông qua những nhóm sản phẩm dịch vụ chuyển đổi số trong Quản trị doanh nghiệp </p>
        <div class="row pt-4">
            <div class="col-md-4 item-number">
                <div class="about-us__item mb-3">
                    <p class="text-center text-number">01</p>
                    <div class="text">Quản trị nhân sự</div>
                </div>
            </div>
            <div class="col-md-4 item-number">
                <div class="about-us__item mb-3">
                    <p class="text-center text-number">02</p>
                    <div class="text">Quản trị công nghệ</div>
                </div>
            </div>
            <div class="col-md-4 item-number">
                <div class="about-us__item mb-3">
                    <p class="text-center text-number">03</p>
                    <div class="text">Quản trị kho bãi</div>
                </div>
            </div>
            <div class="col-md-4 item-number">
                <div class="about-us__item mb-3">
                    <p class="text-center text-number">04</p>
                    <div class="text">Quản trị giao nhận</div>
                </div>
            </div>
            <div class="col-md-4 item-number">
                <div class="about-us__item mb-3">
                    <p class="text-center text-number">05</p>
                    <div class="text">Quản trị bán hàng</div>
                </div>
            </div>
            <div class="col-md-4 item-number">
                <div class="about-us__item mb-3">
                    <p class="text-center text-number">06</p>
                    <div class="text">Quản trị văn phòng</div>
                </div>
            </div>
            <div class="col-md-4 item-number">
                <div class="about-us__item mb-3">
                    <p class="text-center text-number">07</p>
                    <div class="text">Quản trị công nghệ</div>
                </div>
            </div>
            <div class="col-md-4 item-number">
                <div class="about-us__item mb-3">
                    <p class="text-center text-number">08</p>
                    <div class="text">Thúc đẩy tăng trưởng doanh thu</div>
                </div>
            </div>
            <div class="col-md-4 item-number">
                <div class="about-us__item mb-3">
                    <p class="text-center text-number">09</p>
                    <div class="text">Tối ưu quản trị và vận hành</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="about-us__block last-block">
    <div class="container">
        <p><strong>iPING</strong> còn đưa ra những gợi ý cũng như các lời khuyên phù hợp với từng module quản trị một cách trực quan nhất, giúp doanh nghiệp sớm tham gia và thực thi ngay chuyển đổi số.</p>
        <p><strong>iPING</strong> cung cấp những tư vấn chuyên sâu cho các lĩnh vực kinh doanh chủ yếu như <strong>Ngành bán lẻ, Logistic, Ngành hàng tiêu dùng, Tài chính, Chăm sóc sức khoẻ, Bất động sản…</strong> Thông qua các câu chuyện thành công của các doanh nghiệp đã ứng dụng chuyển đổi số, <strong>iPing</strong> sẽ giúp khách hàng có cái nhìn trực quan hơn và <strong>“thực chiến”</strong> hơn về hành trình chuyển đổi số.</p>
        <p>Bên cạnh chức năng tư vấn và hiểu biết sâu sắc về chuyển đổi số, hệ sinh thái của <strong>iPING</strong> là những sản phẩm của <strong>CMC Telecom</strong> với các đối tác công nghệ lớn trên thế giới như <strong>Microsoft, Google, Amazon</strong> cũng như các sản phẩm Make in Vietnam dành riêng cho đặc thù thị trường Việt.</p>
        <p><strong>iPING</strong> là một hệ sinh thái do <strong>CMC Telecom</strong> nghiên cứu, phát triển và xây dựng cùng với các đối tác hàng đầu Việt Nam và thế giới.</p>
        <p class="last-text fz-36px fw-700">iPING – Go DX . Ping Us</p>
    </div>
</div>
{% include '../templates/partials/box-contact-0.html' %}
{% endblock content %}