.btn-default {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0 55px;
    height: 50px;
    color: #FFFFFF !important;
    background: #00419F;
    border: none;
    outline: none;
    font-weight: 600;
    text-decoration: none;
    // text-transform: uppercase;
}

.btn-hover {
    transition: background .17s ease;
    &:hover {
        color: #FFFFFF !important;
        background: #1061d4 !important;
    }
}

.btn-525252-hover {
    transition: background .17s ease;
    &:hover {
        color: #FFFFFF !important;
        background: #525252 !important;
    }
}