.card-hscg {
    height: 447px;
    text-decoration: none !important;
    color: #000 !important;
    background-color: #fff;
    overflow: hidden;
    ._img {
        width: 189px;
        height: 189px;
        border-radius: 50%;
        margin: 0 auto;
    }
}

.card-hscg-avatar {
    display: block;
    width: 299px;
    max-width: 90%;
    margin: 0 auto;
    img {
        width: 100%;
    }
}

.card-iframe-video--wrap {
    position: relative;
    overflow: hidden;
    iframe {
        position: absolute;
        left: 0;
        right: 0;
        width: 100%;
        height: 100% !important;
    }
}