

// class xử dụng cho mã màu

.c-000 {
    color: $c-000;
}

.c-fff {
    color: $c-fff;
}

.c-333 {
    color: $c-333;
}

.c-0080DD {
    color: $c-0080DD;
}

.c-001339 {
    color: $c-001339;
}

.c-F7F7F7 {
    color: $c-F7F7F7;
}

.c-fff-opc {
    color: $c-fff;
    opacity: .2;
}
.fs-14-17 {
    font-size: 14px;
    line-height: 17px;
}

.cursor-pointer {
    cursor: pointer;
}

.pd-lr-68 {
    padding-left: 68px;
    padding-right: 68px;
}

.bg-outline-color-00419F {
    border: 1px solid #00419F;
    box-sizing: border-box;
    border-radius: 2px;
    &:hover {
        color: #fff !important;
        background: #00419F;
    }
}