.form-group-df {
    label {
        color: #333333;
        font-weight: bold;
        font-size: 14px;
        line-height: 17px;  
        margin-bottom: 12px;
    }
    input {
        display: block;
        height: 50px;
        width: 100%;
        font-size: 14px;
        padding: 0 12px;
        outline: none;
        background: #FFFFFF;
        border: 1px solid #000000;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        -khtml-border-radius: 0;
    }
    textarea {
        display: block;
        min-height: 158px;
        width: 100%;
        padding: 15px 12px;
        resize: none;
        outline: none;
        font-size: 14px;;
        background: #FFFFFF;
        border: 1px solid #000000;
    }
}

textarea,
input[type="text"],
input[type="button"],
input[type="submit"] {
    -webkit-appearance: none;
    border-radius: 0;
}