/* header-btn-triggle */
.header-btn-triggle {
    position: relative;
    display: block;
    height: 50px;
    width: 50px;
    margin: 13px 13px 13px 0;
    background-color: transparent;
    color: #000;
    outline: none !important;
    -webkit-transition: all .7s ease;
    -moz-transition: all .7s ease;
    transition: all .7s ease;
    @media (min-width: 768px) {
      margin: 24px;
    }
  }
.header-btn-triggle span {
    position: absolute;
    height: 0;
    width: 33px;
    left: 13px;
    border-top: 3px solid #000;
    background-color: #000;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
}
  .header-btn-triggle span:nth-child(1) {
    top: 11px;
  }
  .header-btn-triggle span:nth-child(2) {
    top: 22px;
  }
  .header-btn-triggle span:nth-child(3) {
    top: 33px;
  }
  .header-btn-triggle.is-active span {
    border-top: 3px solid #fff;
    background-color: #fff;
  }
  .header-btn-triggle.is-active span:nth-child(1) {
    -webkit-transform: rotateZ(45deg);
    -moz-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
    width: 30px;
    top: 23px;
  }
  .header-btn-triggle.is-active span:nth-child(2) {
    opacity: 0;
  }
  .header-btn-triggle.is-active span:nth-child(3) {
    -webkit-transform: rotateZ(-45deg);
    -moz-transform: rotateZ(-45deg);
    transform: rotateZ(-45deg);
    width: 30px;
    top: 23px;
  }