$w: 26px;
$h: 2px;
$bg: #333333;
$transition: all .3s ease-in-out;
.icon-toggle {
    width: $w;
    height: $h;
    background: $bg;
    position: absolute;
    right: 19px;
    top: 30px;
    transition: $transition;

    &.is-close::after {
        transform: rotate(90deg);
        opacity: 1;
    }
    
    &.is-close {
        transform: rotate(90deg);
    }
    
    &::after {
        content: "";
        width: $w;
        height: $h;
        transition: $transition;
        transition-delay: .1s;
        position: absolute;
        opacity: 0;
        background: $bg;
    }
}

.icon-circle-tiny {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background-color: #000;
    transition: all .28s ease-in-out;
    &:hover {
        background-color: #00419F;
    }
}