.popup-login--cover {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 10000000000;
    background-color: rgba(black, 0.78);
    opacity: 0;
    pointer-events: none;
    &.is-active {
        opacity: 1;
        pointer-events: all;
        transition: opacity .3s ease-in-out;
    }
}
.popup-login {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 930px;
    width: 96%;
    max-height: 95vh;
    background-color: #fff;
    z-index: 100000000000;
    box-shadow: 0 0 10px 5px rgb(0 0 0 / 5%);
    opacity: 0;
    pointer-events: none;
    margin-top: -45px;
    @media (max-width: 576px) {
        left: 0;
        top: 0;
        transform: none;
        max-width: 930px;
        width: 100%;
        max-height: 100vh;
        overflow-y: auto;
        overflow-x: hidden;
    }
    &.is-active {
        opacity: 1;
        pointer-events: all;
        transition: all .3s ease-in-out;
        margin-top: 0px;
    }
    .icon-close {
        position: absolute;
        top: 0px;
        left: 100%;
        margin-left: 30px;
        z-index: 1000000000000;
        display: block;
        cursor: pointer;
        width: 30px;
    }
}