ul.page-numbers {
    padding: 0;
    display: flex;
    align-items: center;
}

ul.page-numbers a,
ul.page-numbers span {
    width: 30px;
    height: 30px;
    border: 1px solid #EBEBEB;
    cursor: pointer;
    line-height: 20px;
    font-size: 11px;
    color: rgba(0, 0, 0, 0.85);
    border-radius: 0;
    display: flex;
    margin: 0 4px;
    align-items: center;
    justify-content: center;
}

ul.page-numbers span.page-numbers.current {
    color: #fff;
    background-color: $c-tim-than;
    border: 1px solid $c-tim-than;
}