.ribbon {
    display: none;
}
.ribbon-wrap {
    background-color: #000 !important;
    background-image: none !important;
}
@media (min-width: 960px) {
    .ribbon-wrap {
        position: relative;
        overflow: hidden;
    }
    .ribbon {
        display: block;
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        min-height: 700px;
        background: #121212;
        transform: translateY(-50%);
        pointer-events: none;
    }
}