#root .chatbox-body,
.form-group-search-assistant {
    max-width: 420px;
    padding: 0;

    @media (max-width: 576px) {
        max-width: 305px !important;
    }
    
    .chatbox-input,
    input {
        height: 45px;
        width: calc(100% - 70px);
        margin-right: 0;
        background: #FFFFFF;
        box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
        // border-top-left-radius: 2px;
        // border-bottom-left-radius: 2px;
        outline: none !important;
        border: none !important;
        font-size: 14px;
        &::placeholder {
            color: #ABABAB;
        }
    }
    .chatbox-input + span,
    .btn-record {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 45px;
        width: 70px;
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
        background-color: #00419F;
        cursor: pointer;
    }
    
}

.form-group-search-assistant > input {
    padding-left: 17px;
}

#root .chatbox-body {
    max-height: 239px;
    margin-top: 3px;
    // display: none !important;
    &.is-active {
        display: block !important;
        padding-top: 15px;
        background: #F9F9F9;
    }
    form {
        padding: 0 20px;
        > div {
            opacity: 0;
            margin: 0 -20px;
            display: flex;
            align-items: center;
            background-color: #00419F;
            position: absolute;
            top: -45px;
            left: 20px;
            z-index: 10000;
            right: 30px;
            input {
                padding-left: 17px;
            }
            &.is-visible {
                opacity: 1;
            }
        }
        small {
            margin-top: 13px;
            // display: block;
            width: 100%;
        }
    }
    .chatbox-input {
        border-radius: 0 !important;
    }
    hr {
        display: none;
    }
    [alt=loading],
    [alt=audio] {
        display: none;
    }
    [alt=listening] {
        margin-left: 20px;
    }
    .chatbot-empty {
        padding: 10px;
        img {
            width: 100%;
        }
    }

    .chatbot-request {
        padding: 15px 11px 16px 15px;
        background: #DDDDDD;
        border-radius: 2px;
        margin-right: 10px;
    }
    .chatbot-response {
        padding: 15px 13px 7px 13px;
        background: #E4E5F2;
        border-radius: 2px;
        white-space: pre-line;
    }
    .mic-loading {
        display: none !important;
    }
    .chatbox-input + span.is-loading {
        .mic-loading {
            background: rgb(0, 65, 159);
            display: block !important;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }
}

@media (max-width: 576px) {
    .chat-popup {
        max-width: 305px !important;
    }
    .home-banner-search {
        max-width: 305px !important;
        margin: 0 auto; 
    }
}


.chatbot-request {
    margin-top: 10px;
}

.listening-btn {
    opacity: 0!important;
    pointer-events: none!important;
}

/* width */
.chatbox-body::-webkit-scrollbar {
    width: 10px;
}

/* Track */
.chatbox-body::-webkit-scrollbar-track {
    background: #EDEDED;
}

/* Handle */
.chatbox-body::-webkit-scrollbar-thumb {
    background: #00419fb3;
}

/* Handle on hover */
.chatbox-body::-webkit-scrollbar-thumb:hover {
    background: #00419f;
}