.cds-title {
    font: {
        weight: bold;
        size: 36px;
    }
    color: #000; 
    line-height: 26px;  
    margin-bottom: 0;
    @media screen and (max-width: 480px) {
        line-height: 42px;
        color: #333;
    }
    &.cds-title__first {
        padding: {
            top: 68px;
            bottom: 67px;
        }
        @media screen and (max-width: 480px) {
            padding: {
                top: 48px;
                bottom: 21px;
            }
        }
    }
    &.cds-title__second {
        margin-bottom: 62px;
    }
}
.select-custom {
    position: relative;
    @media screen and (max-width: 480px) {
        margin-bottom: 24px;
    }
    select {
        height: 44px;
        font-size: 16px;
        border-radius: 0;
        background-color: #00419F;
        color: #fff;
        cursor: pointer;
        text-overflow: ellipsis;
        border: 0;
        @media screen and (max-width: 1024px) {
            padding-right: 30px;
        }
        @media screen and (max-width: 768px) {
            padding-right: 30px;
        }
        &:focus {
            border-color: transparent;
            color: #fff;
            background-color: #00419F;
            box-shadow: unset;
            @media screen and (max-width: 480px) {
                background-color: #fff;
                color: #333;
                border-color: #000;
            }
        }
        option {
            background: #fff;
            color: #333;
        }
        @media screen and (max-width: 480px) {
            border: 1px solid #000000;
            box-sizing: border-box;
            background: #fff;
            font-family: Barlow;
            color: #333;
            height: 50px;
        }
    }
    &::after {
        content: "";
        background: url(../../images/select-icon.png) no-repeat;
        position: absolute;
        right: 9px;
        top: 63%;
        width: 16px;
        height: 11px;
        @media screen and (max-width: 480px) {
            background: url(../../images/select-icon-mobile.png) no-repeat;
        }
    }
    p {
        font-weight: bold;
        font-size: 16px;
        line-height: 19px;
        color: #333;
        font-family: Barlow;
        margin-bottom: 10px;
    }
}
.library-list {
    margin-top: 28px;
    margin-bottom: 22px;
    .library-item {
        margin-bottom: 20px;
        .library-item__img {
            margin-bottom: 7px;
            img {
                width: 100%;
                height: 160px;
                object-fit: cover;
                object-position: center;
                @media screen and (max-width: 480px) {
                    height: 180px;
                }
            }
        }
        .library-item__title {
            margin-bottom: 0;
            a {
                font-family: Barlow;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 22px;
                color: #000;
                overflow: hidden;
                text-overflow: ellipsis;
                -webkit-line-clamp: 2;
                height: auto;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                text-decoration: none;
            }
        }
        .library-item__sub-info {
            font-family: Barlow;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 26px;
            color: #969696;
            margin-bottom: 0;
        }
    }
}
.see-more {
    margin-bottom: 65px;
    margin-top: 20px;
    a {
        background: #00419F;
        width: 200px;
        display: inline-block;
        height: 50px;
        line-height: 50px;
        text-align: center;
        font-family: Barlow;
        font-size: 14px;
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: bold;
        @media screen and (max-width: 480px) {
            width: 100%;
        }
    }
}
.line-break{
    background: #CACACA;
    height: 1px;
    margin-bottom: 61px;
}
.course-item {
    margin-bottom: 39px;
    .course-item__img {
        img {
            max-width: 100%;
            width: 100%;
            height: 160px;
        }
        margin-bottom: 16px;
    }
    .course-item__title {
        margin-bottom: 9px;
        a {
            font-family: Barlow;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 26px;
            color: #000;
            text-decoration: none;
        }
    }
    .course-item__time,
    .course-item__address {
        font-family: Barlow;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 26px;
        margin-bottom: 0;
        img {
            margin-right: 9px;
            vertical-align: middle;
        }
    }
    .course-item__register {
        a {
            font-family: Barlow;
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            line-height: 17px;
            color: #00419F;
            width: 137px;
            height: 43px;
            text-align: center;
            border: 1px solid #00419F;
            box-sizing: border-box;
            display: inline-block;
            line-height: 43px;
            text-decoration: none;
            text-transform: uppercase;
            margin-top: 14px;
        }
    }
}
.content-cds {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
    background-color: #E5E5E5;
    @media screen and (max-width: 768px) {
        height: auto;
        width: 100%;
        padding: 0 20px;
    }
    .content-cds__left {
        width: 70%;
        // @media screen and (max-width: 1366px) {
        //     width: 800px;
        // }
        // @media screen and (max-width: 1024px) {
        //     width: 650px;
        // }
        @media screen and (max-width: 768px) {
            width: 100%;
        }
        iframe {
            max-width: 100%;
        }
    }
    .content-cds__right {
        width: 30%;
        padding: 30px 16px 30px 27px;
        @media screen and (max-width: 768px) {
            width: 100%;
        }
        .content-cds__title {
            font-family: 'Lora', serif;
            font-style: normal;
            font-weight: bold;
            font-size: 36px;
            line-height: 42px;
            color: #000;
            margin-bottom: 30px;
        }
        .content-cds__desc {
            overflow: hidden;
            text-overflow: ellipsis;
            -webkit-line-clamp: 2;
            height: auto;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            font-weight: 300;
            font-size: 16px;
            line-height: 22px;
            font-family: Barlow;
            color: #333;
            margin-bottom: 30px;
            &.comment-detail {
                margin-bottom: 21px;
            }
            @media screen and (max-width: 480px) {
                -webkit-line-clamp: 3;
                margin-bottom: 8px;
            }
            span {
                font-style: italic;
            }
        }
    }
}
.comment {
    margin-bottom: 16px;
}
.comment-action__top {
    background: #DFDFDF;
    display: flex;
    justify-content: space-between;
    padding: 8px 13px;
    margin-bottom: 19px;
    font-family: Barlow;
    font-style: normal;
    font-size: 16px;
    color: #333;
    &>span {
        font-weight: 600;
    }
    .sort-comment {
        span {
            cursor: pointer;
        }
        span:nth-child(2) {
            margin: 0 10px;
        }
        span:nth-child(3) {
            color: #00419F;
        }
    }
}
.comment-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-family: Barlow;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    // padding-left: 30px;
    margin-bottom: 50px;
    @media screen and (max-width: 480px) {
        padding-left: 0;
    }
    .user-comment {
        img.user-avatar {
            margin-right: 12px;
        }
        @media screen and (max-width: 1024px) {
            margin-bottom: 16px;
        }
        @media screen and (max-width: 768px) {
            margin-bottom: 16px;
        }
        @media screen and (max-width: 480px) {
            margin-bottom: 16px;
        }
        span:nth-child(2) {
            font-weight: 600;
            font-size: 16px;
            margin-right: 18px;
        }
    }
    .comment-action__bottom {
        span:not(.line-space) {
            color: #00419F;
            cursor: pointer;
        }
        .line-space {
            margin: 0 10px;
        }
    }
}
.content-cds__right-scroll {
    max-height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    padding-right: 16px;
    &::-webkit-scrollbar-track {
        border-radius: 2px;
        background-color: #E5E5E5;
    }
    &::-webkit-scrollbar {
        width: 5px;
	    background-color: #F5F5F5;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 2px;
        background-color: #C4C4C4;
    }
}
.back-page {
    a {
        font-family: Barlow;
        font-size: 16px;
        line-height: 19px;
        color: #333;
        text-decoration: none;
    }
    &::before {
        content: "";
        background: url(../../images/back-page.png) no-repeat;
        display: inline-block;
        height: 14px;
        width: 8px;
        vertical-align: middle;
        margin-right: 10px;
    }
}
.back-page__cds {
    padding: 36px 0;
    margin-bottom: 0;
}
.select-career {
    margin: 75px 0;
    position: relative;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    @media screen and (max-width: 768px) {
        width: 100%;
    }
    @media screen and (max-width: 480px) {
        margin: 48px 0 24px 0;
    }
    &.js-nice-select {
            border: 1px solid #000000;
            box-sizing: border-box;
            border-radius: 0;
            height: 50px;
            font-family: Barlow;
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            color: #333;
            line-height: 19px; 
            -webkit-appearance: none;
            -moz-appearance: none;
            background: transparent;
            background-image: url("../../images/select-icon-mobile.png");
            background-repeat: no-repeat;
            background-position-x: 96%;
            background-position-y: 20px;
    }
    &.nice-select {
        border: 1px solid #000000;
        box-sizing: border-box;
        border-radius: 0;
        height: 50px;
        font-family: Barlow;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        color: #333;
        line-height: 19px;
        display: flex; 
        align-items: center;
    }
    &::after {
        display: none;
    }
    &::before {
        content: "";
        // background: url(../../images/select-icon-mobile.png) no-repeat;
        position: absolute;
        right: 23px;
        top: 20px;
        width: 16px;
        height: 11px;
    }
    .list {
        width: 100%;
    }
}
.first-story {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 70px;
    &.first-story__custom {
        flex-direction: column;
        .first-story__img {
            margin-bottom: 40px;
            @media screen and (max-width: 480px) {
                margin-bottom: 24px;
            }
            img {
                width: 100%;
                height: auto;
                @media screen and (max-width: 480px) {
                    height: 210px;
                }
            }
        }
        .first-story__content {
            width: 80%;
            margin-left: 60px!important;
            @media screen and (max-width: 480px) {
                width: 100%;
                margin-left: 0!important;
                margin-top: 0px;
            }
        }
        .learn-more {
            margin-top: 30px;
            @media screen and (max-width: 480px) {
                margin-top: 16px;
            }
        }
    }
    @media screen and (max-width: 480px) {
        margin-bottom: 30px;
    }
    .first-story__img {
        @media screen and (max-width: 480px) {
            margin-bottom: 17px;
        }
        img {
            width: 590px;
            height: 372px;
            @media screen and (max-width: 1366px) {
                width: 560px;
            }
            @media screen and (max-width: 768px) {
                width: 100%;
            }
            @media screen and (max-width: 480px) {
                height: 210px;
                width: 100%;
            }
        }
    }
    .first-story__content {
        width: calc(100% - 610px);
        margin-left: 20px!important;
        margin: auto;
        @media screen and (max-width: 1366px) {
            width: calc(100% - 580px);
        }
        @media screen and (max-width: 768px) {
            width: 100%;
            margin-left: 0!important;
            margin-top: 30px;
        }
        @media screen and (max-width: 480px) {
            width: 100%;
            margin-left: 0px!important;
        }
        .first-story__type {
            font-family: Barlow;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 26px;
            color: #919191;
            margin-bottom: 0;
        }
        .first-story__title {
            a {
                font-family: 'Lora', serif;
                font-style: normal;
                font-weight: bold;
                font-size: 36px;
                line-height: 42px;
                color: #000;
                text-decoration: none;
                @media screen and (max-width: 480px) {
                    font-size: 24px;
                    line-height: 30px;
                }
            }
        }
        .first-story__desc {
            font-family: Barlow;
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 26px;
            color: #333;
            margin-bottom: 0;
            overflow: hidden;
            text-overflow: ellipsis;
            -webkit-line-clamp: 4;
            height: auto;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            @media screen and (max-width: 480px) {
                font-size: 16px;
                line-height: 24px;
            }
        }
    }
}
.list-stories {
    &.list-stories__child {
        .story-item {
            .story-item__img {
                img {
                    height: 190px;
                    @media screen and (max-width: 480px) {
                        height: 210px;
                    }
                }
            }
            .story-item__desc {
                -webkit-line-clamp: 4;
                @media screen and (max-width: 480px) {
                    -webkit-line-clamp: 3;
                }
            }
        }
    }
    .story-item {
        margin-bottom: 30px;
        .story-item__img {
            margin-bottom: 17px;
            @media screen and (max-width: 480px) {
                margin-bottom: 13px;
            }
            img {
                height: 247px;
                width: 100%;
                @media screen and (max-width: 480px) {
                    height: 210px;
                }
            }
        }
        .story-item__type {
            font-family: Barlow;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 26px;
            color: #919191;
            margin-bottom: 0;
            @media screen and (max-width: 480px) {
                font-size: 16px;
                color: #333;
            }
        }
        .story-item__title {
            a {
                font-family: 'Lora', serif;
                font-style: normal;
                font-weight: bold;
                font-size: 18px;
                line-height: 24px;
                color: #000;
                text-decoration: none;
                @media screen and (max-width: 480px) {
                    font-size: 24px;
                    line-height: 30px;
                }
            }
        }
        .story-item__desc {
            font-family: Barlow;
            font-weight: 300;
            font-size: 16px;
            line-height: 22px;
            color: #333;
            overflow: hidden;
            text-overflow: ellipsis;
            -webkit-line-clamp: 3;
            height: auto;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            margin-bottom: 0;
            .story-item__created-at {
                font-style: italic;
            }
        }
    }
}
.box-contact {
    background: #E9E9E9;
    padding: 39px 0;
    z-index: 3;
    left: 0;
    bottom: 0;
    width: 100%;
    position: fixed;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    &.hidden {
        visibility: hidden;
        opacity: 0;
        bottom: -222px;
    }
    @media screen and (max-width: 1366px) {
        padding: 30px 0;
    }
    .contact-title {
        font-family: 'Lora', serif;
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        line-height: 42px;
        color: #333;
        margin-bottom: 0;
        @media screen and (max-width: 768px) {
            font-size: 28px;
            line-height: 36px;
            margin-top: 30px;
        }
        @media screen and (max-width: 480px) {
            font-size: 23px;
            line-height: 25px;
            text-align: center;
        }
    }
    .button-group {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        height: 100%;
        margin-top: 20px;
        @media screen and (max-width: 768px) {
            justify-content: space-between;
        }
        @media screen and (max-width: 480px) {
            justify-content: space-between;
        }
        .btn-solution {
            margin-right: 18px;
            @media screen and (max-width: 480px) {
                width: 100%;
                margin-right: 0;
            }
            a {
                background: #00419F;
            }
        }
        .btn-contact {
            @media screen and (max-width: 480px) {
                width: 100%;
            }
            a {
                background: #333;
            }
        }
        a {
            font-family: Barlow;
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            color: #FFF;
            text-decoration: none;
            width: 235px;
            height: 50px;
            text-align: center;
            border-radius: 2px;
            line-height: 50px;
            display: inline-block;
            @media screen and (max-width: 1366px) {
                width: 210px;
            }
            @media screen and (max-width: 480px) {
                width: 100%;
                height: 40px;
                line-height: 40px;
            }
        }
    }
    .close {
        cursor: pointer;
        position: absolute;
        right: 32px;
        top: 32px;
        width: 32px;
        height: 32px;
        opacity: 0.3;
        @media screen and (max-width: 480px) {
            top: 20px;
            right: 12px;
        }
        &:hover {
            opacity: 1;
        }
        &::before, &::after {
            position: absolute;
            left: 15px;
            content: ' ';
            height: 25px;
            width: 2px;
            background-color: #333;
        }
        &::before {
            transform: rotate(45deg);
        }
        &::after {
            transform: rotate(-45deg);
        }
    }
}
.bg-story {
    background-color: #012355;
    &.tab-link {
        background-color: #00419F;
    }
}
.fm-auto {
    display: flex;
    margin: auto;
}
.top-block {
    height: 550px;
    line-height: 550px;
    margin-bottom: 77px;
    @media screen and (max-width: 480px) {
        padding: 24px 0;
        margin-bottom: 32px;
        height: 600px;
    }
    p {
        font-family: 'Lora', serif;
        font-style: normal;
        font-weight: bold;
        font-size: 48px;
        line-height: 65px;
        color: #fff;
        margin-bottom: 0;
        @media screen and (max-width: 1366px) {
            font-size: 47px;
        }
        @media screen and (max-width: 480px) {
            font-size: 28px;
            line-height: 40px;
            text-align: center;
            margin-bottom: 32px;
        }
    }
    img {
        vertical-align: middle;
        @media screen and (max-width: 480px) {
            vertical-align: baseline;
        }
    }
}
.content-custom__first {
    .content-custom__item {
        height: 300px;
        margin-bottom: 30px;
        p:first-child {
            font-family: Barlow;
            font-style: normal;
            font-weight: 900;
            font-size: 130px;
            color: #00419F;
            line-height: 130px;
            margin: {
                top: 44px;
                bottom: 30px;
            }
            @media screen and (max-width: 768px) {
                font-size: 80px;
            }
        }
        p:last-child {
            font-family: Barlow;
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 26px;
            color: #333;
            width: 65%;
            @media screen and (max-width: 768px) {
                width: 100%;
            }
            @media screen and (max-width: 480px) {
                width: 100%;
            }
        }
    }
    .content-custom__item:nth-child(1) {
        background: url('../../images/img-2.png') no-repeat;
        background-position-x: 50%;
        p {
            margin-bottom: 0px;
            &:first-child {
                span {
                    font-size: 50%;
                }
            }
        }
    }
    .content-custom__item:nth-child(2) {
        background: url('../../images/img-3.png') no-repeat;
        background-position-x: 100%;
        text-align: right;
        p {
            margin-bottom: 0px;
            float: right;
            text-align: left;
            &:first-child {
                span {
                    font-size: 50%;
                }
                width: 65%;
                @media screen and (max-width: 768px) {
                    float: left;
                }
            }
        }
        
    }
    .content-custom__item:nth-child(3) {
        background: url('../../images/img-4.png') no-repeat;
        background-position-x: 50%;
        p:first-child {
            position: relative;
            line-height: 110px;
            margin-top: 50px;
            span {
                font-size: 24px;
                font-weight: 500;
                width: 20%;
                display: inline-flex;
                line-height: 1;
                position: absolute;
                bottom: 0;
                @media screen and (max-width: 1366px) {
                    font-size: 22px;
                }
                @media screen and (max-width: 768px) {
                    bottom: 20px;
                }
            }
        }
    }
    .content-custom__item:nth-child(4) {
        background: url('../../images/img-5.png') no-repeat;
        background-position-x: 100%;
        p {
            &:first-child {
                position: relative;
                text-align: center;
                margin-bottom: 10px;
                @media screen and (max-width: 1366px) {
                    text-align: left;
                    padding-left: 120px;
                }
                @media screen and (max-width: 1024px) {
                    text-align: left;
                    padding-left: 95px;
                }
                @media screen and (max-width: 768px) {
                    text-align: left;
                    padding-left: 0;
                    line-height: 110px;
                    margin-bottom: 30px;
                }
                span {
                    font-size: 22px;
                    font-weight: 500;
                    width: 45%;
                    display: inline-flex;
                    line-height: 1;
                    position: absolute;
                    bottom: 10px;
                    left: 62%;
                    @media screen and (max-width: 1366px) {
                        font-size: 20px;
                        left: 67%;
                    }
                    @media screen and (max-width: 1366px) {
                        font-size: 20px;
                        left: 73%;
                    }
                    @media screen and (max-width: 768px) {
                        width: 80%;
                        bottom: 20px;
                        left: 35%;
                    }
                    @media screen and (max-width: 480px) {
                        left: 22%;
                        width: 45%;
                    }
                }
                @media screen and (max-width: 480px) {
                    text-align: left;
                    // padding-left: 50px;
                }
            }
            &:last-child {
                float: right;
                @media screen and (max-width: 1366px) {
                    margin-top: 7px;
                }
            }
        }
    }
}
.block-content__title {
    font-family: 'Lora', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 54px;
    width: 45%;
    position: relative;
    margin-top: 48px;
    margin-bottom: 48px;
    &::before {
        content: "";
        height: 6px;
        width: 230px;
        display: block;
        background: #00419F;
    }
    &.w-medium {
        width: 64%;
        margin: 48px 0;
        @media screen and (max-width: 1366px) {
            width: 67%;
        }
        @media screen and (max-width: 480px) {
            width: 100%;
        }
    }
    @media screen and (max-width: 480px) {
        width: 100%;
    }
}
.mid-block-content {
    color: #fff;
    margin-top: 30px;
    margin-bottom: 60px;
    padding: 70px 0;
    .title {
        font-family: 'Lora', serif;
        font-style: normal;
        font-weight: bold;
        font-size: 48px;
        line-height: 56px;
        margin-bottom: 42px;
        &.title-second {
            width: 70%;
            margin-top: 60px;
            @media screen and (max-width: 1366px) {
                width: 85%;
            }
            @media screen and (max-width: 480px) {
                width: 100%;
            }
        }
    }
    .block-solution {
        img {
            height: 275px;
            object-fit: contain;
            display: block;
            margin-left: auto;
            margin-right: auto;
            // @media screen and (max-width: 480px) {
            //     display: block;
            //     margin-left: auto;
            //     margin-right: auto;
            // }
        }
        p {
            font-family: Barlow;
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 26px;
            margin-bottom: 0;
        }
    }
}
.content-custom__second {
    counter-reset: section;
    .content-custom__item {
        position: relative;
        &::before {
            counter-increment: section;
            content: counter(section)".";
            font-family: 'Lora', serif;
            color: #fff;
            font-size: 85px;
            color: white;
            text-shadow:
            -1px -1px 0 #2994D2,  
                1px -1px 0 #2994D2,
                -1px 1px 0 #2994D2,
                1px 1px 0 #2994D2;
            position: absolute;
            transition: all 0.2s ease-in-out;
            z-index: -1;
            bottom: 0;
            font-weight: 600;
        }
        img {
            height: 245px;
            object-fit: none;
            @media screen and (max-width: 480px) {
                display: block;
                margin-left: auto;
                margin-right: auto;
            }
        }
        p {
            font-family: 'Lora', serif;
            font-style: normal;
            font-weight: bold;
            font-size: 30px;
            line-height: 42px;
            @media screen and (max-width: 480px) {
                font-size: 25px;
                line-height: 30px;
                padding-left: 70px;
            } 
        }
        &:first-child {
            p {
                width: 70%;
                @media screen and (max-width: 1366px) {
                    width: 80%;
                }
                @media screen and (max-width: 480px) {
                    width: 100%;
                }
            }
            &::before {
                left: -60px;
                @media screen and (max-width: 480px) {
                    left: 0;
                }
            }
        }
        &:nth-child(2), &:nth-child(4) {
            text-align: right;
            @media screen and (max-width: 480px) {
                text-align: center;
            }
            p {
                width: 95%;
                margin-left: auto;
                text-align: left;
                @media screen and (max-width: 480px) {
                    width: 100%;
                }
            }
            &::before {
                left: -40px;
                @media screen and (max-width: 480px) {
                    left: 10px;
                }
            }
        }
        &:nth-child(3) {
            p {
                width: 90%;
                @media screen and (max-width: 1366px) {
                    width: 90%;
                }
                @media screen and (max-width: 480px) {
                    width: 100%;
                }
            }
            &::before {
                left: -60px;
                @media screen and (max-width: 480px) {
                    left: 10px;
                }
            }
        }
    }
}
.wrapper-last-block {
    margin-top: 40px;
    padding: 40px 0;
    .last-block-content {
        .last-block__item {
            img {
                object-fit: contain;
                object-position: center;
            }
            background: #FFF;
            border-radius: 4px;
            padding: 40px 60px;
            margin-bottom: 35px;
            display: flex;
            justify-content: space-between;
            // flex-wrap: wrap;
            @media screen and (max-width: 768px) {
                padding: 20px;
                flex-wrap: wrap;
            }
            &:last-child {
                margin-bottom: 0;
            }
            .last-block__item-content {
                padding-left: 45px;
                @media screen and (max-width: 768px) {
                    padding: 0;
                }
                p {
                    &:first-child {
                        font-family: 'Lora', serif;
                        font-style: normal;
                        font-weight: bold;
                        font-size: 30px;
                        line-height: 42px;
                    }
                }
            }
        }
    }
}
.block-banner {
    background-image: url('../../images/bg-banner.png');
    height: 450px;
    position: relative;
    @media screen and (max-width: 480px) {
        height: 250px;
    }
    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #333;
        opacity: .5;
    }
    h1 {
        color: #fff;
        margin-top: 250px;
        width: 50%;
        font-family: 'Lora', serif;
        font-style: normal;
        font-weight: normal;
        font-size: 52px;
        line-height: 70px;
        position: absolute;
        @media screen and (max-width: 1366px) {
            margin-top: 150px;
        }
        @media screen and (max-width: 1024px) {
            margin-top: 145px;
        }
        @media screen and (max-width: 768px) {
            width: 100%;
            margin-top: 145px;
        }
        @media screen and (max-width: 480px) {
            width: 90%;
            margin-top: 80px;
            font-size: 36px;
            line-height: 42px;
        }
    }
}
.tab-link {
    margin-bottom: 60px;
    @media screen and (max-width: 480px) {
        margin-bottom: 48px;
    }
    ul.tab-custom {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 0;
        padding: 30px 0;
        @media screen and (max-width: 480px) {
            display: none;
        }
        li {
            position: relative;
            a {
                font-family: Barlow;
                font-style: normal;
                font-weight: bold;
                font-size: 18px;
                line-height: 22px;
                color: #fff;
                text-decoration: none; 
            }
            &:first-child {
                margin-right: 68px;
                @media screen and (max-width: 480px) {
                    margin-right: 20px;
                }
            }
            .active-page {
                height: 5px;
                background: #fff;
                position: absolute;
                bottom: -30px;
                width: 100%;
            }
        }
    }
    .tab-custom__mobile {
        display: none;
        @media screen and (max-width: 480px) {
            display: block;
        }
        a.btn {
            background-color: transparent;
            border: 0;
            padding: 0;
            height: 60px;
            line-height: 60px;
            font-family: Barlow;
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            width: 100%;
            text-align: left;
            &:focus {
                box-shadow: none;
            }
            &::after {
                background: url(../../images/icon-select-2.png) no-repeat;
                border: 0;
                width: 23px;
                height: 13px;
                float: right;
                margin-top: 25px;
            }
        }
        ul.dropdown-menu {
            width: 100%;
            border-radius: 0;
        }
    }
}
.learn-more {
    font-family: Barlow;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
    color: #00419F;
    text-decoration: none;
    display: inline-block;
}
.all-products {
    margin-top: 60px;
    @media screen and (max-width: 480px) {
        margin-top: 0;
    }
    .list-solution {
        transition: all .1s ease;
        .solution-title {
            font-family: 'Lora', serif;
            font-style: normal;
            font-weight: bold;
            font-size: 30px;
            line-height: 42px;
            color: #000;
            margin-bottom: 36px;
        }
        .wrap-solution {
            display: flex;
            flex-wrap: wrap;
            @media screen and (max-width: 480px) {
                justify-content: space-between;
            }
            .solution-item {
                padding: 10px 24px;
                margin-bottom: 30px;
                border: 1px solid #E6E6E6;
                box-sizing: border-box;
                border-radius: 6px;
                min-height: 110px;
                width: 250px;
                margin-right: 20px;
                @media screen and (min-width: 960px) {
                    &:nth-of-type(3n) {
                        margin-right: 0;
                    }
                }
                @media screen and (max-width: 1366px) {
                    width: 215px;
                }
                @media screen and (max-width: 480px) {
                    width: 170px;
                    padding: 10px;
                    margin-right: 10px;
                    &:nth-of-type(2n) {
                        margin-right: 0;
                    }
                }
                .solution-item__title {
                    margin-bottom: 5px;
                    a {
                        font-family: 'Lora', serif;
                        font-style: normal;
                        font-weight: bold;
                        font-size: 18px;
                        line-height: 24px;
                        color: #00419F;
                        text-decoration: none;
                    }
                }
                .solution-item__desc {
                    font-family: Barlow;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 20px;
                    color: #333;
                    margin-bottom: 0;
                }
            }
        }
    }
}

.new-footer {
    background-image: url('../../images/bg-new-footer.png');
    background-repeat: no-repeat;
    width: 100%;
    min-height: 250px;
    margin-top: 50px;
    p {
        font-family: 'Lora', serif;
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        line-height: 42px;
        color: #FFFF;
        margin-bottom: 0;
        margin-top: 15%;
        @media screen and (max-width: 480px) {
            margin-top: 10%;
            font-size: 22px;
            line-height: 36px;
            text-align: center;
        }
    }
    .one-click {
        text-align: right;
        @media screen and (max-width: 480px) {
            text-align: center;
        }
        a {
            font-family: Barlow;
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            line-height: 50px;
            color: #FFF;
            text-decoration: none;
            display: inline-block;
            background: #00419F;
            border-radius: 2px;
            width: 235px;
            height: 50px;
            text-align: center;
            margin-top: 20%;
            @media screen and (max-width: 480px) {
                margin-top: 10%;
                width: 100%;
            }
        }
    }
}
.video-cds {
    width: 1720px;
    max-width: 97%;
    margin: auto;
    @media screen and (max-width: 1366px) {
        width: 1200px;
    }
    @media screen and (max-width: 768px) {
        width: 100%;
    }
}
.box-menu__item {
    width: 250px;
    @media screen and (max-width: 1024px) {
        width: 210px;
    }
    .box-menu__title {
        font-family: 'Lora', serif;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 42px;
        color: #000;
        margin-bottom: 11px;
        position: relative;
        padding-left: 20px;
        cursor: pointer;
        @media screen and (max-width: 1366px) {
            line-height: 24px;
            margin-bottom: 40px;
        }
        &.box-menu__active::before {
            content: "";
            display: inline-block;
            width: 8px;
            height: 8px;
            background-color: #00419F;
            position: absolute;
            left: 0;
            top: 18px;
            @media screen and (max-width: 1366px) {
                top: 10px;
            }
        }
    }
    .box-menu__solition {
        padding-left: 20px;
        li {
            padding-left: 17px;
            border-left: 3px solid #ECECEC;
            padding-bottom: 6px;
            padding-top: 6px;
            cursor: pointer;
            &.active {
                border-left-color: #00419F;
            }
            a {
                font-family: Barlow;
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 18px;
                color: #666;
                text-decoration: none;
                @media screen and (max-width: 480px) {
                    font-size: 18px;
                    line-height: 28px;
                }
            }
        }
    }
}

.box-menu {
    height: 90vh;
    overflow-y: auto;
    @media screen and (max-width: 1366px) {
        height: 500px;
        overflow-y: auto;
    }
    &::-webkit-scrollbar-track {
	    background-color: #F5F5F5;
    }
    &::-webkit-scrollbar {
        width: 6px;
	    background-color: transparent;
    }
    &::-webkit-scrollbar-thumb {
        background-color: #C4C4C4;
    }
    &.box-menu__mobile {
        @media screen and (max-width: 1024px) {
            overflow: hidden;
            margin-bottom: 30px;
            position: relative;
            height: 58px;
            padding: 16px 24px;
            border: 1px solid #ddd;
            border-radius: 4px;
            z-index: 9;
            background-color: #fff;
            left: 0;
        }
        &.fixed {
            @media screen and (max-width: 1024px) {
                width: 100%;
                margin-bottom: 0;
                position: fixed;
                top: 100px!important;
            }
            @media screen and (max-width: 480px) {
                width: 100%;
                margin-bottom: 0;
                position: fixed;
                top: 78px!important;
            }
        }
        &.open {
            @media screen and (max-width: 1024px) {
                height: 30vh;
                overflow-y: auto;
            }
            @media screen and (max-width: 480px) {
                height: 90vh;
                overflow-y: auto;
            }
            .box-menu__item {
                @media screen and (max-width: 1024px) {
                    display: block;
                    margin-top: 35px;
                }
            }
        }
        .jump-to {
            display: none;
            width: 100%;
            position: absolute;
            left: 0;
            padding-left: 24px;
            height: 58px;
            top: 0;
            padding-top: 16px;
            &.show {
                img {
                    transform: rotate(180deg);
                }
            }
            img {
                float: right;
                margin-right: 16px;
                margin-top: 10px;
                -webkit-transition: all 0.4s ease-in-out;
                transition: all 0.4s ease-in-out;
            }
            @media screen and (max-width: 1024px) {
                display: block;
            }
        }
        .box-menu__item {
            @media screen and (max-width: 1024px) {
                width: 100%;
                display: none;
            }
        }
    }
}
.box-left {
    position: relative;
    @media screen and (max-width: 1024px) {
        width: 100%;
    }
}
.fixed {
    position: fixed;
}
.product-detail {
    margin-top: 60px;
    position: relative;
    @media screen and (min-width: 1366px) {
        .box-left {
            padding-left: 0;
            padding-right: 10px;
        }
    }
    @media screen and (max-width: 480px) {
        margin-top: 0;
    }
    .box-menu {
        height: auto;
        @media screen and (max-width: 1024px) {
            height: 58px;
            position: absolute;
            width: 100%;
            &.fixed {
                position: fixed;
                top: 104px;
            }
        }
    }
    .box-menu__item {
        width: auto;
    }
    .solution-title {
        font-family: 'Lora', serif;
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        line-height: 42px;
        color: #000;
        margin-bottom: 25px;
    }
    .button-group {
        margin-bottom: 25px;
        margin-top: 27px;
        a {
            border-radius: 2px;
            width: 200px;
            display: inline-block;
            text-align: center;
            text-decoration: none;
            font-family: Barlow;
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            line-height: 50px;
            @media screen and (max-width: 480px) {
                width: 170px;
            }
            &.btn-free-trial {
                color: #fff;
                background-color: #00419F;
                margin-right: 11px;
                @media screen and (min-width: 1366px) {
                    &:hover {
                        border: 1px solid #00419F;
                        background: #fff;
                        color: #00419F;
                        line-height: 48px;
                    }
                }
                @media screen and (max-width: 480px) {
                    margin-right: 7px;
                }
            }
            &.btn-register {
                line-height: 48px;
                border: 1px solid #00419F;
                box-sizing: border-box;
                color: #00419F;
                &:hover {
                    border: none;
                    color: #fff;
                    line-height: 50px;
                    background-color: #00419F;
                }
                @media screen and (max-width: 1280px) {
                    &:hover {
                        border: 1px solid #00419F;
                        color: #00419F;
                        background-color: #fff;
                    }
                }
            }
        }
    }
    .elastic-overview {
        margin-bottom: 50px;
        @media screen and (max-width: 1024px) {
            margin-top: 100px;
        }
        .elastic-overview_desc {
            font-family: Barlow;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 22px;
            color: #333;
        }
        ul {
            margin: {
                bottom: 0;
                left: 0;
            }
            li {
                font-family: Barlow;
                font-style: normal;
                font-size: 14px;
                line-height: 20px;
                color: #333;
                margin-bottom: 19px;
                position: relative;
                padding-left: 13px;
                &::before {
                    content: "";
                    display: inline-block;
                    width: 6px;
                    height: 6px;
                    background-color: #00419F;
                    position: absolute;
                    left: 0;
                    top: 5px;
                }
                &:last-child {
                    margin-bottom: 0;
                }
                span {
                    font-weight: bold;
                }
            }
        }
        .device-macbook.device-spacegray .device-frame {
            box-shadow: inset 0 0 0 2px #d4d0cc;
            width: 550px;
            height: 360px;
            background: #D4D0CC;
            padding: 11px 12px 11px 12px;
            @media screen and (max-width: 1425px) {
                width: 500px;
            }
            @media screen and (max-width: 1366px) {
                width: 480px;
            }
            @media screen and (max-width: 480px) {
                width: 100%;
            }
        }
        .device-macbook.device-spacegray .device-power::before {
            background: #D4D0CC;
            box-shadow: inset 0 -2px 6px 0 #d4d0cc;
            width: 650px;
            left: -4px;
            top: 2px;
            @media screen and (max-width: 1425px) {
                width: 550px;
                left: -69px;
            }
            @media screen and (max-width: 1366px) {
                width: 525px;
                top: 4px;
            }
        }
        .device-macbook.device-spacegray .device-power {
            background: #d4d0cc;
            border-color: #d4d0cc;
            width: 650px;
            margin-left: 39px;
            margin-top: -10px;
            @media screen and (max-width: 1425px) {
                width: 500px;
                left: -10px
            }
            @media screen and (max-width: 1366px) {
                margin-left: -10px;
                width: 525px;
            }
            @media screen and (max-width: 480px) {
                width: 100%;
                display: none;
            }
        }
        .device-macbook .device-frame::after,
        .device-macbook .device-frame::before,
        .device-macbook.device-spacegray .device-power::after {
            display: none;
        }
    }
    .img-wrap {
        width: 70px;
        height: 70px;
        background: #fff;
        display: flex;
        justify-content: center;
        border-radius: 10px;
        margin-bottom: 10px;
        img {
            display: block;
            margin: auto;
            width: auto;
        }
    }
    .elastic-feature {
        @media screen and (min-width: 768px) {
            .elastic-feature__item:first-child {
                margin-bottom: 70px;
            }
        }
        .elastic-feature__item {
            @media screen and (max-width: 480px) {
                margin-bottom: 24px;
            }
        }
        .elastic-feature__title {
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            line-height: 42px;
            color: #00419F;
            font-family: 'Lora', serif;
            margin-bottom: 0;
        }
        .elastic-feature__desc {
            font-family: Barlow;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 22px;
            color: #333;
            margin-bottom: 0;
        }
    }
    .detail-product__carousel {
        position: relative;
        .img-wrap {
            background: #F1F1F1;
        }
        .owl-stage {
            padding-left: 0!important;
        }
        .owl-item {
            height: 280px;
            border: 1px solid #D0D0D0;
            box-sizing: border-box;
            border-radius: 4px;
            padding: 37px 25px 20px 36px;
            @media screen and (min-width: 1366px) {
                // width: 385px!important;
            }
            .carousel-title {
                font-family: 'Lora', serif;
                font-style: normal;
                font-weight: bold;
                font-size: 18px;
                line-height: 42px;
                color: #00419F;
                margin-bottom: 0;
            }
            .carousel-desc {
                font-family: Barlow;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 22px;
                color: #333;
                margin-bottom: 0;
            }
        }
        .owl-nav .disabled {
            display: none;
        }
        .owl-nav {
            position: absolute;
            width: 100%;
            top: 45%;
            button {
                width: 50px;
                height: 50px;
                background: #00419F;
                border-radius: 50%;
                &:hover {
                    background: #00419F;
                }
                &.owl-prev {
                    float: left;
                    img {
                        transform: rotate(180deg);
                    }
                }
                &.owl-next {
                    float: right;
                }
            }
        }
    }
    .elastic-advantages {
        padding: {
            top: 60px;
            bottom: 70px;
        }
    }
    .related-product {
        padding: {
            top: 55px;
            bottom: 68px;
        }
    }
    .price-list {
        .price-list__item {
            width: 234px;
            text-align: center;
            float: left;
            margin-right: 13px;
            &:nth-child(5) {
                margin-right: 0;
            }
            @media screen and (max-width: 1366px) {
                width: 220px;
            }
            @media screen and (max-width: 1024px) {
                width: 224px;
            }
            @media screen and (max-width: 480px) {
                width: 48%;
                &:nth-child(odd) {
                    margin-right: 0;
                }
            }
            .price{
                background: #242424;
                color: #fff;
                font-family: Barlow;
                font-style: normal;
                height: 60px;
                padding-top: 10px;
                p {
                    margin-bottom: 0;
                    &:first-child {
                        font-weight: bold;
                        font-size: 24px;
                        line-height: 22px;
                    }
                    &:last-child {
                        font-size: 14px;
                        line-height: 22px;
                    }
                }
            }
            ul {
                margin: 0;
                background: #FFFFFF;
                border: 1px solid #C7C7C7;
                box-sizing: border-box;
                padding-top: 18px;
                padding-bottom: 26px;
                margin-bottom: 28px;
                li {
                    font-family: Barlow;
                    font-style: normal;
                    font-size: 14px;
                    line-height: 26px;
                    color: #333;
                    margin-bottom: 8px;
                    span {
                        font-weight: bold;
                    }
                    a.register-now {
                        color: #FFF;
                        background: #00419F;
                        border-radius: 2px;
                        width: 150px;
                        height: 40px;
                        display: inline-block;
                        line-height: 40px;
                        margin-top: 14px;
                        text-decoration: none;
                        font-weight: bold;
                    }
                }
            }
        }
        .price-note {
            font-family: Barlow;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 22px;
            color: #333;
            margin-bottom: 0;

        }
    }
    .new-footer {
        margin-top: 0;
    }
    .customers .wrap-customers ._img-customers {
        width: calc((100% / 5) - 22px);
        margin-bottom: 60px;
        &:nth-child(5) {
            margin-right: 0;
        }
        @media screen and (max-width: 480px) {
            width: calc((100% / 2) - 22px);
            &:last-child {
                margin-bottom: 60px;
            }
        }
    }
    .customers.bg-gray {
        padding-bottom: 12px;
    }
    .device-macbook {
        padding-top: 67px;
        margin-left: 50px;
        @media screen and (max-width: 1425px) {
            width: 500px;
        }
        @media screen and (max-width: 1366px) {
            width: 500px;
            margin-left: 25px;
        }
        @media screen and (max-width: 1024px) {
            margin-left: -18px;
        }
        @media screen and (max-width: 480px) {
            width: 100%;
            margin-top: 30px;
            margin-left: 0;
        }
    }
}
.box-menu.box-menu-pr {
    .box-menu__item {
        cursor: pointer;
    }
}

.fixed-bt {
    bottom: 70%;
    @media screen and (max-width: 1366px) {
        bottom: 75%;
    }
}
.product-detail__left {
    position: absolute;
    left: 145px;
}
.full-width-1024 {
    @media screen and (max-width: 1024px) {
        width: 100%;
    }
    @media screen and (max-width: 480px) {
        width: auto;
    }
}
.bg-ve-chung-toi {
    height: 450px;
    width: 100%;
    background-image: url('../../images/bg-ve-chung-toi.png');
    background-repeat: no-repeat;
    color: #fff;
    padding: {
        top: 108px;
        bottom: 83px;
    };
    @media screen and (max-width: 480px) {
        padding: 55px 0px;
        height: 400px;
    }
    p {
        font-family: Barlow;
        font-style: normal;
        font-weight: normal;
        font-size: 36px;
        line-height: 44px;
        margin-bottom: 42px;
        @media screen and (max-width: 480px) {
            font-size: 24px;
            line-height: 34px;
        }
    }
    a {
        text-decoration: none;
        font-size: 14px;
        display: inline-block;
        width: 200px;
        height: 50px;
        line-height: 50px;
        text-align: center;
        color: #fff;
        background-color: #00419F;
        border-radius: 2px;
        font-weight: bold;
        &:hover {
            @media screen and (min-width: 1366px) {
                background-color: #fff;
                color: #00419F;
            }
        }
    }
}
.about-us__block {
    padding: 68px 0;
    .about-us__title {
        font-weight: bold;
        font-size: 30px;
        line-height: 42px;
        color: #000;
        margin-bottom: 30px;
        width: 90%;
        @media screen and (max-width: 480px) {
            width: 100%;
        }
    }
    .about-us__item {
        text-align: center;
        .img {
            height: 110px;
            align-items: flex-end;
            display: flex;
            justify-content: center;
            margin-bottom: 28px;
        }
        .text {
            font-weight: 500;
            font-size: 18px;
            line-height: 22px;
            color: #00419F;
            width: 300px;
            max-width: 100%;
            margin: auto;
        }
        .text-number {
            font-family: 'Lora', serif;
            font-style: normal;
            font-weight: normal;
            font-size: 80px;
            line-height: 80px;
            margin-bottom: 17px;
        }
        .item-custom {
            @media screen and (max-width: 480px) {
                margin-top: 24px;
            }
        }
    }
    .item-number {
        margin-bottom: 70px;
        &:nth-last-child(-n+3) {
            @media screen and (min-width: 768px) {
                margin-bottom: 0;
            }
        }
        @media screen and (max-width: 480px) {
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    &.last-block {
        p:not(.last-text) {
            margin-bottom: 24px;
        }
    }
}
.last-text {
    font-family: Barlow;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    color: #333;
    margin-bottom: 20px;
}
.header-popup-search.is-active {
    z-index: 999;
}
ul.option-search {
    position: absolute;
    box-shadow: 0 0 0 1px rgb(68 68 68 / 11%);
    background-color: #fff;
    width: 100%;
    padding: 10px 50px 10px 55px;
    min-height: 100px;
    opacity: 0;
    -webkit-transition: all .2s cubic-bezier(.5,0,0,1.25),opacity .15s ease-out;
    transition: all .2s cubic-bezier(.5,0,0,1.25),opacity .15s ease-out;
    @media screen and (max-width: 480px) {
        padding: 10px 16px 10px 24px;
    }
    &.show-result {
        opacity: 1;
    }
    li {
        position: relative;
        padding-bottom: 10px;
        &:last-child {
            padding-bottom: 0;
        }
        a {
            color: #333;
            text-decoration: none;
        }
        span.icon-option {
            position: absolute;
            right: 0;
        }
        span.icon-option.icon-percent {
            color: #fff;
            background: blue;
            border-radius: 50%;
            padding: 0px 3px;
        }
        span.icon-option.icon-remove {
            padding-right: 10px;
            opacity: .3;
            cursor: pointer;
        }
        span.icon-option.icon-remove:before, span.icon-option.icon-remove:after {
            position: absolute;
            content: ' ';
            height: 15px;
            width: 2px;
            background-color: #333;
        }
        span.icon-option.icon-remove:before {
            transform: rotate(45deg);
        }
        span.icon-option.icon-remove:after {
            transform: rotate(-45deg);
        }
    }
}
.wrap-search-header {
    position: relative;
}
.input-search-header {
    font-size: 18px!important;
    font-weight: 600;
}
.overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.53);
    z-index: 998;
    display: none;
}
.pb-mobile-ip {
    @media screen and (max-width: 480px) {
        padding-bottom: 120px!important;
    }
}
