

.digital-convers {
    .bg-black {
        background: url(../../images/bg-black.png) no-repeat center center;
        width: 100%;
        height: 450px;
        @media screen and (max-width: 480px) {
            height: 250px;
        }
        .text-bg {
            color: #fff;
            font-size: 52px;
            line-height: 58px;
            width: 589px;
            font-family: SFU Life;
            margin-top: 170px;
            @media screen and (max-width: 480px) {
                font-size: 36px;
                line-height: 42px;
                width: 100%;
                margin-top: 15%;
            }
        }
    }
    .bg-blue {
        background: #00419F;
        padding: 20px 0;
        @media screen and (max-width: 480px) {
            .wrap-cs {
                width: 100%;
                overflow: auto;
            }
        }
        ul {
            margin: 0;
            padding: 0;
            display: flex;
            align-items: center;
            @media screen and (max-width: 480px) {
                width: 600px;
            }
            @media screen and (max-width: 1200px) {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
            li {
                list-style: none;
                margin-right: 172px;
                @media screen and (max-width: 1200px) {
                    margin-right: 0;
                }
                p {
                    color: #fff;
                    margin: 0;
                    font-weight: 600;
                    font-size: 18px;
                    line-height: 22px;
                }
                &:last-child {
                    margin-right: 0;
                }
                .nber {
                    margin-bottom: 1px;
                }
            }
        }
    }
    .overview {
        margin: 64px 0;
        @media screen and (max-width: 480px) {
            margin: 48px 0;
        }
        .wrap-overv {
            display: flex;
            // align-items: center;
            justify-content: space-between;
            flex-wrap: nowrap;
            @media screen and (max-width: 768px) {
                display: block;
            }
        }
        .overview-info {
            width: 590px;
            margin-right: 123px;
            @media screen and (max-width: 1425px) {
                width: 520px;
                margin-right: 50px;
            }
            @media screen and (max-width: 1366px) {
                width: 450px;
                margin-right: 75px;
            }
            @media screen and (max-width: 1200px) {
                width: calc((100% / 2) - 25px);
                margin-right: 25px;
            }
            @media screen and (max-width: 768px) {
                width: 100%;
                margin-right: 0px;
                margin-bottom: 32px;
            }
            .title {
                font-weight: bold;
                font-size: 36px;
                line-height: 42px;
                margin-bottom: 35px;
                font-family: SFU Life;
                
            }
            .content {
                font-size: 14px;
                line-height: 22px;
                color: #333333;
            }
        }
        .video {
            width: 488px;
            @media screen and (max-width: 1366px) {
                width: calc(100% - 525px);
            }
            @media screen and (max-width: 1200px) {
                width: calc((100% / 2) - 25px);
                margin-left: 25px;
            }
            @media screen and (max-width: 768px) {
                width: 100%;
                margin-left: 0px;
            }
            ._img {
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                border-radius: 2px 2px 0px 0px;
                width: 100%;
                position: relative;
                img {
                    border-radius: 2px 2px 0px 0px;
                }
                .play {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                }
            }
            ._tt-info {
                background: #FFFFFF;
                box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
                width: 100%;
                padding: 21px;
                .vd-title {
                    font-weight: 600;
                    font-size: 18px;
                    line-height: 24px;
                }
            }
            
        }
        .block-btn {
            @media screen and (max-width: 1200px) {
                .btn-xn {
                    margin-bottom: 16px;
                    margin-right: 0;
                }
            }
        }
    }
}

.customers {
    .customers-title {
        font-weight: bold;
        font-size: 36px;
        line-height: 42px;
        font-family: "Lora", serif;
        margin-bottom: 62px;
        color: #000000;
    }
    .wrap-customers {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        @media screen and (max-width: 1200px) {
            justify-content: center;
        }
        @media screen and (max-width: 768px) {
            justify-content: space-between;
        }
        ._img-customers {
            width: calc((100% / 6) - 22px);
            height: 90px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 22px;
            border: 1px solid #CFCFCF;
            box-sizing: border-box;
            border-radius: 2px;
            @media screen and (max-width: 1200px) {
                width: calc((100% / 4) - 22px);
                margin-top: 11px;
                margin-bottom: 11px;
                img {
                    width: 80%;
                }
            }
            @media screen and (max-width: 768px) {
                width: calc((100% / 3) - 22px);
                margin-right: 0;
            }
            @media screen and (max-width: 480px) {
                width: calc((100% / 2) - 22px);
                margin: 11px;
            }
            &:last-child {
                margin-right: 0px;
                @media screen and (max-width: 1200px) {
                    margin-right: 22px;
                }
                @media screen and (max-width: 768px) {
                    margin-right: 0;
                }
                @media screen and (max-width: 480px) {
                    margin: 11px;
                }
            }
        }
    }
}
.bg-gray {
    background: #F3F4F8;
    padding: 68px 0;
}

@media (min-width: 1024px) {
    ._cirle {
        ._point {
            position: absolute;
            z-index: 10;
        }
    }
}
.btn-solution__contact {
    @media screen and (max-width: 480px) {
        width: 232px;
        text-align: center;
    }
}
span.js-banner-head {
    font-size: 14px;
    line-height: 20px;
}
a.js-banner-head {
    font-size: 12px;
    line-height: 24px;
}