@use "sass:math";

.h-title {
    font-weight: bold;
    font-size: 48px;
    line-height: 65px;
    text-align: center;  
    // text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 30px;    
    @media screen and (max-width: 480px) {
        font-size: 32px;
        line-height: 42px;
    }
    @media screen and (max-width: 768px) {
        font-size: 40px;
        line-height: 50px;
    }
}


.hd-title {
    font-weight: bold;
    font-size: 36px;
    line-height: 49px;
    margin-bottom: 12px;
    text-align: center;
    margin-bottom:24px;
    @media screen and (max-width: 480px) {
        font-size: 24px;
        line-height: 32px;
    }
    @media screen and (max-width: 768px) {
        font-size: 32px;
        line-height: 42px;
    }
}
.success-story {
    margin: 56px 0;
    .wrap-story {
        width: 660px;
        margin: auto;
        @media screen and (max-width: 480px) {
            width: 100%;
        }
    }
    .item {
        text-align: center;
        position: relative;
        .item-des {
            width: 469px;
            margin: auto;
            margin-bottom: 24px;
            @media screen and (max-width: 480px) {
                width: 100%;
            }
        }
        img {
            width: auto;
            margin: auto;
        }
        .comment {
            margin-top: 32px;
            position: relative;
            img {
                display: inline;
                width: 42px;
            }
            p {
                margin-bottom: 15px;
                line-height: 13px;
            }
        }
        .customer {
            .customer-name {
                font-weight: bold;
                font-size: 24px;
                line-height: 33px;
            }
            .customer-cd {
                font-size: 14px;
                line-height: 19px;
                color: #2B2B2B;
            }
        }
    }

    .owl-nav {
        button {
            position: absolute;
            content: '';
            width: 40px;
            height: 40px;
            top: 18%;
            span {
                display: none;
            }
        }
        .owl-prev {
            background: url(../../images/arrow-l.png) !important;
            left: 12%;
            @media screen and (max-width: 480px) {
                left: 0;
            }
        }
        .owl-next {
            background: url(../../images/arrow-r.png) !important;
            right: 12%;
            @media screen and (max-width: 480px) {
                right: 0;
            }
        }
    }

}

.academy-number {
    background: #F5F5F5;
    padding-top: 56px;
    @media screen and (max-width: 480px) {
        padding-top: 48px;
    }
    .academy-items {
        background: #000000;
        padding: 24px 0 50px 0;
        display: flex;
        align-items:center;
        justify-content: space-between;
        flex-direction: column;
        @media screen and (max-width: 768px) {
            padding: 24px 24px 50px 24px;
        }
        @media screen and (max-width: 1200px) {
            padding: 24px 50px 50px 50px;
        }
        @media screen and (max-width: 480px) {
            padding: 24px 0 50px 0;
        }
    }
    .wrap-aca-numb {
        @media screen and (max-width: 768px) {
            width: 100%;
            overflow: auto;
            ::-webkit-scrollbar {
                display: none;
            }
        }
        @media screen and (max-width: 1200px) {
            width: 100%;
            overflow: auto;
            ::-webkit-scrollbar {
                display: none;
            }
        }
    }
    .wrap-items {        
        display: flex;
        align-items:center;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 46px;
        width: 100%;
        padding: 0 20px;
        @media (min-width: 1400px) {
            width: 1676px;
        }
        @media screen and (max-width: 480px) {
            display: block;
            width: 100%;
            padding: 0 15px;
        }
        .item {
            width: calc((100% / 5) - 19px);
            @media screen and (max-width: 576px) {                
                width: 100%;
                margin-bottom: 16px;
                &:last-child {
                    margin-bottom: 0;
                }
                &:nth-of-type(n+3) {
                    display: none;
                }
            }
            img {
                width: 100%;
            }
            .item-info {
                .item-info-title {
                    font-size: 16px;
                    line-height: 26px;
                    color: #FFFFFF;
                    display: block;
                    margin: 8px 0;
                    text-decoration: none;
                }
                .item-info-des {
                    font-size: 14px;
                    line-height: 26px;
                    color: #969696;
                    margin-bottom: 0;
                }
            }
        }
    }
    .btn-readmore {
        padding: 15px 28px;
        font-weight: bold;
        font-size: 14px;
        line-height: 19px;
        background: #0080DD;
        color: #fff;
    }
}

.connect {
    margin: 64px 0;    
    .hd-title {
        margin-bottom:60px;
        @media screen and (max-width: 480px) {
            margin-bottom: 32px;
        }
    }
    ._connect-thumb {
        @media screen and (max-width: 768px) {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
        }
        @media screen and (max-width: 1200px) {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
        }
    }
    .info-connect {
        margin-top: 32px;
    }
    .academy-link {
        font-size: 18px;
        line-height: 24px;
        text-align: center;
        width: 72%;
        margin: 8px auto 32px auto;
        @media screen and (max-width: 480px) {
            width: 100%;
        }
        @media screen and (max-width: 768px) {
            width: 100%;
        }
    }
    .count-down {
        width: 400px;
        text-align: center;
        margin: auto;
        @media screen and (max-width: 480px) {
            width: 100%;
        }
        @media screen and (max-width: 768px) {
            width: 100%;
        }
    }
    .time_sale {
        margin-bottom: 32px;
    }
    .timer-view {
        display: flex;
        align-items: center;
        justify-content: center;
        .block-timer {
            margin-right: 10px;
            &:last-child {
                margin-right: 0;
            }
        }
        .--bg {
            background: #001339;
            border-radius: 4px;
            border-left: 3px solid #009CF4;
            font-size: 24px;
            line-height: 32px;
            width: 60px;
            height:60px;
            text-align: center;
            line-height: 60px;
            margin-bottom:12px;
            color: #FFFFFF;
        }
        .--txt {
            font-size: 14px;
            line-height: 19px;
            color: #989898;
        }
    }
    .endow {
        font-size: 18px;
        line-height: 24px;
        text-align: center;
        color: #000000;
    }
    .acd-offi {
        font-size: 16px;
        line-height: 26px;
        color: #333333;
        margin-bottom: 32px;
    }
    .btn-dk {
        padding: 15px 22px;
        font-weight: bold;
        font-size: 14px;
        line-height: 19px;
        color: #FFFFFF;
        background: #0080DD;
        border-radius: 2px;
    }
}

.support {
    background: #F2F2F2;
    padding: 56px 0;
}

.home-banner {
    margin: 0 auto;
    @media (max-width: 625px) {
        width: 296px;
    }
    img {
        width: 753px;
        height: auto;
        @media (max-width: 625px) {
            width: 296px;
        }
    }
    ._text-head,
    ._text-col-1,
    ._text-col-2,
    ._text-col-3,
    ._nav {
        position: absolute;
        top: 0;
        z-index: 1;
    }
    ._text-head {
        margin-top: math.percentage(math.div(61, 753));
        left: 0;
        right: 0;
        text-align: center;
        font-weight: bold;
        font-size: 18px;
        line-height: 24px;
        @media (max-width: 625px) {
            margin-top: 44px;
            left: 10px;
            font-size: 10px;
            line-height: 16px;
        }
    }
    ._text-col-1,
    ._text-col-2,
    ._text-col-3 {
        position: absolute;
        margin-top: math.percentage(math.div((31+143), 753));
        width: math.percentage(math.div(106, 753));
        text-align: center;
        @media (max-width: 625px) {
            margin-top: 70px;
            font-size: 10px;
            line-height: 13px;
        }
    }
    ._text-col-1 {
        left: math.percentage(math.div(135, 753));
        &.is-active.is-s2 {
            height: 274px;
            padding-top: 67px;
            background-image: url(./../../images/col-bg-is-2.png);
            color: #fff !important;
            margin-top: 113px;
            background-size: 100%;
            font-weight: bold;
            @media (max-width: 625px) {
                height: 108px !important;
                padding-top: 11px !important;
                margin-top: 60px !important;
            }
        }
        @media (max-width: 625px) {
            left: 52px;
        }
    }
    ._text-col-2 {
        left: math.percentage(math.div(335, 753));
        margin-left: -9px;
        top: 26px;
        &.is-active.is-s2 {
            height: 274px;
            padding-top: 84px;
            background-image: url(./../../images/col-bg-is-2.png);
            color: #fff !important;
            margin-top: 88px;
            background-size: 100%;
            font-weight: bold;
            @media (max-width: 625px) {
                height: 108px !important;
                padding-top: 27px !important;
                margin-top: 49px !important;
            }
        }
        @media (max-width: 625px) {
            left: 140px;
            top: 11px;
        }
    }
    ._text-col-3 {
        left: 70%;
        margin-left: -9px;
        top: 13px;
        &.is-active.is-s2 {
            height: 274px;
            padding-top: 79px;
            background-image: url('./../../images/col-bg-is-2.png');
            color: #fff !important;
            margin-top: 101px;
            background-size: 100%;
            font-weight: bold;
            @media (max-width: 625px) {
                height: 108px !important;
                padding-top: 26px !important;
                margin-top: 57px !important;
            }
        }
        @media (max-width: 625px) {
            left: 217px;
            top: 3px;
        }
    }
    ._nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        left: math.percentage(math.div(75, 753));
        right: math.percentage(math.div(77, 753));
        margin-top: math.percentage(math.div((256+143), 753));
        width: math.percentage(math.div(594, 753));
        top: -4px;
        @media(max-width: 625px) {
            width: 264px;
            left: 21px;
            margin-top: 176px;
        }
        li {
            margin-right: 11px;
            margin-bottom: 11px;
            @media (max-width: 625px) {                    
                margin-right: 5px;
                margin-bottom: 4px;
            }
        }
        a {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 28px;
            background: #EFEFEF;
            border-radius: 2px;
            padding: 0 17px;
            color: #333333;
            text-decoration: none;
            font-size: 14px;
            @media (max-width: 625px) {
                font-size: 10px !important;
                line-height: 1;
                height: 14px;
                padding: 0 7px;
            }
            &.is-active {
                color: #fff;
                background-color: #00419F;
            }
        }
    }
}
@media (max-width: 960px) {
    .home-banner ._nav a {
        font-size: 12px;
    }
}


.home-banner {
    @media (min-width: 1425px) {
        width: 700px;
    }
    @media (min-width: 1024px) {
        width: 768px;
    }
    span {
        cursor: pointer;
    }
    span.is-active {
        font-weight: bold;
        color: #00419F !important;
    }
    a.is-active {
        // font-weight: bold;
        color: #fff !important;
        background-color: #00419F !important;
    }
}

.home-banner {
    ._circle-1-shadow {
        position: absolute;
        width: 870px;
        height: 870px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        border: 2px solid #ECECEC;
        @media (min-width: 1024px) {
            ._point {
                position: absolute;
                left: 0;
                top: 0;
            }
        }
    }
    ._circle-2-shadow {
        position: absolute;
        width: 870px;
        height: 870px;
        top: 50%;
        left: 50%;
    }
}

.read-more {
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    text-decoration: none;
    display: inline-block;
    position: relative;
    color: #00419F;
    margin-top: 8px;
    @media screen and (max-width: 480px) {
        font-size: 16px;
        line-height: 24px;
        text-decoration: none;
        margin-top: 0;
    }
    &:hover {
        color: #00419F;
    }
    &:before {
        position: absolute;
        content: "";
        top: 24%;
        right: -20px;
        width: 18px;
        height: 18px;
        background: url(../../images/arrow-l-blue.png);
        @media screen and (max-width: 480px) {
            content: none;
        }
    }
}

@media (min-width: 768px) {
    .home-s2 {
        ._bg {
            position: absolute;
            left: 50%;
            right: 0;
            top: 0;
            height: 100%;
            background-size: cover;
            background-position: center center;
        }
    }
    .home-s3 {
        ._bg {
            position: absolute;
            right: 50%;
            left: 0;
            top: 0;
            height: 100%;
            background-size: cover;
            background-position: center center;
        }
    }
}

@-webkit-keyframes rot-sat {
	from {
		-webkit-transform: rotate(0deg) translatey(-380px) rotate(0deg);
	}

	to {
		-webkit-transform: rotate(360deg) translatey(-380px) rotate(-360deg);
	}
}

@-moz-keyframes rot-sat {
	from {
		-moz-transform: rotate(0deg) translatey(-380px) rotate(0deg);
	}

	to {
		-moz-transform: rotate(360deg) translatey(-380px) rotate(-360deg);
	}
}

@-keyframes rot-sat {
	from {
		transform: rotate(0deg) translatey(-380px) rotate(0deg);
	}

	to {
		transform: rotate(360deg) translatey(-380px) rotate(-360deg);
	}
}

@-webkit-keyframes rot-sat-2 {
	from {
		-webkit-transform: rotate(0deg) translatey(-435px) rotate(0deg);
	}

	to {
		-webkit-transform: rotate(360deg) translatey(-435px) rotate(-360deg);
	}
}

@-moz-keyframes rot-sat-2 {
	from {
		-moz-transform: rotate(0deg) translatey(-435px) rotate(0deg);
	}

	to {
		-moz-transform: rotate(360deg) translatey(-435px) rotate(-360deg);
	}
}

@-keyframes rot-sat-2 {
	from {
		transform: rotate(0deg) translatey(-435px) rotate(0deg);
	}

	to {
		transform: rotate(360deg) translatey(-435px) rotate(-360deg);
	}
}


.building-wrap {
    @media (min-width: 1024px) {
        position: relative;
        width: 950px;
        height: 950px;
        padding: 165px 0;
        margin: 0 auto;
    }
    @media (width: 1024px) {
        transform: scale(.8);
        margin-left: -132px;
    }
    ._circle-1-shadow {
        position: absolute;
        margin-top: -52px;
        margin-left: -13px;
        width: 760px;
        height: 760px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        border: 2px solid #ECECEC;
        &.is-revert {
            transform: translate(-50%, -50%) rotateY(180deg) rotateZ(20deg)
        }
        span {
            display: block;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background: #F4F9FF;
            -webkit-animation: rot-sat 20.59s infinite linear;
            -moz-animation: rot-sat 20.59s infinite linear;
            animation: rot-sat 20.59s infinite linear;
        }
    }
    ._circle-2-shadow {
        position: absolute;
        margin-top: -52px;
        margin-left: -13px;
        width: 870px;
        height: 870px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotateZ(45deg);
        border-radius: 50%;
        border: 2px solid #ECECEC;
        span {
            display: block;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-color: #C6DDFF;
            -webkit-animation: rot-sat-2 30.59s infinite linear;
            -moz-animation: rot-sat-2 30.59s infinite linear;
            animation: rot-sat-2 30.59s infinite linear;
        }
    }
    ._point {
        h4 {
            color: #00419F;
            font-weight: bold;
            font-size: 18px;
            line-height: 36px;
            margin-bottom: 0;
        }
        p {
            font-size: 14px;
            line-height: 18px;
            color: #333
        }
        @media (min-width: 1024px) {
            position: absolute;
            z-index: 100;
            width: 300px;
            padding: 0 28px;
            text-align: center; 
            &:before  {
                position: absolute;
                content: "";
                left: 50%;
                top: -30px;
                display: block;
                width: 20px;
                height: 20px;
                margin-left: -10px;
                background-color: #00419F;
                z-index: 100;
                border-radius: 50%;
            }
            &:nth-child(1) {
                right: 47px;
                top: 120px;
            }
            &:nth-child(2) {
                left: 52px;
                top: 94px;
            }
            &:nth-child(3) {
                left: -123px;
                top: 444px;
            }
            &:nth-child(4) {
                left: 42px;
                top: 782px;
            }
            &:nth-child(5) {
                right: 38px;
                top: 756px;
            }
            &:nth-child(6) {
                right: -84px;
                top: 550px;
            }
        }
    }
    ._cirle {
        @media (min-width: 1024px) {
            transition: all .25s ease;
            ._point {
                transform: scale(1);
                transition: all .25s ease;
            }
            &.is-hidden {
                opacity: 0;
                pointer-events: none;
                ._point {
                    opacity: 0;
                    pointer-events: none;
                    transform: scale(.4);
                }
            }
        }
        @media (max-width: 960px) {
            ._point {
                text-align: center;
                padding: 0 15%;
            }
            &.is-hidden {
                display: none;
            }
        }
    }
    @media (min-width: 1024px) {
        .home-banner {
            transform: scale(0.85);
        }
    }
}
.home-banner.is-detail {
    margin: 0% auto;
}

.btn-onclick {
    position: relative;
    z-index: 1000000000;
}