
.footer {
    .ft-top {
        padding: 48px 0;
    }
    .wrap-left {
        width: 85%;
        margin: auto;
        @media screen and (max-width: 480px) {
            width: 100%;
        }
        @media screen and (max-width: 1024px) {
            width: 100%;
        }
    }
    .wrap-ft {
        display: flex;    
        justify-content: space-between;  
        @media screen and (max-width: 480px) {
            display: block;
        }  
        @media screen and (max-width: 768px) {
            display: block;
        }  
    }
    .ft-left {
        .t-left {
            font-size: 16px;
            line-height: 26px;
            color: #333333;
            margin-bottom: 24px;
        }
        form {
            width: 437px;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
            height: 54px;
            @media screen and (max-width: 480px) {
                width: 100%;
                flex-wrap: unset;
            }  
            @media screen and (max-width: 768px) {
                flex-wrap: unset;
            }  
            input {
                width: 264px;
                height: 100%;
                border-color: #000000;
                border-radius: 0 ;
                box-sizing: border-box;
                outline: none !important;
                box-shadow: none !important;
                @media screen and (max-width: 480px) {
                    width: calc(100% - 130px);
                }  
            }
            .btn-take {
                width: 153px;
                height: 100%;
                background: #0080DD;
                font-weight: bold;
                font-size: 14px;
                line-height: 19px;
                color: #FFFFFF;
                border-radius: 0 ;

                @media screen and (max-width: 480px) {
                    width: 120px;
                }  
            }
        }
    }   
    .ft-right {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        @media screen and (max-width: 480px) {
            display: block;
        }  
        @media screen and (max-width: 768px) {
            display: block;
        }  
        .mn-ft {
            margin-bottom: 32px;
            @media screen and (max-width: 480px) {
                margin-top: 24px;
            }  
            @media screen and (max-width: 768px) {
                margin-top: 24px;
            }  
            ul {
                margin: 0;
                padding: 0;
                display: flex;
                align-items: center;
                @media screen and (max-width: 480px) {
                    flex-wrap: wrap;
                }  
                li {
                    list-style: none;
                    padding-left: 24px;
                    @media screen and (max-width: 480px) {
                        padding-left: 0;
                        padding: 6px 0;
                    }  
                    @media screen and (max-width: 768px) {
                        padding-left: 0;
                        padding-right: 16px;
                    }  
                    a {
                        font-size: 16px;
                        line-height: 26px;
                        color: #333333;
                        display: block;
                        text-decoration: none;
                    }
                }
            }
        }
    }
    .ft-bottom {
        border-top: 1px solid #D8D8D8;
        padding: 28px 0;
        .copy-r {
            margin-bottom: 0;
            width: 85%;
            margin: auto;
            @media screen and (max-width: 480px) {
                width: 100%;
                font-size: 14px;
            }  
            @media screen and (max-width: 1024px) {
                width: 100%;
            }
        }
    }
}

.mxh-ft {
    ul {
        margin: 0;
        padding: 0;
        display: flex;
        align-items:center;
        li {
            list-style: none;
            width: 32px;
            height: 32px;
            border-radius: 50%;
            background: #000;
            text-align: center;
            line-height: 32px;
            margin-left: 16px;
            @media screen and (max-width: 480px) {
                margin-left: 0;
                margin-right: 16px;
            } 
            @media screen and (max-width: 768px) {
                margin-left: 0;
                margin-right: 16px;
            } 
            a {
                color: #fff;
                display: inline-block;
            }
        }
    }
}