@use "sass:math";
.header-logo {
    width: 150px;
    @media (min-width: 1400px) {
        width: 250px;
    }
}

header.header {
    background-color: #fff;
    z-index: 10000000000;
    &:hover {
        background-color: rgba(#fff, 1);
        transition: background-color .1s ease;
    }
    &:before {
        content: "";
        display: none;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 380px;
        background-color: #012355;
        @media (max-width: 576px) {
            width: 100%;
        }
    }
    &.is-below {
        &:before {
            display: block;
        }
        .header-logo {
            img:nth-of-type(1) {
                display: none !important;
            }
            img:nth-of-type(2) {
                display: block !important;
            }
        }
    }
}

.header-lg-menu {
    > li {
        padding: 0 7px;
        @media (min-width: 1366px) {
            padding: 0 10px;
        }
        @media (min-width: 1400px) {
            padding: 0 1rem;
        }
        &.is-page-current {
            > a {
                position: relative;
                color: #00419F !important;
            }
            > a:before {
                position: absolute;
                display: block;
                content: "";
                bottom: -1px;
                left: 0;
                right: 0;
                border-bottom: 5px solid #00419F !important;
            }
        }
    }
    > li > a {
        display: block;
        padding: 40px 0;
        font-size: 16px;
        font-weight: 500;
        text-decoration: none;
        color: #333333;
        white-space: nowrap;
        &:hover {
            color: #00419F !important;
        }
    }
    > li.has-children {
        position: relative;
        & > a {
            position: relative;
            &:before {
                position: absolute;
                display: block;
                content: "";
                bottom: -1px;
                left: 0;
                right: 0;
                border-bottom: 5px solid transparent;
                // transition: all .3s ease-in-out;
            }
            
        }
        > ul {
            display: none;
            position: absolute;
            background: #393939;
            padding: 40px;
            top: 100%;
            width: 900px;
            max-height: calc(100vh - 102px);
            overflow-x: hidden;
            overflow-y: auto;
            @media (min-width: 1200px) {
                width: 952px;
            }
            @media (min-width: 1400px) {
                width: 1070px;
            }
            /* width */
            &::-webkit-scrollbar {
                width: 5px;
            }
            
            /* Track */
            &::-webkit-scrollbar-track {
                background: #f1f1f1;
            }
            
            /* Handle */
            &::-webkit-scrollbar-thumb {
                background: #00419fb3;
            border-radius: 8px;
            }
            
            /* Handle on hover */
            &::-webkit-scrollbar-thumb:hover {
                background: #00419f;
            }
            li {
                margin-bottom: 25px;
                > a {
                    color: #fff;
                    text-decoration: none;
                }
                > a:hover {
                    color: #2981c4 !important;
                }
            }
        }
        &:hover {
            > a:before {
                border-bottom: 5px solid #00419F;
            }
            > ul {
                display: flex;
                flex-wrap: wrap;
            }
        }
        &.is-right {
            & > ul {
                right: -248px;
            }
        }
        ul.is-grid {
            display: flex;
            align-items: top;
            flex-wrap: wrap;
        }
        ul.is-grid-3 {
            > li {
                width: 32%;
                padding-right: 20px;
            }
        }
        ul.is-grid-2 {
            > li {
                width: 48%;
                padding-right: 20px;
            }
        }
    }
}

.header-lg-search-img {
    display: block;
    width: 20px;
    margin-left: 13px;
    margin-top: -1px;
}

.header-popup-menu {
    display: none;
    position: fixed;
    top: 77px;
    left: 0;
    right: 0;
    padding: 36px 0;
    background: #012355;
    z-index: 100;
    @media (min-width: 768px) {
        top: 102px;
        padding: 55px 0;
    }
    &.is-active {
        display: block;
    }
    > ul {
        width: 380px;
        max-width: 100%;
        @media (max-width: 576px) {
            width: 100%;
        }
        &:before {
            display: block;
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 380px;
            width: 100%;
            background: #F4F4F4;
            pointer-events: none;
            @media (max-width: 576px) {
                display: none;
            }
        }
        a {
            // white-space: nowrap;
            text-decoration: none;
            font-size: 16px;
        }
        .sub-menu {
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            height: calc(100vh - 77px);
            overflow-y: auto;
            overflow-x: hidden;
            padding: 36px 30px 36px 63px;
            background-color: #fff;
            z-index: 1;
            opacity: 0;
            pointer-events: none;
            transform: translateX(100px);
            transition: all .275s ease-in-out;
            @media (min-width: 768px) {
                height: auto;
                padding: 55px;
                left: 380px;
                background: #F4F4F4;
                // transform: translateX(0px);
            }
            ._btn-close {
                position: absolute;
                left: 12px;
                top: 32px;
                display: block;
                width: 30px;
                z-index: 1;
            }
            li > a {
                font-size: 16px;
                line-height: 43px;
                color: #333333;
                &:hover {
                    color: #012355;
                }
                @media (min-width: 768px) {
                    line-height: 32px;
                }
            }
            ul {
                &.is-grid-3 {
                    width: 100%;
                    @media (min-width: 768px) {
                        display: flex;
                        flex-wrap: wrap;
                        li {
                            width: math.percentage(math.div(1, 3));
                            margin-bottom: 13px;
                        }
                    }
                }
            }
            ul.is-grid {
                display: flex;
                align-items: top;
                flex-wrap: wrap;
            }
            ul.is-grid-3 {
                > li {
                    width: 32%;
                    padding-right: 20px;
                    @media (max-width: 768px) {
                        width: 100%;
                        padding-right: 0;
                    }
                }
            }
            ul.is-grid-2 {
                > li {
                    width: 48%;
                    padding-right: 20px;
                    @media (max-width: 768px) {
                        width: 100%;
                        padding-right: 0;
                    }
                }
            }
            .sub-menu-title  {
                font-size: 16px;
                line-height: 19px;
                color: #333333;
                border-bottom-color: #999999 !important;
                @media (max-width: 576px) {
                    font-family: 'Lora', serif;
                    font-size: 22px;
                }
            }
        }
        > li {
            padding: 0 33px;
            &:first-child {
                margin-top: -18px;
            }
            > a {
                display: block;
                padding: 12px 0;
                color: #fff;
                font-weight: 500;
                @media (min-width: 768px) {
                    padding: 18px 0;
                }
            }
            &.has-children {
                > a {
                    position: relative;
                    &:after {
                        content: "\f105";
                        display: block;
                        position: absolute;
                        right: 0;
                        top: 10px;
                        z-index: 1;
                        font-family: 'FontAwesome';
                        pointer-events: none;
                        font-size: 20px;
                        color: #fff;
                        @media (min-width: 768px) {
                            top: 16px;
                        }
                    }
                }
                &.is-active {
                    .sub-menu {
                        display: flex;
                        flex-wrap: wrap;
                        opacity: 1;
                        pointer-events: all;
                        transform: translateX(0px);
                        max-height: 621px;
                        transition: all .275s ease-in-out;
                    }
                }
            }
            &.is-active,
            &:hover {
                > a {
                    color: #349bea;
                    &:after {
                        color: #349bea;
                    }
                }
            }
        }
    }
}


.header-popup-search {
    display: none;
    position: fixed;
    top: 0;
    left: calc(100% - 57px);
    right: 0;
    z-index: 100;
    height: 99px;
    padding: 0;
    background-color: transparent;
    transition: all .1s ease;
    @media (min-width: 1200px) {
        left: 380px;
        height: 104px;
        background-color: #fff;
    }
    @media (max-width: 576px) {
        height: 77px;
    }
    @media (max-width: 1024px) {
        display: flex;
        z-index: 999;
        &.hidden-in-menu {
            display: none!important;
        }
    }
    &.is-active {
        display: flex;
    }
    input {
        display: block;
        height: 100%;
        width: 100%;
        border: none;
        padding: 0 92px 0 30px;
        font-size: 26px;
        outline: none !important;
        background-color: transparent;
        @media (min-width: 1200px) {
            font-size: 23px;
            padding: 0 120px 0 55px;
        }
        // @media (min-width: 320px) {
        //     font-size: 14px!important;
        //     padding-left: 24px;
        // }
    }
    ._img {
        position: absolute;
        right: 5px;
        top: 0;
        bottom: 0;
        padding: 0 12px;
        display: flex;
        align-items: center;
        border: none;
        background-color: transparent;
        transition: all .1s ease;
        @media (min-width: 1200px) {
            width: 44px;
            right: 40px;
            background-color: transparent;
        }
    }
    ._close {
        position: absolute;
        right: 55px;
        top: 0;
        bottom: 0;
        width: 26px;
        align-items: center;
        border: none;
        background-color: transparent;
    }
    &.is-mobile-show {
        left: 0;
        background-color: #fff;
        ._img {
            background-color: #fff;
        }
        ._close {
            display: flex !important;
        }
    }
}


.header-popup-cover {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 10;
    background-color: transparent;
    cursor: pointer;
}