
.pg-cookies {
    @media (max-width: 576px) {
        .fz-24px {
            font-size: 24px !important;
            line-height: 26px !important;
        }
    }
    @media (max-width: 768px) {
        .fz-24px {
            font-size: 24px !important;
            line-height: 26px !important;
        }
    }
}