.the-content {
    p {
        margin-bottom: 22px;
    }
    ul,
    li {
        list-style: disc;
    }
    blockquote {
        background-color: #eceaea;
        padding: 10px;
        border-radius: 6px;
        p {
            margin-bottom: 0px;
        }
    }
    img,
    .wp-caption {
        display: block;
        width: 800px;
        max-width: 100%;
        margin: 0.5rem auto;
        text-align: center;
        font-size: 14px;
    }
    .wp-caption img {
        margin: 0 auto !important;
    }
    .wp-caption-text {
        margin-top: 10px;
    }
    .wp-block-image img {
        margin-bottom: 0 !important;
    }
}

.wp-block-image .aligncenter>figcaption,
.wp-block-image .alignleft>figcaption,
.wp-block-image .alignright>figcaption {
    margin-top: 0;
    background-color: #f0f0f0;
    padding: 10px 15px;
    font-size: 13px;
}